[2016-09-08 21:59] gregory38 commented on #168
Please test latest git (without previous hack). You need to enable accuracy blending to basic at least.

[2016-09-08 21:59] aap commented on #600
Perfect! upscaling works and performance doesn't seem to be too different on my machine either. I think this can be closed now.

[2016-09-08 21:59] #600 closed

[2016-09-08 22:53] pepiczech77 commented on #168
In Jak 3 I can confirm that shadows are fine on OGL HW, but now it doesn't work in SW.

Jak X (PAL-M7) (Platinum)
Shadows seems to benefit from this hack as well
[SCES-53286]
GSdx Lookup CRC:DF659E77
![gsdx_20160909004135](https://cloud.githubusercontent.com/assets/17233252/18369493/45ec9ba8-7626-11e6-93ea-3cf483ed69aa.png)
hack off
![gsdx_20160909004202](https://cloud.githubusercontent.com/assets

[2016-09-08 23:32] Nobbs66 commented on #50
Here's the CRC for Jak and Daxter: The Precursor Legacy[NTSC-U] -- 0x472E7699

[2016-09-08 23:35] Nobbs66 commented on #50
Here's the CRC for Jak and Daxter the Precursor Legacy [NTSC-U] --  472E7699

[2016-09-08 23:58] MrCK1 commented on #50
@gregory38

SW renderer works correctly with the new hack, but HW isn't rendered correctly here

![gsdx_20160908195451](https://cloud.githubusercontent.com/assets/16314399/18370823/1d1f75d8-75fe-11e6-9a8d-c35a52832064.png)

[2016-09-09 00:57] sudonim1 commented on #1553
Testing bools against bool constants just seems bizarre to me unless there's a special situation where that makes more sense to the reader.

[2016-09-09 05:38] Nucleoprotein commented on #1552
@lightningterror
This seems to be exactly as mine problem with Star Ocean First Departure and some other games in PPSSPP, maybe both triggers same code in AMD driver.

[2016-09-09 08:22] gregory38 commented on #168
The CRC hack only impact the openGL HW renderer. The auto flush hacks impacts both renderer. It is likely a bad idea to enable both.
The CRC hack is a faster implementation of the auto flush hack for Jak series. By the way, could you tell me the speed impact of the CRC hack.

[2016-09-09 08:27] gregory38 commented on #50
@MrCK1 Hardware is correct. Like tri-aces game, the render target will be rescaled which will cause interpolation glitches. It isn't fixable if we need to support custom resolution. Anyway, I added a CRC hack to use an alternate draw call implementation. If you want to help me collect CRC of Nobbs66, issue #168 , your version and open a PR :+1:

[2016-09-09 09:04] pepiczech77 commented on #168
I have about 47-55fps without CRC hack and about 45-52fps with the CRC hack.

[2016-09-09 09:28] gregory38 commented on #50
@LasagnaPie
could you provide me a gs dump of shadow issue of `Crash of the Titans` (and CRC too, so I can test it on my side).

[2016-09-09 09:32] gregory38 commented on #168
It is much better than previous hack, I  can't do better. Note, perf impact might be bigger if there are lots of shadows (or complex model).

For the record, I'm sorry for AMD users but perf impact will be bigger for them.

[2016-09-09 09:33] gregory38 commented on #1553
Ok. So I will replace the code to remove `true`/`false` constant.

[2016-09-09 09:42] gregory38 commented on #1552
So they fixed the SSO/dual blending issue. Spent 6 months of tests. Finally release it, and boom first test explodes the computer.

Did someone open a report to AMD. Saying that using the dual blending unit crash the whole systems.

@mirh By the way the commit that you found just disable accurate blending on some equations. Initially
`Cs*As + Cd`, `Cs * F + Cd`, `Cd - Cs*As`, `Cd - Cs*F` were alwa

[2016-09-09 10:48] mirh commented on #1552
I first wanted to have a trace they could use to reproduce the issue before opening a report, but I have no time atm.

[2016-09-09 11:11] gregory38 commented on #1552
Might not be easy to have a trace. Did you try to replay your gs dump ?

Anyway, they will need 6 months to release a fix (potentially it is already fixed......).

[2016-09-09 11:24] mirh commented on #1552
I don't know how I can do it :p

[2016-09-09 13:01] Nucleoprotein commented on #1552
@gregory38
This crash seem not to be related with SSO at all, it's something else because PPSSPP does not use SSO and crashes in same way.

[2016-09-09 16:45] PTKickass commented on #168
I belive you said you needed the CRC's of all Jak games that suffer from this issue, so here's a bunch of them (all of these were tested using the OGL HW renderer and high blending accuracy):

CRC:9C712FF0
![6a8fb88f592088e271d7427296276185](https://cloud.githubusercontent.com/assets/20132880/18394996/61b57510-76b4-11e6-8db7-193fe5ecc91a.jpg)

CRC:2479F4A9
![eb58f0dbfbd5a850c7b0bc9af6b42f52](https

[2016-09-09 16:52] gregory38 commented on #168
I need the game name (for example jak 2). And the region too (for example Eu)

[2016-09-09 16:55] PTKickass commented on #168
Ok, I'll say it by the same order:

Jak and Daxter: The Precursor Legacy (Europe)
Jak II - Renegade (Europe, Australia)
Jak X (Europe, Australia)

[2016-09-09 17:34] refractionpcsx2 commented on #168
jak
jak2
jakx

then xD

[2016-09-09 17:40] trostboot opened #1555 "Valkyrie Profile: Silmeria [NTSC-U] - missing audio, softlock during cutscene"
-PCSX2 version: PCSX2 1.5.0-20160905201613, also tested with 1.0.0 and 0.9.6

-PCSX2 options: Defaults, no speedhacks, also tested with EE/IOP and VU interpreters

-Plugins used: GSdx, SPU2-X, Pokopom

-Plugin settings: D3D11 SW

-Description: Entering the boss room in the Turgen Mines dungeon triggers a short cutscene.
Audio is completely missing during the scene.
Half-way through the scene the g

[2016-09-09 17:47] willkuer commented on #1555
Can you please post the emulog after you observed the problem?

[2016-09-09 17:47] gregory38 commented on #50
I pushed a new version with various CRC. Feel free to test the openGL renderer + accurate blending on basic.

[2016-09-09 17:47] gregory38 commented on #168
I pushed a new version with various CRC. Tell me if shadows are fine on the openGL renderer + accurate blending on basic.

[2016-09-09 18:02] trostboot commented on #1555
Updated with log.

[2016-09-09 18:20] PTKickass commented on #168
Teste the above mentioned games with the specified settings, shadows are working fine now:
![90d4f106c50c6a61a84c5e40b58e7d12](https://cloud.githubusercontent.com/assets/20132880/18397688/3d8ec9b8-76c1-11e6-8321-1fe986de6adc.jpg)
![d1cd55a62bbf7614316414cd43407a37](https://cloud.githubusercontent.com/assets/20132880/18397699/4a1efb1c-76c1-11e6-938a-665699b2593c.png)
![6c88dbae931f56dbcb90c4e031a21

[2016-09-09 18:59] gregory38 commented on #168
[code]
You ask too much ;) Either mipmap or something wrong in the texture cache. Not for this month, working shadows are already a huge improvement.

[2016-09-09 19:00] PTKickass commented on #168
I'm not asking, just reporting :)

[2016-09-09 19:13] gregory38 commented on #168
Actually I saw it on my gs dump. Potentially I already looked at it. If it isn't fixed it is surely a complex issue.

I added your CRC too.

By the way, who can add a gui option for the `auto flush hack`

[2016-09-09 19:24] vsub commented on #1555
Probably some audio related thread get stuck.
Here is something interesting

1.Set the audio Synchronizing Mode to Async Mix
2.Run the game in window mode
3.When the cut scene start,set the game window as inactive(for example click on the taskbar)and then activate it(click on it)

This will result in half a second pause and then the audio will return and the cut scene will continue

[2016-09-09 19:41] trostboot commented on #1555
Interesting, that's literally the one SPU setting I didn't try changing. Setting it to Async before entering the room fixes the cutscene completely. None and Timestretch break it.

[2016-09-09 23:10] willkuer commented on #1555
Maybe check as well the hidden delayCycle setting in spu2-x.ini. I think default is 4. Try low numbers as 0,1,... instead.

[2016-09-10 03:58] vsub commented on #1555
No change,only async with the method above fixes the problem

[2016-09-10 10:26] gregory38 commented on #1526
@vortexofdoom
And does it work better with Zerogs (or zzogl)

[2016-09-10 11:43] woj1993 opened #1558 "GSdx HW/SW bug Megaman X Command Mission z fighting"
## PCSX2 version:

pcsx2-v1.5.0-dev-1266-gccf198a-windows-x86
## PCSX2 options:

Full Clamping + Preserve sign, rounding to zero and MTVU. No options modifications affect this issue.
## Plugins used:

Defaults (GSdx32-AVX, LilyPad, SPU2-X, cdvdGigaherz, USBnull, FWnull and DEV9ghzdrk). No particular plugins affect this issue.
Plugin settings:
GSdx (Direct3D11/OpenGL hardware modes). No setting aff

[2016-09-10 15:02] ramapcsx2 commented on #1549
We may get back to these kinds of extras one day but for now I'll close this issue.

[2016-09-10 17:41] mirh commented on #1549
I thought this was what `Low Priority` and/or `Maybe?` labels were for.

[2016-09-10 18:33] gregory38 commented on #1553
Ok I merged the branch to test a feature of github.

@ramapcsx2 @refractionpcsx2 @turtleli if the PR is a single commit, could you use the squash PR rather than merge PR. There is an arrow on the merge to the merge button to select the mode. Goal is to reduce branch pollution in the history.

[2016-09-10 18:33] #1553 closed

[2016-09-10 18:52] Kosyne commented on #1501
I've got the same in 1.4.0. Tried out several hacks, filtering options, software and hardware renderers, but the problem consistently shows up when using anything but native res. Some settings make it ever so slightly less noticeable, but nothing I've tried gets rid of the flickering/sprite offset issues entirely.

There are quite a few forum posts about it too, and all seem to end with the OP jus

[2016-09-10 20:21] Nisto commented on #1549
I agree with mirh. I have the feeling no one's ever going to be looking for issues to actually fix under Closed.

[2016-09-10 20:43] ssakash commented on #1549
I also agree with mirh. Maybe let's reopen it and add a ``low priority/maybe`` label as suggested earlier ? Closing a valid issue isn't good IMHO.

[2016-09-10 22:07] zuzma commented on #1549
It sounds like emulating another system. Not sure if there's really any point to leave this open

http://ichiba.geocities.jp/ysai187/PS2/PSX.htm

[2016-09-10 23:36] refractionpcsx2 commented on #1553
I always use "squash and merge" :)

[2016-09-11 00:51] sudonim1 commented on #1549
I really don't think anyone should care about emulating that PS2 based machine, especially not with the current state of the project.

[2016-09-11 01:21] Nisto commented on #1549
Instead of letting the emulator crash, can BIOSes be "rejected" somehow and cause a warning instead? Something like "PSX BIOSes are not [yet] supported." I'm not saying specific files or specific versions should be banned, but if there's a way to properly distinguish PSX BIOSes from "true" PS2 BIOSes by some identifier in the files or something, then that would be best of course.

Better than clos

[2016-09-11 08:11] jobs-git commented on #1350
I get this, Final Fantasy File data not found

[2016-09-11 08:26] gregory38 commented on #544
@ssakash do you still have the gs dump on your PC? The link is dead.

[2016-09-11 08:42] ramapcsx2 commented on #1549
It's actually nice if the emulator tries to work with special roms. Dumps from TOOL dev stations come to mind. I wouldn't add a filter for valid dumps for that reason. But if there's enough interest, it can be done.

[2016-09-11 08:59] gregory38 commented on #1350
@refractionpcsx2 we did some fix for vif mode 3 with the help of the testsuite, didn't we?

So I think the initial assertion ought to be fixed in latest git.

[2016-09-11 09:17] ssakash commented on #544
Nope, don't have a GS dump of it right now.

[2016-09-11 09:56] mirh commented on #1549
And indeed nobody is expecting this to work with the current state of the project 😛

[2016-09-11 10:46] vsub commented on #1410
I don't know since when but while using GSdx from v1.5.0-dev-1263-gde480ec(I didn't tried the latest beta)the lines inside the characters are not visible even at 8x scaling and without enabling the sprite hack

[2016-09-11 17:53] gregory38 commented on #1196
@ssakash @FlatOutPS2 does one of you want to do it ?

[2016-09-11 22:24] pipyui commented on #1526
No luck with UserHacks_AutoFlush = 1 nor ZeroGS.

I would note that when hardware rendering with GSdx OpenGL, UI displays just as software mode when 'Preload Frame Data' is configured in 'Configure Hacks', but only when emulator is started so configured and remains uninterrupted by configurations or switch to/from software render.

[2016-09-11 22:29] DPersonalized opened #1560 "International Superstar Soccer (SLES-50039) - Graphical Issues in Menus"
![gsdx_20160911232425](https://cloud.githubusercontent.com/assets/8225831/18420996/0578b4be-7877-11e6-8543-3df0c2f7df93.png)

International Superstar Soccer displays quite a few graphical glitches in the menus, present in both HW and SW mode, and in all backends.

![iss](https://cloud.githubusercontent.com/assets/8225831/18421006/2b23bcfe-7877-11e6-8010-698ccddc14aa.png)

From this console screens

[2016-09-12 00:37] MrCK1 commented on #1560
Maybe try Preload Data Frame hack?

[2016-09-12 04:10] ssakash commented on #1196
I'll try to add the template within 3 days.  (On a vacation right now)

However, if someone else is interested feel free to send a pull request ;)

[2016-09-12 08:04] gregory38 commented on #1560
What are the images ? Let's first focus on the SW renderer. First could you try the pr #1550 + edit gsdx.ini to add `UserHacks_AutoFlush = 1` with hw hack enabled. And tell us if the SW renderer work better ?

[2016-09-12 08:07] gregory38 commented on #1526
The HW renderer is likely a texture cache issue. Hum, could be a wrong palette.

[2016-09-12 09:46] gregory38 opened #1561 "Meta: GSdx HW mipmap support"
Let's collect here game that suffer of the lack of mipmap. It would allow to avoid multiple bugs reports and easily see which games are impacted (and how many too).

[2016-09-12 09:48] gregory38 opened #1562 "Meta: GSdx SW issue"
Single issue report to centralize all current issue/limitation with the SW renderer.  The trick is to avoid core bug.

[2016-09-12 10:08] Nobbs66 commented on #1561
*Ratchet and Clank
*Ratchet and Clank Going Commando/ Locked and Loaded
*Ratchet and Clank Up your Arsenal / 3
*Ace Combat 4 Shattered Skies
*Ace Combat 5 Skies of Deception

[2016-09-12 10:24] gregory38 commented on #1552
I agree with you the bug is related to dual-souce blending. However they fix their codes to support dual-source blending with SSO. There is a huge probability that they introduce another bug/regression in the meantime.

Actually, with the bisected commit of mirh, you can be sure the issue is dual-source blending. Because the commit replaces some blending operation with single-source blending (old

[2016-09-12 11:58] mirh commented on #1552
If only I could have a testcase.. 😝
Does the "gs dump player" (whatever it is and whatever it works) require BIOS?

[2016-09-12 12:08] mirh commented on #1561
A quick search showed #168, #775, #869.
Also, iirc Ace Combat zero/belkan war also exhibited the issue, but afaik not Shattered Skies.

[2016-09-12 12:16] gregory38 commented on #1552
Player is only an exe that load GSdx.so file. So no bios. Technically the gs dump contains game textures & vertex. But I think a couple of frames can be seen as a fair-use. Honestly, I'm not even sure you need a testcase, you can reports that several projects are broken. Maybe someone will be clever enough to detect that test quality on dual source is bad.

@FlatOutPS2 how do you replay on windows

[2016-09-12 12:34] pepiczech77 commented on #1561
Ratchet: Gladiator (aka Ratchet: Deadlocked) is affected as well afaik

[2016-09-12 12:44] mirh commented on #1552
Yes, yes, I just tested it. I guess it it will be quite fine.

[Reported](https://community.amd.com/thread/205702).

It's just I was thinking that if we needed 7 months for something with sources and all, a dumb "closed" test would have been even less useful.

[2016-09-12 13:12] lightningterror commented on #1552
I can't really open the thread to check the report. Says access is restricted. Guess I can't see the staff comments on this.

[2016-09-12 14:05] FlatOutPS2 commented on #1560
Bug report and GS dump:
http://forums.pcsx2.net/Thread-Bug-Report-International-superstar-soccer-PAL

[2016-09-12 14:07] FlatOutPS2 commented on #1561
You recalled incorrectly:
http://wiki.pcsx2.net/index.php/Ace_Combat_04:_Shattered_Skies
http://forums.pcsx2.net/Thread-Ace-Combat-Distant-Thunder-SCES-50410-E

[2016-09-12 14:12] FlatOutPS2 commented on #1562
Might be core issue, but potentially GSdx issue:
http://forums.pcsx2.net/Thread-Smackdown-4-Shut-Your-Mouth-special-meter-doesn-t-display-properly

Alpine Racer 3. GSdx issue that also affects SW, there's a CRC hack for HW mode. Without the CRC hack DX11 HW is fine, but DX9 HW, OGL HW and SW modes are affected.

[2016-09-12 14:19] MrCK1 commented on #1561
Wipeout Fusion, Gran Turismo 4, and Hot Shots Golf 4 have minor flickering due to lack of mip levels. I don't know if they really apply to this list; since they aren't really broken (other than HSG4 speed issues)

[2016-09-12 14:42] pipyui commented on #1526
If it helps, the UI elements don't disappear after render switch, but all seem to get misplaced into the top corner, while also apparently failing to reflect any information.  I've screenshots [in this post](http://forums.pcsx2.net/Thread-Pushed-Bug-Report-Berserk-Millennium-Falcon-Hen-Seima-Senki-no-Shou?pid=534880#pid534880) (wasn't running an official git build at time of post, but have since b

[2016-09-12 15:55] DPersonalized commented on #1560
@gregory38 The PR doesn't appear to have any effect on the issue.

[2016-09-12 16:39] MrCK1 commented on #694
Issue still active as of latest git

[2016-09-12 17:25] FlatOutPS2 commented on #694
The box should be stretched to full screen, but is instead stuck in the top left corner. The box is for text messages that should be placed in the bottom middle of the screen.

[2016-09-12 17:34] gab commented on #694
Unfortunately it seems that the old issue disappeared from Google Code Archive along with the screenshots. Have those issues been archived somewhere else?
My description should be accurate enough to identify the bug without screenshots, though.

[2016-09-12 17:39] refractionpcsx2 commented on #1350
I think we did yes, it would be worth testing.

[2016-09-12 17:41] refractionpcsx2 commented on #1561
Added the two Destroy All Humans games

[2016-09-12 17:45] FlatOutPS2 commented on #694
Here's a clear screenshot:
![dmc](https://cloud.githubusercontent.com/assets/15942346/18446170/64b382a6-7921-11e6-9f3c-67cfbf037206.jpg)

[2016-09-12 18:00] MrCK1 commented on #694
Health bar issue still exists as well, disabling WS patch didn't affect anything. Setting custom resolution to 512x448 fixed it; but of course that's useless when we want to be upscaling

[2016-09-12 19:16] mirh commented on #1552
They still have to approve it prolly.

[2016-09-12 19:24] TheLastRar commented on #1562
Network Profile Wizard (the one built-in with some games), Most text/boxes stuck in top left.
I believe this is a GS emulation issue rather than a core issue.
https://github.com/PCSX2/pcsx2/issues/287

[2016-09-12 21:12] FlatOutPS2 commented on #45
That hasn't been solved. The lights in that game also cause massive slowdown. The game runs at over 100 fps when facing away from the lights, and in single digits when looking towards the lights. The slowdown also affects Software mode, but is less severe.

[2016-09-12 21:14] FlatOutPS2 commented on #1128
This issue hasn't been solved. The lights in the game also cause massive slowdown. It runs at over 100 fps when facing away from the lights, and in single digits when looking towards the lights. The slowdown also affects Software mode, but is less severe(the lights aren't visible through walls in SW mode). Skipdraw hack set to 5 removes the issue visibly in HW mode, but the slowdown remains.

[2016-09-13 02:29] rexcaptain501 opened #1563 "Is EE Clamping safe to be uncommented for Gran Turismo 4 in GameIndex.dbf?"
As Gran Turismo 4 has a minor problem with text ingame, you need EE Clamping to be set to 'Full' to fix the particular issue '('Ready...' staying on screen throughout particular races/licence tests)'. On the Forum I noticed that the fix was intentionally commented out in GameIndex.dbf, due to incompatibility with the License Tests in Gran Turismo Mode (http://forums.pcsx2.net/Thread-Gran-Turismo-4

[2016-09-13 02:48] MrCK1 commented on #1563
I don't think so. It's also supposed to fix the in-game timer to display the proper lap time.

[2016-09-13 04:49] #1563 closed

[2016-09-13 04:58] rexcaptain501 commented on #1563
Nevermind, I just encountered a graphical error caused by Full EE Clamping that seems to be the cause of the game crashing when loading License Test A7 (other License Tests may be affected too). It looks like the only safe way to use Full EE Clamping is only when not playing the License Tests. Here's what it looks like if anyone is interested (the loading animation is not part of the corruption):

[2016-09-13 17:04] Dokman commented on #1552
hey i was testing it with looney tunes space race and , butin my case with a R9 290X and driver version 16.7.3 beta and i don't have this bug

[2016-09-13 20:08] mirh commented on #1552
Try my testcase, then report back.
Of course not every game performs the same calls.

[2016-09-13 20:43] lightningterror commented on #1552
@mirh I tried it and the issues are the same as with GT4. Now we wait 6-7 months for a fix.

[2016-09-14 07:53] gregory38 commented on #1552
No 6-7 month delay is only to deliver the fix. They first need to find the bug and then a solution.
At least you can use accurate blending to reduce the crash likelyhood.

[2016-09-14 17:27] gregory38 commented on #1560
Please test latest git. It must be better. The dump is only limited to the first menu. I can't check further.

[2016-09-14 20:51] DPersonalized commented on #1560
ISS looks identical to console now. Great work!

[2016-09-14 21:34] gregory38 commented on #1560
Great. It is a good news :)

[2016-09-15 09:43] #1560 closed

[2016-09-15 09:45] gregory38 commented on #1561
I think there at least one tomb raider. But I don't know which one.

@prafullpcsx2 gives me also some cricket games with mipmap issue.

[2016-09-15 12:38] refractionpcsx2 commented on #1561
I could be completely wrong, but doesn't Hot Shot Golf have mipmapping as well? I can't remember. I also vaguely remember an FPS game using it as well, but I can't remember what it was.

[2016-09-15 12:47] FlatOutPS2 commented on #1561
There's a difference between having mipmapping, and having serious issues with mipmapping. The Everybody's Golf(the actual name of the series) games have mipmapping, but they don't have any issues with it(or it has to be the Japan only online game). The games would improve with mipmapping though, as the high res textures don't look as good at a distance.

[2016-09-15 12:58] gregory38 commented on #1561
Yes lots of games (maybe nearly all) use mipmapping without any real bad impacts. Nocturne uses it too, for example, the ceiling light color is wrong of 1...

[2016-09-15 16:01] FlatOutPS2 opened #1565 "Battlefield 2: Black texture covering most of the screen in GSdx HW"
-PCSX2 version: 1.5.0-dev-1275 2016-09-14

-PCSX2 options: Defaults, no settings modifications affect the issue

-Plugins used: GSdx, SPU2-X, LilyPad, Gigaherz CDVD, the rest are null plugins

-Plugin settings: All HW renderers

-Description: All but the very top of the screen is covered by a black wall when using one of the Hardware renderers.

![battlefield 2](https://cloud.githubusercontent.com

[2016-09-15 16:11] Dokman commented on #1561
so you will implement mipmapping in hardware? this is real? : O

[2016-09-15 17:08] mirh commented on #1552
OT, but w/e: just for the records, since [a month](http://gpuopen.com/blazing-codexl-2-2/) CodeXL support cross-platform frame analysis (aka see which functions are spending the most CPU or GPU time)

[2016-09-15 17:24] prafullpcsx2 commented on #1561
I will add many games to this list after 2-3 days (when my tournament ends).

[2016-09-15 18:16] gregory38 commented on #1561
Hum, please say if it is major/minor issue.

Good luck ;)

[2016-09-15 18:26] Dokman commented on #1561
all the people we want to play our ratchet and clank games and destroy all humans are crazy with the software render i think, because we cannot set a higher resolution and watch the correct textures in the game..

[2016-09-15 18:32] willkuer commented on #1561
Really.. Give that man some space. First priority is his family. After that he has to work for a living. After that he has to fulfill all desires and wishes he has. And exactly at the end after he took care about everything in his life he could take care of those who want to play R&C in higher than native or with weak hardware.

[2016-09-15 18:44] avih commented on #1561
I vaguely recall that one of the tomb raiders (legend? anniversary?) also had mipmap issues, though I don't recall if it's HW only.

[2016-09-15 19:09] gregory38 commented on #1561
Before GITHUB goes down when rumour of mipmap work goes vrial on the internet. ^^

I have no plan to work on it yet. The purpose of this issue report is to concentrate all the mipmap issue into a single report instead of dozens of them. Less noise in the tracker + easier for tester.

On a side note, my current target is to finish Grandia 2 anniversary edition ;)

[2016-09-15 19:11] gregory38 commented on #1565
Which version of apitrace ? The stable version ? Or git ? I have some fixes to make it work with GSdx.

Anyway, looking at your screenshot. It is definitively a texture cache issue. I'm pretty sure the size of the band is a GS ram page (i.e. 32 pixels)

[2016-09-15 20:21] FlatOutPS2 commented on #1561
Are you porting all the Grandia 2 AE improvements to the PS2/PCSX2 version?! :P

[2016-09-15 21:28] FlatOutPS2 commented on #1565
I didn't know there was a stable version. I think the version I used was a git release, but several weeks old. I downloaded the latest one and the same errors appear.

Well, you'd know. I can only say it's not one of the TC issues that are flagged on a debug build, no log messages are tied to the issue.

[2016-09-16 07:35] gregory38 commented on #1565
Hum, I'm not sure my patch are related to this issue.

For the record (I really need to push the 2 last changes to upstream)
[code]

Anyway, I give it a quick look. And yes it is a texture cache issue. As you can see on the log below, the target isn't referenced with a single address. My guess is that 0x100 is a page line. Looking at the texture it could be a blit. I'm pretty sure you have a bump

[2016-09-16 07:47] gregory38 commented on #1565
Oh by the way, Addresses are in blocks. And a DRAM page is 32 blocks. Therefore 0x100 == 8 pages. A 32 bit page (aka `C_32`) is 64x32 pixels, so framebuffer is 512x32 pixels which give you the top band

[2016-09-16 16:30] monsterjamp commented on #1561
Doesn't Tribes Aerial Assault use mipmaps?

[2016-09-16 16:41] FlatOutPS2 commented on #1561
Yes, it does and it has several issues with it. I added it to the OP.

[2016-09-16 17:00] ramapcsx2 commented on #1561
Added Tomb Raider: Anniversary.
The game has additional problems. An overlay of broken shadow maps, it looks like.

[2016-09-16 20:58] #856 closed

[2016-09-16 21:04] MrCK1 opened #1568 "Smuggler's Run: Minimap Depth Broken in GSdx HW OGL"
-PCSX2 version: PCSX2 1.5.0-20160916095837 - compiled on Sep 16 2016

-PCSX2 options: Defaults, no settings modifications affect the issue

-Plugins used: GSdx, SPU2-X, LilyPad, Gigaherz CDVD, the rest are null plugins

-Plugin settings: OGL HW Renderer, rest are default

-Description: Minimap depth is broken as seen in bottom-left of picture. SW mode is fine.

-Last known version to work: 1.4.0 -

[2016-09-16 21:11] FlatOutPS2 commented on #1568
I see a minimap, but it's on the bottom right of the picture. :p

[2016-09-16 21:34] refractionpcsx2 commented on #1568
@FlatOutPS2 I think the issue is the minimap is going outside the confounds of the minimap circle, look at the stump of the tree behind it, the minimap map is going outside and cutting off bits of the tree

[2016-09-16 21:36] FlatOutPS2 commented on #1568
Yes, I see the issue. I was just referring to the fact that the minimap is on the right side on the screen, not the left as mentioned in the description. ;)

[2016-09-16 22:02] MrCK1 commented on #1568
Here's [the dump](http://www.filedropper.com/smugrunregressionsept16)

[2016-09-16 22:26] FlatOutPS2 commented on #1568
Sadly the dump only shows black garbage in HW for me.

I thought Test Drive didn't boot. Has it been fixed?

[2016-09-16 22:29] MrCK1 commented on #1568
No it hasn't. I have no idea how I got it to work. I think I unclamped the FPS and let it sit for at least 10 mins

When I did get it working, I remembered to capture a savestate at the title screen; so that's what I use :)

[2016-09-16 22:29] refractionpcsx2 commented on #1568
Test Drive has been working for ages afaik. You need the simulate VIF1 FIFO to get it to work. It should be in the gamedb though..

[2016-09-16 22:30] MrCK1 commented on #1568
Maybe that's what it was :p

[2016-09-16 22:30] FlatOutPS2 commented on #1568
That's Test Drive Unlimited.

[2016-09-16 22:33] refractionpcsx2 commented on #1568
oh yeh, my bad, thought it was eve of destruction :P

[2016-09-16 23:06] FlatOutPS2 commented on #1568
Just got Test Drive to boot too, but I didn't see the issue(I have PAL version though). I did notice the pause menu options don't show up in hardware mode.

Can you add a GS dump for Test Drive and maybe a slightly longer dump of Smuggler's Run?

[2016-09-17 00:19] MrCK1 commented on #1568
Oh yeah I remember testing that in a VS compile a few week ago.

[Here's another dump of Smuggler's Run](http://www.filedropper.com/smugrungsdumplongsept16) - also any reason why the shadows were always missing in HW renderer?

[Test Drive Dump](http://www.filedropper.com/testdriveminimapgsdump)

GSDumpGUI also gave me an assert for TD: `GSLocalMemory.h Line 233 bp < 16384`

[2016-09-17 08:47] FlatOutPS2 commented on #1568
I don't see the issue in those 2 dumps either. It might be a driver issue.

The long dump of Smuggler's Run does have an issue though. The first loop of the dump looks fine, but from the second one on, the ground starts flickering.

[2016-09-17 09:33] Catarax opened #1570 "French Translation Missing for Boot CDVD (Full)"
**Latest build (No French Translation)**
![screenshot_1](https://cloud.githubusercontent.com/assets/3964507/18607330/2c9a63ce-7cca-11e6-828e-7158817e085e.png)

**PCSX2 1.4 (correct French Translation)**
![screenshot_2](https://cloud.githubusercontent.com/assets/3964507/18607337/3fecf7a2-7cca-11e6-88b6-ff53da57e5a1.png)

[2016-09-17 10:31] gregory38 commented on #1568
Wait, is it really a regression ?

[2016-09-17 10:50] refractionpcsx2 commented on #1568
Apparently it worked fine  on 1.4.0,  so I'd guess so

[2016-09-17 10:51] gregory38 commented on #1568
Oh. Maybe it is because depth emulation wasn't enabled by default on 1.4.

[2016-09-17 11:22] FlatOutPS2 commented on #1568
Can you reproduce it with the dump? Because I can't with the dumps or the pal version of TD...

[2016-09-17 12:07] gregory38 commented on #1568
@MrCK1 did you generate the dump on the SW or the HW renderer?

[2016-09-17 12:07] mirh commented on #1570
It's not just French.
And.. I dunno, if you have the time you could try to bisect this. 26 February build was still fine for example.

[2016-09-17 14:01] MrCK1 commented on #1568
@FlatoutPS2 one thing to note about Smuggler's run is that sometimes the ground flickers after starting a game. Toggling renders once fixes that

[2016-09-17 14:44] FlatOutPS2 commented on #1318
There seems to be transparent square in the top left corner of Midnight Club 3: DUB Edition Remix(might be related to worse issue in NTSC version of the game):
[MC3DER top left corner.zip](https://github.com/PCSX2/pcsx2/files/478196/MC3DER.top.left.corner.zip)

[2016-09-17 14:54] gregory38 commented on #1570
just likely need to update the translation file. git build aren't official release so translation can be a bit off.

[2016-09-17 15:34] FlatOutPS2 commented on #600
![gta sa auto flush](https://cloud.githubusercontent.com/assets/15942346/18609197/74d6166a-7cfc-11e6-9464-420569f9899f.png)

Auto Flush improves the situation, but it's still a little off to the up and left. It's not very noticeable on SW mode, but it's very clear when using higher than native scaling in HW mode.

The old CRC hack for HW mode is still active, so it probably won't get noticed by ma

[2016-09-17 16:56] gregory38 commented on #600
Hum need to check HPO. And potentially the new HPO implementation.

[2016-09-17 17:42] FlatOutPS2 commented on #600
Sorry, forgot to mention HPO didn't have any effect on it.

[2016-09-17 20:48] monster860 opened #1572 "Debugger: VU register values are not being properly updated."
Stepping through VU operations in the debugger does not properly update VU register values in the debugger.

I have all speedhacks disabled and I am using the default plugins. I am running GSdx in hardware opengl mode and I am running on windows.

[2016-09-18 03:25] spinnylights opened #1573 "GSdx+OpenGL not functional in 1.5.0 (Arch Linux, Intel i7, Nvidia GeForce GT 650M)"
GSdx fails to open on my system, in either the hardware or software modes, from 1.5.0. (It works in 1.4.0, but with rather lackluster FPS in the software mode and abysmal FPS in the hardware mode). Here's the log:

[code]

Software mode:

[code]

Hardware mode:

[code]

 * PC: Macbook Pro 9,2 (Mid-2012)
 * CPU: Intel Core i7-3615QM @ 2.30GHz
 * GPU:  Nvidia GeForce GT 650M
   * Driver: proprietary

[2016-09-18 04:10] Hirato commented on #1573
Current Renderer: OpenGL (Hardware mode)
	glX-Version 1.4 with Direct Rendering
	OpenGL information. GPU: Gallium 0.4 on llvmpipe (LLVM 3.8, 256 bits). Vendor: VMware, Inc.. Driver: (Core Profile) Mesa 12.0.3

Are you SURE the nvidia driver is installed?
along with it's 32bit counterpart (lib32-nvidia-libgl)

This is what PCSX2 prints on my end for comparison

	Current Renderer: OpenGL (Hardware m

[2016-09-18 04:47] spinnylights commented on #1573
Oh, thanks, that was the whole problem! I feel a bit sheepish—sorry for the silliness. For whatever reason I had lib32-mesa-libgl installed instead. It's working fantastically now.

[2016-09-18 04:47] #1573 closed

[2016-09-18 07:56] aap commented on #600
It looks accurate to me. Of course upscaling may increase the offset/scaling of the radiosity pass.

[2016-09-18 11:59] gregory38 commented on #1339
So I implemented something for one of the half-screen bug. Now it is time for you to work :+1:

If it works well, it would replace some CRC hack and we will enable it by default. I would need that you test those game with the following config
* Both OpenGL and Dx (I'm not sure Dx will support well without depth support)
* CRC fully disabled
* hw hack enabled + this hidden conf option `UserHacks_Co

[2016-09-18 12:45] FlatOutPS2 commented on #1339
Ty The Tasmanian Tiger works great with the hack, didn't notice any change with old CRC hack.

[2016-09-18 12:52] refractionpcsx2 commented on #1339
Simpsons game also works great with the hack on DX and OGL :) .  Annoying thing on there though (very unrelated but thought I'd mention it) when upscaling, the half pixel offset stops the cell shading being outside the characters but only horizontally, the vertical is still off, not sure why.

[2016-09-18 15:36] gregory38 commented on #1339
Ok. It is a good start. Maybe the game uses a different HPO on the Y axis (already have enough on my plate :p )

[2016-09-18 15:44] refractionpcsx2 commented on #1339
That's fine, I was just planting the seed for possible future things to look in to, it isn't important :P

[2016-09-18 17:55] FlatOutPS2 commented on #1339
@refractionpcsx2 Can you share a GS Dump of The Simpsons Game?

[2016-09-18 18:07] refractionpcsx2 commented on #1339
Sure, here you go: http://www.filedropper.com/simpsons-offset

I think i had the half pixel offset on in this, hence the screenshot.

[2016-09-18 18:18] FlatOutPS2 commented on #1339
In hardware mode I can only see the contents of the dump for two short flashes when I resize or open the window. Otherwise it stays completely black. :S

[2016-09-18 19:58] prafullpcsx2 commented on #1496
@Blackbird88 : Can you try this patch and report back?

http://forums.pcsx2.net/attachment.php?aid=61010

[2016-09-18 20:01] MrCK1 commented on #1568
The depth issue is gone in both games now. Still trying to figure out which build fixed the regression.

[2016-09-18 20:05] Blackbird88 commented on #1496
Yup, works. Just finished the mission. Thanks!

[2016-09-18 20:18] prafullpcsx2 commented on #1496
Good to hear that. Let me know if you run into further problems with the game. Also check whether the patch creates problems in some other part of game. If you manage to finish the game, do update the compatibility report on the forums.

[2016-09-18 20:35] refractionpcsx2 commented on #1339
:/  might need to do a longer dump then...

[2016-09-18 21:05] refractionpcsx2 commented on #1339
@FlatOutPS2 Here's a longer dump for you: http://www.filedropper.com/simpsons-offsetlong

[2016-09-18 22:45] FlatOutPS2 commented on #1339
Thanks, that dump works great. But I don't really see the issue. The cel-shading looks fine vertically with the HPO hack.

[2016-09-18 23:07] refractionpcsx2 commented on #1339
Try native x3, homer has two lots of hair on  the side  of his head

[2016-09-18 23:14] FlatOutPS2 commented on #1339
Yes, he seems to have one brown and one black. But it looks the same on native/SW mode, only the lines are thinner at higher than native resolution.

[2016-09-19 07:34] orbea opened #1574 "(Regression) Tales of Legendia - Missing text / strange shadows"
OS: `Slackware64-current`
`pcsx2-2016.09.18_0f387a8_master-x86_64-1_git`
Edit: Still occurs in `pcsx2-2016.09.19_b91bd3e_master-x86_64-1_git`.

Last known working version: `pcsx2-2016.09.10_4796803_master-x86_64-1_git`

Text in menus and in actions (i.e. Talk) is now missing and some areas produce strange shadows.

Apitrace:
http://ks392457.kimsufi.com/orbea/stuff/trace/PCSX2-TOL.trace.xz

GS Dump

[2016-09-19 07:51] gregory38 commented on #1574
It would help to have the sha1 version. Is the bug in SW or HW renderer ? Could you test latest git, I fixed something this morning.

[2016-09-19 08:02] gregory38 opened #1575 "Meta: gsdx CRC hack level"
OpenGL is able to emulate various draw call correctly. Here a list of games that still have CRC hack enabled at the partial (aka openGL) level. Goal is to monitor/test which game still require a CRC even for openGL.

The hack magic can be found here https://github.com/PCSX2/pcsx2/blob/master/plugins/GSdx/GSHwHack.cpp
- [x] Ace Combat 4 (hack has been moved to aggressive level as it introduces seve

[2016-09-19 08:11] orbea commented on #1574
Still occurs in latest git and only with HW, not the SW renderer. I'm not sure I understand, sha1 of what?

[2016-09-19 09:32] gregory38 commented on #1574
Each git commit is associated with a hash number (computed with sha1 algo). It is easier to lookup a commit this way.

Dates aren't necessary in chronological order. Oh wait, actually maybe I have the sha1 `0f387a8` and `4796803`.

I try to will give it a look as soon as possible.

[2016-09-19 09:56] FlatOutPS2 commented on #1575
Alpine Racer 3 still needs it, as the issue affects all renderers(I do know a solution, though it might be a bit hacky).

[2016-09-19 10:17] gregory38 commented on #1575
Ok. If you have some explanation of the issue it would be a nice addition.

[2016-09-19 10:22] FlatOutPS2 commented on #1575
https://github.com/PCSX2/pcsx2/blob/master/plugins/GSdx/GSRendererOGL.cpp#L700

If you add this if statement not just to the accumulation_blend, but in general it fixes the issue. A similar solution also works for DX9 and SW mode.

[2016-09-19 12:13] ramapcsx2 commented on #1574
This game has Z depth issues with the hardware renderers. If this is a regression, the CRC hackfix for this game needs to be considered as well.

[2016-09-19 12:17] FlatOutPS2 commented on #1575
The Burnout games are also stil necassary for all HW renderers. They still have have the vertical pillars on the screen without the CRC hack.

[2016-09-19 13:59] woj1993 commented on #1575
What does CRC hack in Captain Tsubasa and DBZBD3? I always played Capitan Tsubasa without any CRC hack and didn't see any graphical errors.

[2016-09-19 14:30] gregory38 commented on #1575
``` Captain Tsubasa ```
Dunno, it seems to remove the drawing of 1 framebuffer. Need to check the history. Likely useless

``` DBZBD3 ```
Complex CRC hack but actually most of it is already removed on the openGL level. I think this one is still active (need to search on the forum, or was it the DBZ2)

[2016-09-19 14:40] gregory38 commented on #1575
For the record, the start of the outbreak ;)
https://github.com/PCSX2/pcsx2/commit/13df336966c08780f948b7e03add79c9037434d7

[2016-09-19 14:49] MrCK1 opened #1576 "Lilypad: Allow for separate bindings between controller modes (ie. Dualshock 2 and Guitar)"
Would it be possible to have separate bindings for each controller mode?

For example, say I have everything bound to their matching button on my DS3. Unfortunately, Band Hero forces me to rebind a few buttons due to its' guitar detection. The problem is that when you switch to and from "Guitar" mode, I have to change the bindings everytime I play another game because every mode shares the same co

[2016-09-19 14:59] vsub commented on #1576
Not sure if this is what you are asking for but did you tried "Allow binding multiple PS2 controls to one PC control"

[2016-09-19 15:06] FlatOutPS2 commented on #1575
You do know that CRC hack means the CRC Hack Level in the GSdx Plugin Settings menu? If that's set to anything above none(or possibly minimal), the CRC hack is always on.

[2016-09-19 15:53] willkuer commented on #1576
Until it is resolved you could always save the lilypad ini file. With a frontend or the command line you could load the ini game specific in an automatic fashion. However what you suggest sounds like a solid feature.

[2016-09-19 16:09] orbea commented on #1574
If I set the CDC level to none (Rather than partial or full) it will mess up the menu even more as is also seen when making an apitrace. This will additionally differ based on the location in the room.
![6](http://ks392457.kimsufi.com/orbea/stuff/pics/scrots/pcsx2/2016-09-19-090331_1680x1050_scrot.png)
![7](http://ks392457.kimsufi.com/orbea/stuff/pics/scrots/pcsx2/2016-09-19-090359_1680x1050_scrot

[2016-09-19 16:17] vsub commented on #1576
No that's not what it means...it means that you can set more than one key/button to execute for example Square
![2016-09-19_191109](https://cloud.githubusercontent.com/assets/5032540/18639604/34684f4c-7e9d-11e6-86ed-ff4e0a0dcc47.jpg)
Setting it like this,I can execute Pad1 square by using my usb gamepad,my logitech gamepad or by pressing J

Setting for example L1 and square to a single button/key

[2016-09-19 16:26] gregory38 commented on #1574
the gs dump are fine on my side. Did you change some option recently ? What is your configuration ? I have CRC on minimum (below and you hit the half-screen issue above).

[2016-09-19 16:36] orbea commented on #1574
I tested various hacks, but other than CRC at none they did not do anything different. I'm pretty sure my configuration has not changed. I keep my old builds around and I know if I have downgrade to the last known working version this will go away. The generated png images with the gsdx dumps did show the issue, but I don't know how to replay the actual dumps to test them. I can try to git bisect

[2016-09-19 17:25] orbea commented on #1574
I found the first bad commit.
[code]
https://github.com/PCSX2/pcsx2/commit/5420fcaf3ad41ba504e55ca366fc56ce19996e8c

[2016-09-19 17:28] gregory38 commented on #1574
not possible, this one add a gui option for windows.

[2016-09-19 17:36] gregory38 commented on #1574
By the way to replay gsdump
1/ build with -DBUILD_REPLAY_LOADERS=TRUE
2/ pcsx2_GSReplayLoader gsdx.so gsdump.gs bin/inis/ (update the path accordingly)

[2016-09-19 17:36] orbea commented on #1574
Disregard the above, I may of taken a wrong turn. Testing the commit before still produces an issue... I'll try again.

[2016-09-19 17:40] FlatOutPS2 commented on #1574
It's this commit: https://github.com/PCSX2/pcsx2/commit/310f13a2f768a823136fd38d092391693d037a30

[2016-09-19 17:58] orbea commented on #1574
There is something strange going on here... My built package at commit 4796803 works while newer packages reproduce the issue, but if I `git checkout 4796803` it will also reproduce the issue. However during `git bisect` the newer commit 07d54587bd31b36757985b3911f78223aca024a0 was good and it will still be good if `git checkout 07d5458`.

[2016-09-19 18:08] orbea commented on #1574
Yes, this is very strange.... I repeated `git checkout 4796803` and got different results, the missing text and shadows were gone, but the half screen menu now occurs even with the CRC level set at partial or full. However it went away after restarting PCSX2. Which may explain how I did the git bisect incorrectly.

[2016-09-19 18:43] orbea commented on #1574
Another problem is that I can't reproduce commit 310f13a as bad nor can I do so for the commit b91bd3e while the corresponding package still does. So I made a new package from the current master (`pcsx2-2016.09.19_52fbfdc_master-x86_64-1_git`) and it still occurs. I'm not sure how to explain this inconsistency...

[2016-09-19 19:48] Nucleoprotein commented on #1552
@mirh
Tested your bsod package you posted on AMD site - TDR looks same like in PPSSPP, so this seems to be same issue.

[2016-09-19 20:04] gregory38 commented on #1574
@orbea could you force disable geometry shader and tell us if it is working. And try to disable accurate blending too. Based on @FlatOutPS2 feedback it is potentially an interaction between the 2. And it would explain why I can't reproduce it in the renderer. I will give it a look tomorrow.

[2016-09-19 20:14] FlatOutPS2 commented on #1574
Yes, it is. The shadow issue only appears with Blending unit accuracy set to Medium or higher.

[2016-09-19 20:17] gregory38 commented on #1574
Yes I can reproduce it now. Thanks you @FlatOutPS2
Will fix it tomorrow.

[2016-09-19 20:21] orbea commented on #1574
So I tried `git bisect` once again, however instead of building it in the source tree I am creating a new package for each commit. This will re-clone the source for each build and will hopefully be more consistent.

First I confirmed that there was no issue in commit 4796803 and that there is in 0f387a8.
This method now reveals the same bad commit as FlatOutPS2 which indicates the above confusion

[2016-09-19 20:23] gregory38 commented on #1574
Good. It is probably minor but I need to have my full brain power to fix it properly ;)

[2016-09-19 20:41] orbea commented on #1574
Thanks, I can confirm that these issues will vanish if I either disable accurate blending or set Blending unit accuracy to basic/none. However the half screen menu issue still occurs with the CRC level set to none.

[2016-09-20 06:05] AmbientMalice commented on #1339
Delta Force: Black Hawk Down seems fixed by hack. Shadows flicker, but that's probably another problem.

![gsdx_20160920154905](https://cloud.githubusercontent.com/assets/10704701/18659127/e851def2-7f4b-11e6-8f8b-dcf00e9e4a05.png)

[2016-09-20 07:32] #1574 closed

[2016-09-20 07:37] gregory38 commented on #1574
I'm trying to reduce the number of CRC hack https://github.com/PCSX2/pcsx2/issues/1575
Could you test the game with CRC set on minimal and tell me if it is good or if it still requires a higher hack level ?

[2016-09-20 07:39] gregory38 commented on #1339
@AmbientMalice does the shadow flicker if you enable the CRC ?

[2016-09-20 07:47] AmbientMalice commented on #1339
You mean CRC Hack Level? Makes no difference. Here are the shadows for reference.

![gsdx_20160920174531](https://cloud.githubusercontent.com/assets/10704701/18661651/36f413dc-7f5a-11e6-8d62-649d86f2321c.png)

[2016-09-20 08:45] gregory38 commented on #1339
[code]
Perfect. First goal is to replace various CRC with a generic code that will always be enabled.

For the shadow, I suspect a color shuffling effect wrongly detected due to a sub frame/depth buffer. Low priority.

[2016-09-20 09:59] FlatOutPS2 commented on #1339
It could be CRC hack for an issue that only affects certain missions though.

[2016-09-20 10:33] mirh commented on #1570
Bisected, this was introtuced in #1388.

[2016-09-20 11:03] FlatOutPS2 commented on #1570
It's because this was expected to be merged: https://github.com/PCSX2/pcsx2/pull/1381/commits
But it never happened and I guess the translations weren't updated again afterwards.

[2016-09-20 15:27] orbea commented on #1574
Thanks! The issues have been fixed here. The game seems to work fine with CRC set on minimal, but with none it will still have the half screen menu issue.

[2016-09-20 16:55] orbea opened #1578 "Tales of Legendia - Graphical Tearing"
OS: `Slackware64-current`
`pcsx2-2016.09.20_b00ae97_master-x86_64-1_git`

When moving back and forth left to right in town, especially visible in buildings the game will produce horizontal tearing. This will occur with both HW and SW renderers and despite any hacks, CRC level or Blending Unit accuracy.

I could not reproduce this when replaying an apitrace and this does not show up in screenshots.

[2016-09-20 17:04] gregory38 commented on #1578
Did you try to enable vsync? It used to be on by default on Mesa, now you can configure it in PCSX2

[2016-09-20 17:13] orbea commented on #1578
I presume you mean `Wait for Vsync on refresh`? Enabling it eliminates most of the tearing, but there is still a single line of tearing towards the top of the screen.

[2016-09-20 17:14] gregory38 commented on #1574
Yes. The half screen bug is another story. Dunno what the game do.

[2016-09-20 17:15] gregory38 commented on #1578
Did you try to play with interlacing option in GSdx ?

[2016-09-20 17:20] gregory38 commented on #1574
Wait, actually maybe I have fixed it see #1579

[2016-09-20 17:22] gregory38 commented on #1339
I pushed the code for a generic function in #1579 Hopefully we could reduce a bit the huge list above :)

[2016-09-20 17:22] orbea commented on #1578
I had it set to `auto`, I tried all the options now and it does not make a difference.

[2016-09-20 17:36] gregory38 commented on #1578
Honestly if it really a tearing. It would be hard to reproduce and to fix it. I guess the game is 50 fps and GSdx will suffer to produce only 50 vsync in a 60 fps display.

[2016-09-20 18:05] orbea commented on #1578
That is understandable, thanks for your help.

[2016-09-20 18:53] orbea commented on #1574
Yes, you did! I built the `gsdx-generic-double-half-clear` branch and now I can open the menu with the CRC level set at none without issue. Thanks!

[2016-09-20 19:03] gregory38 commented on #1574
Ok I let's you play the game. If there is no issue, I will remove some crc hack. Need to have some feedback from dx user.

[2016-09-20 21:07] JMC47 commented on #1561
I have a question: assuming that mipmapping doesn't work at all on GSdx: hardware, are these the only games that actually use Mipmapping on the PS2, or is there a certain way they're using mipmapping that's causing severe issues?

I've been trying to look up more on what the games are actually doing since it seems every time a PS2 article/video/anything is posted there's someone saying "does it ru

[2016-09-20 21:26] gregory38 commented on #1561
Lots of game use mipmapping but base layer contains real data. GS mem is more a cache than a standard vram. Mipmap layers are only pointer to memory area. You can do anything you want with the memory. The rule is there is no rule.
Now for RC, I suspect that game only write texture data of the intermediate layers. The plan is to compute in cpu the max layer of the rendering and to upload this layer

[2016-09-20 21:39] JMC47 commented on #1561
So, on GSdx hardware, it's pointing to where the actual texture is, rather than where the mipmap is right now?  Causing it to load garbage instead of the actual texture?  Or, rather, it has no place to actually load the texture since only the mipmap is in memory and nothing is in the base layer?

[2016-09-20 21:44] Cobra84 commented on #1575
Turning it on at any level breaks more of Ace Combat 4 than it fixes. On fixes the weird ghosting effect, but removes the HUD in night missions.

[2016-09-20 22:41] TheJordanator commented on #1561
Jak and daxter series also has the mipmapping bug

[2016-09-20 22:57] MrCK1 commented on #1561
That's already in the list

[2016-09-21 09:29] gregory38 commented on #1574
@ramapcsx2 could you test a bit the new latest pull request without CRC on DX. Do you still have the half-screen bug ?

[2016-09-21 09:41] gregory38 commented on #1575
Ace combat gets 2 hacks actually. Maybe one can be removed. The ghost effect could be the blur comment. If someone can compile to test it, it would be nice.
[code]

[2016-09-21 09:59] gregory38 commented on #1561
@JMC47 Hum, let's use an example
On the game engine, you can compute the lod of the scene. Let's say you find 3. What you can do is
* write Tex pointer to 0x1000
* write Tex layer 1/2/3 to 0x1000,0x1000, 0x1100
* Then do an EE texture write to the address 0x1100.
0x1000 is a random location, it could be anywhere. It could even be in the middle of the frame buffer or depth buffer or whatever. You d

[2016-09-21 10:05] gregory38 commented on #1561
Forget to say, first step is to do a current state of the game impacted, because I can tell you that all games are likely using different tricks.

And last but not least, extend the internal GS debugger to dump the texture layer. This way we can see what happen.

[2016-09-21 12:11] FlatOutPS2 commented on #1575
I don't know what the clouds hack does, because the clouds are missing in HW regardless of CRC hack setting.

The blur is fixed by the CRC hack. But as Cobra84 said, it causes issues with the HUD, though not just in night missions( see my test report: http://forums.pcsx2.net/Thread-Ace-Combat-Distant-Thunder-SCES-50410-E )

The ghost around the blur effect is resolved by setting blending unit accu

[2016-09-21 12:37] FlatOutPS2 commented on #1575
The Getaway Black Monday is a complete cluster ****. It has effect on the cutscenes, but only seems to affect D3D modes. Turning CRC hack off makes the entire screen overly bright. setting it to Partial makes the screen turn green(and still too bright), and setting it to Full causes all kind of small opaque squares and white vertical lines appear over the effect, and the brightness is reduced too

[2016-09-21 13:01] Cobra84 commented on #1575
Blending unit accuracy has no effect on missions where the HUD also disappears with the crc hack.

[2016-09-21 13:05] MrCK1 commented on #1575
Doesn't GT4 use CRC for brightness hack; or was that only DX?

[2016-09-21 13:23] FlatOutPS2 commented on #1575
BUA only removes the blurring. It doesn't affect anything else.

@MrCK1 GT4 isn't part of the checklist in the OP, as it has already been moved to the Full CRC level.

[2016-09-21 17:30] gregory38 opened #1580 "Github recent improvement: review and project"
@PCSX2/owners @PCSX2/commiters

Recently GH added some way to ease the review of PR. I think it is a good opportunity to discuss a bit about the feature. Do you like it, dislike it.

There are others alternative
- https://reviewable.io/
- https://www.codereviewhub.com/
- countless of them on google.

Do you have any experience with any external addons. Will it help us to add an extension to improv

[2016-09-21 17:48] orbea commented on #1578
I've found out that it will only occur when full screen.

[2016-09-21 18:15] FlatOutPS2 commented on #1578
You must have an AMD GPU. :p

The issue should also disappear when using 4:3 aspect ratio.

[2016-09-21 18:23] orbea commented on #1578
I have a nvidia card, GTX 780 Ti (GK110B) using nouveau drivers.The issue unfortunately persists if using 4:3 aspect ratio.

[2016-09-21 20:47] Cobra84 commented on #1575
I meant that the BUA doesn't fix the blurring in the same missions that are affected by the crc hack. It works fine in missions where the crc hack worked too.

[2016-09-21 21:20] JMC47 commented on #1561
Sounds like a total pain in the ass. I do not envy whoever tries to tackle
this issue.  At least I have a reference to point people to now when I see
them asking about it.  Also, making it a perf vs accuracy issue with no
great solution helps tell users "it's not that simple."

On Wed, Sep 21, 2016 at 6:05 AM, Gregory Hainaut <notifications@github.com>
wrote:

[2016-09-21 23:21] jcdenton2k commented on #1578
I don't know if this is related but on Win7 when I disabled Desktop Window Composition and Aero/Themes completely then I had massive screen-tearing issues in PCSX2 with nearly every game.  Re-enabling them is what solved the issue for me.

So my thought is that as far as your *nix OS is concerned there may be some similar kind of 'desktop composition' thing that isn't working properly.

Just a tho

[2016-09-21 23:50] jcdenton2k commented on #1555
Could someone please add this to the wiki?  That capcatcha used doesn't seem to load properly on my browser (even with a portable clean version with no extensions enabled).  I'd love for the team to switch it to reCaptcha or something like that.

[2016-09-21 23:59] jcdenton2k opened #1581 "[Windows] CDVDNull Plugin Missing from recent GIT builds since August 2016"
Using latest PCSX2 git build on Win7 x64

Only related (old) pull request I could find related to this:
https://github.com/PCSX2/pcsx2/pull/1290

So why was the CDVDNull plugin removed?  Does the cdvdGigaherz plugin work better than the CDVDNull plugin?

I know the 'null' plugins are just there in order to give PCSX2 something to use instead of complaining about a missing plugin.  But I'd like som

[2016-09-22 00:07] orbea commented on #1578
1. I have no desktop composition and the issue persists if I start pcsx2 in its own xorg session with `xinit /usr/bin/PCSX2 -- :1` although that is not very usable with full screen.
2. I do not consider nvidia drivers very trustworthy, they have a lot of unrelated issues, the nouveau devs provide a lot more support and I can play most games I want to at full speed with them. Installing proprietary

[2016-09-22 00:20] orbea commented on #1578
Actually apitrace now does capture it a little bit, however its reduced.

http://ks392457.kimsufi.com/orbea/stuff/trace/PCSX2_TOL_tearing.trace.xz

[2016-09-22 01:00] orbea commented on #1578
A nouveau dev was able to reproduce the issue in the backtrace, but was not sure what could be causing it or whether it was a pcsx2, nouveau, mesa or xorg issue.

[2016-09-22 06:11] willkuer commented on #1581
Pcsx2 has an in-built iso reader. Thus independent on the plugin choice you can always read iso's. The null plugin thus didn't provide any functionality and should be replaced by the gigaherz plugin.

As mentioned in your linked pr the null plugin was making some trouble with antivirus software. And it wasn't properly interfacing with pcsx2 anymore.

Do you see any need for the null plugin?

[2016-09-22 10:04] gregory38 commented on #1561
Oh, you just found the initial name of the GS, PITA ;)

Here the SW implementation
[code]

Basically I want to do the same but with a single texture lookup loop (not 6 in worst case).
[code]
Hopefully it will be good enough to avoid most of the glitches. It won't be perfect, some game won't be supported but it would be a good start.

However I'm not sure how to handle texture size/clamp behavior e

[2016-09-22 17:11] ssakash commented on #1580
* https://reviewable.io/
    * https://www.codereviewhub.com/
    * countless of them on google.

I would prefer sticking to the review function of GitHub, it seems much better and doesn't need any other external integration. Personally I also dislike `` https://reviewable.io/``, Dolphin seems to use it and from the looks of it, it seems to allow reviewing only on an external site which is linked

[2016-09-22 18:07] FlatOutPS2 commented on #1575
Please move the ResidentEvil4 hack to Full level. The CRC hack removes the fog, without the hack the screen turns green with D3D,, but the fog emulates correctly on OGL with hardware depth.

[2016-09-23 03:06] jcdenton2k commented on #1581
In the latest git build from the pcsx2.net main website (PCSX2 v1.5.0-dev-1319-gb00ae97 compiled Sept-20-2016) I've noticed the dev9gigaherz plugin isn't even detected in PCSX2.

My request is to leave the null plugins in place as an 'automatic fallback' if bugs or glitches prevent PCSX2 from using the normal plugins.  Whether through corrupt plugin files or whatever happens then at least there's

[2016-09-23 03:14] jcdenton2k commented on #1578
Thanks for the update.  Hopefully they can fix this upstream on the Linux side of things.
Can someone please tag this issue as upstream?  Thanks.

[2016-09-23 04:30] karasuhebi commented on #995
I don't think I can find the bad commit, I know basically nothing about coding. I'm sorry, I narrowed it down as much as I could in the OP. :(

[2016-09-23 04:52] karasuhebi commented on #444
Nice progress @ssakash, I'm glad you got it to show you in-game FPS! How is your "much nicer way" coming along? Is it able to show the difference in FPS when the core is messed with?

[2016-09-23 09:42] FlatOutPS2 commented on #995
So this issue still happens with the latest git build?

[2016-09-23 11:42] turtleli commented on #1581
Fallback: I don't see how it's better. In some cases, it brings confusion - I'm pretty sure I've seen on the forums "I can't load GSdx, so I loaded GSnull which loads fine but nothing is rendering" before I removed GSnull. And if something breaks, we need to know about it instead of having users just use another plugin in cases where it's possible.

Interfacing: the plugin API has changed over tim

[2016-09-23 12:03] gregory38 commented on #1581
Seriously, some people complain because they have a plugin choice. And others complain because of no choice. (sorry I'm in bad mood today)

Those null plugins are useless. It is quite simple. If you installation is broken, you need to fix it, if PCSX2 build is broken, we must fix it.

[2016-09-23 14:08] #1568 closed

[2016-09-23 16:13] orbea commented on #1578
The issue should be diagnosed better before it is tagged as upstream or not, the potential for it being fixed all in pcsx2 still exists.

Nvidia causes more harm to my system during the install process by overwriting standard system libraries than the benefit from testing their drivers for this minor issue would bring. Additionally this discussion is not at all relevant to solving this, I would ve

[2016-09-23 16:55] gregory38 commented on #1578
I need help to know where to look. Do you have the issue if you disable accurate blending?

[2016-09-23 18:14] Blackbird88 commented on #1581
Winpcap needs to be mentioned somewhere as requirement for the DEV9 plugin or there needs to be some error message stating so, otherwise the user will never realize.

[2016-09-23 19:27] mirh commented on #1581
Mhh.. There is a point about confusion for noobs.
Though it's not like any dev couldn't still prefer null for their.. "simplicity"?
I dunno (and fuck dolphin with its monolithic design)

Anyway, perhaps compile them only on non-release builds?

[2016-09-23 22:46] jcdenton2k commented on #1578
@orbea
As someone that tests out and reports Linux-based issues and contributes to a few Linux-based projects here and there, I'm well aware of the 'nouveau users'.  I'm also aware of the realities and problems of the situation.

On the Windows side we have had to do PCSX2-specific hacks to fix driver errors from idiots at Nvidia (and it is always Nvidia doing that crap) for that weird glitch with

[2016-09-24 01:44] ImSpecial opened #1584 "[Feature Request] Open cheat folder in explorer window button."
This is a quality of life feature I'd like to see, similar to how you have for memory card management ie. "Open in Explorer" I'd like to see the same but for cheats, since if you want to add, disable, or edit your cheats you'll need to go into that folder to edit the pnach file in notepad or whatever, and where I keep my PCSX2 folder is quite a few levels deep on my HD, so it gets annoying I can't

[2016-09-24 01:55] ImSpecial opened #1585 "[Feature Request] Savestate "save successful/load successful" dialogs."
Optional of course as I can see some people wanting to have a clean, no message, no bother experience, but I would prefer to have a little message in the corner of my screen that says something along the lines of "save slot 1 saved" or "save slot 1 loaded" display when you save/loaded a savestate.

There has been a few time in my experience when I hit the save hotkey to save only to have it not ac

[2016-09-24 02:09] yxmline commented on #1585
I think these messages better display with osd
https://github.com/PCSX2/pcsx2/pull/1431

[2016-09-24 06:02] gregory38 commented on #1581
Dev perfers to avoid compiling useless file. Those plugins are nice as toy. On linux I compile them based on a build option. There is also a full project file build on msvc.

[2016-09-24 06:52] gregory38 commented on #1561
@prafullpcsx2 do you remember how this game used to be rendererd (HW, 2x) :stuck_out_tongue_winking_eye:

![nice](https://cloud.githubusercontent.com/assets/1569559/18806677/0dcd1602-8234-11e6-9372-fe94f126f717.png)

[2016-09-24 07:08] gregory38 commented on #1561
@ramapcsx2, is it me or we could see the main character in the painting ?
![tomb_raider](https://cloud.githubusercontent.com/assets/1569559/18806756/41a4504c-8236-11e6-991c-67507ead28ad.png)

[2016-09-24 07:14] prafullpcsx2 commented on #1561
@gregory38 : Yes, I do remember
![omg](https://cloud.githubusercontent.com/assets/12788199/18806788/937ff984-8254-11e6-9577-d93f080796a2.jpg)

And from your screenshots, I am way too excited now. :+1:  With gregory impossible is nothing.

[2016-09-24 07:38] avih commented on #1561
I'm just amazed that for someone who does a lot of stuff with graphics, your font (at the window title) uses full hinting and no subpixel antialiasing.. this is so 90's (so actually maybe appropriate) ;)

[2016-09-24 07:53] gregory38 commented on #1561
As Napoleon said, "The word impossible is not French." :stuck_out_tongue:

Don't expect too much. Solution is quite hacky and only on gs dump. Strangely it seems to require 8 bit textures. However when I compare with SW renderer. Some parts are better on the HW side, some parts are better on the SW side.

[code]
Don't you know that I'm blind (nah kidding). Yes I'm an old guy, I enabled subpixel al

[2016-09-24 09:55] FlatOutPS2 commented on #1585
You shouldn't rely on savestates so much for saving your progress, it's better to use the in-game saves. But the savestate on-screen logs are part of the OSD pull request @yxmline linked, so your request will be fulfilled.

[2016-09-24 10:45] gregory38 commented on #1561
[code]
on latest git. Only positive feedbacks are accepted.

[2016-09-24 10:50] avih commented on #1561
We need some automatic GUI for all the hidden options.

[2016-09-24 10:59] ramapcsx2 commented on #1561
Works in Tomb Raider for the picture on the wall! Not much else yet though ;p

[2016-09-24 11:25] Dokman commented on #1561
so we can expect a hw mip mapping in the near future? : O

[2016-09-24 11:26] FlatOutPS2 commented on #1561
Okay. I think it's great how this make the mipmapping issue worse on Jak II compared to no mipmapping.

[2016-09-24 11:56] pepiczech77 commented on #1561
Seems to help Jak 3, do you want screenshots?

[2016-09-24 11:59] Dokman commented on #1561
widesrceen not work hahahahah

[2016-09-24 12:23] vsub commented on #1584
You can use my tool for both the save state info(with extra image preview)and also for what you want here
http://forums.pcsx2.net/Thread-Multi-Converter-Cheats-decrypter-converter-editor-and-much-more
This can also be useful
http://forums.pcsx2.net/Thread-Quick-pnach-tool

[2016-09-24 12:25] Dreadmoth commented on #1561
Distant textures in Ratchet & Clank don't shimmer as badly as they used to.
Ocean in Jak 3 seems more accurate.
Tree branches in Tribes: Aerial Assault no longer invisible at a distance.
No noticeable performance impact in games I've tried so far.

Distant textures in Ratchet & Clank don't shimmer as badly as they used to.
Ocean in Jak 3 seems more accurate.
Tree branches in Tribes: Aerial Assault

[2016-09-24 13:14] Dokman commented on #1561
@Dreadmoth how you have configurewd it? i don't know how i can do it :( i've gone gsdx and added those hack but... not works :(

[2016-09-24 13:16] gregory38 commented on #1561
Note: you need to enable mipmap support on the SW renderer too. Anyway, I'm currently working on `Ratchet & Clank`. There is something wrong somewhere. I will keep you updated if I find the issue.

[2016-09-24 13:47] prafullpcsx2 commented on #1561
Fifa and cricket games look a lot better now, Jurassic park is still very buggy. Overall it's a very positive step forward. :+1:

[2016-09-24 15:43] gregory38 commented on #1561
I'm pretty confident that situation will be better when I find a fix for RC. The first line of the texture is good. Remaining is bad. I suspect a wrong buffer width/line size somewhere. So I'm still uploading wrong data to the GPU in some cases.

[2016-09-24 15:45] MrCK1 commented on #1561
Jak 1 and Gran Turismo 4 "scattered" mipmap levels I guess you could say

![gsdx_20160924114430](https://cloud.githubusercontent.com/assets/16314399/18809550/48885686-824c-11e6-9014-f28a282566d4.png)

[2016-09-24 17:02] gregory38 commented on #1561
OMG, new improvements on master. @ramapcsx2 @prafullpcsx2 @Dreadmoth could you please retest your game.

[2016-09-24 17:09] gregory38 commented on #1561
Because I'm quite happy of my code. Here a nice screenshot.
![rc](https://cloud.githubusercontent.com/assets/1569559/18809948/06181a50-828a-11e6-8ef0-67bf499e53cb.png)

Arg, looking closely it isn't perfect.  But it is already a huge improvement.

[2016-09-24 17:13] willkuer commented on #1561
I have the feeling this is a huge joke. You decide like some days ago to work on it. Do something like copy pasting from sw to hw and get instantly good results without performance impact? The fuck?

[2016-09-24 17:15] refractionpcsx2 commented on #1561
Wow, good  job gregory!

[2016-09-24 17:18] Dreadmoth commented on #1561
Will check it out once the automated build finishes :)

I'm making a PR for something else that might improve R&C...

[2016-09-24 17:20] MrCK1 commented on #1561
It's done now. I imagine the patience is killing you 😃

[2016-09-24 17:28] gregory38 commented on #1561
@willkuer
I started thursday night. Nothing was working, Friday I remembered the offset trick. It was the initial version that I pushed. But actually, I think about it a long time ago.

The remaining issue of RC is potentially a rounding issue to select the good layer. And it seems ace combat is still broken.

[2016-09-24 17:36] woj1993 commented on #1561
Tribes: Aerial Assault is perfect.

[2016-09-24 17:36] prafullpcsx2 commented on #1561
Cricket games are almost perfect now, ICO rays are visible in intro (should be ingame too), Fifa 2003 is also very good (suffers from other separate issue), Jurassic Park also looks much better. Awesome work gregory. :100:

[2016-09-24 18:01] MrCK1 commented on #1561
HSG4/Everybody's Golf works fine. Tree textures get corrupted depending on camera angle

[2016-09-24 18:08] gregory38 commented on #1561
I pushed a new fix. It would avoid issue with camera angle or some distance. My R&C dump is really nice now.

[2016-09-24 18:32] Nobbs66 commented on #1561
Gregory, will you marry me? I f'ing love you for this!

[2016-09-24 18:32] FlatOutPS2 commented on #1561
Jak II - mipmapping went from worse than no mipmapping earlier today to 1:1 with software mode now! :-O :+1:

It did notice a small issue, but it's the same on SW mode and might be on real console to, because it's not that noticeable on native res.

Ace Combat 4 has improved, but still has flashes of the broken graphics and I got a crash...

[2016-09-24 18:33] Dreadmoth commented on #1561
Very nice :+1:
![nice](http://i.imgur.com/wHJy8fE.jpg)
Some textures (seems to be mostly smaller objects?) still pop as you move around or if you stand in specific places - but the majority look correct from almost all angles.

[2016-09-24 18:40] FlatOutPS2 commented on #1561
I got noticed a gap between textures in Ace Combat when close to the ground. Here's a GS dump:
[Ace Combat textures close up big black gap.zip](https://github.com/PCSX2/pcsx2/files/491265/Ace.Combat.textures.close.up.big.black.gap.zip)

[2016-09-24 19:04] prafullpcsx2 commented on #1561
@gregory38 : It looks like Jurassic Park got a little worse ingame with your latest commit. Here is a gsdump. I believe it may be suffering from some other issues too.

[jurassic park.zip](https://github.com/PCSX2/pcsx2/files/491285/jurassic.park.zip)

[2016-09-25 00:03] refractionpcsx2 commented on #1561
Just tried R&C, the game runs extremely well! But still a lot of glitching, i think it's when it's changing mipmap.  There's also a bunch of SPS in the menu which is odd.

What's more annoying, if you're recording a GS Dump. it stops! If i hold down Shift, Ctrl and F8, I don't get any glitching or SPS... Explain that one :P

[2016-09-25 00:16] Dokman commented on #1561
![gsdx_20160925021235](https://cloud.githubusercontent.com/assets/2290904/18812007/aa623268-82c5-11e6-89d2-9937b36a85eb.png)
This is my case with my R&C copy so...
i will give you now the dump here:

[2016-09-25 00:21] refractionpcsx2 commented on #1561
@Dokman you need to put the UserHacks_mipmap = 1 in your gsdx.ini file, then make sure mipmapping is enabled for sw mode, that looks like you haven't done that.

[2016-09-25 00:22] Dokman commented on #1561
okay let me see hahaha

[2016-09-25 00:31] Dokman commented on #1561
okay let me tell you now how i watch it
![gsdx_20160925022750](https://cloud.githubusercontent.com/assets/2290904/18812057/c562fcb2-82c7-11e6-9751-fdd3b40a7318.png)

my gs dump
https://mega.nz/#!0tFVzCCa!gfhkkVVdNSFWkZrkjE1G4l-2lPImnGvdf1lb3LT_7O0

[2016-09-25 00:32] refractionpcsx2 commented on #1561
Hmm, are you using an old version or something? Because that looks like how it always looked (or close), but it looks pretty much fine mine with the newest git build.

[2016-09-25 00:34] Dokman commented on #1561
i have the latest build with yor pr for R&C and Jak

[2016-09-25 00:36] refractionpcsx2 commented on #1561
can you try the master branch?

[2016-09-25 00:37] Dokman commented on #1561
i tried it in another binary and i have the same problems

[2016-09-25 00:41] refractionpcsx2 commented on #1561
and you definitely have the right gsdx dll selected, not an old one?

[2016-09-25 00:42] Dokman commented on #1561
it's compiled by a new clone of the code so i think yes hahahaha

[2016-09-25 00:46] refractionpcsx2 commented on #1561
Then that's very strange because it's fine here! :S

[2016-09-25 00:48] Dokman commented on #1561
with autoflush works but i have a a worst performance i have like 10 fps or 15

[2016-09-25 00:49] refractionpcsx2 commented on #1561
Hmm, I have autoflush off.

[2016-09-25 00:50] Dokman commented on #1561
idk what is happening hahahaha

[2016-09-25 00:57] Dreadmoth commented on #1561
@Dokman Maybe try the [AppVeyor build of the framebuffer shader PR](https://ci.appveyor.com/project/gregory38/pcsx2/build/job/p797f0ydcwow4yms/artifacts) ?

With that build and UserHacks_mipmap=1 added to gsdx.ini, Ratchet & Clank looks like [this](http://i.imgur.com/PPhQiv8.jpg) for me (using [these GSDX settings](http://i.imgur.com/kxJKEhA.png)).

[2016-09-25 01:05] Dokman commented on #1561
what hacks you have set for r&c?

[2016-09-25 01:08] Dreadmoth commented on #1561
Nothing enabled in the menu - the "Enable HW Hacks" checkbox must be checked for the UserHacks_mipmap=1 ini setting to apply

[2016-09-25 01:09] refractionpcsx2 commented on #1561
I just have fast invalidation enabled,  nothing else

[2016-09-25 01:10] Dokman commented on #1561
thanks hahah i don't know that

[2016-09-25 01:32] Sarania commented on #1561
Just FYI it doesn't seem to work for me either. I'm using the latest build, HW hacks enabled, UserHacks_mipmap=1 in gsdx.ini. R&C 3 looks the same as it always has.

[2016-09-25 02:44] Dokman commented on #1561
in my case R&C 1 i like perfect not perfect but it's playable, it has a lot of stuttering but is playable

[2016-09-25 06:53] AmbientMalice commented on #1561
Deus Ex makes heavy use of mipmapping. Without the hack, the game looks fine, if a bit shimmery. With the hack enabled, everything breaks.

![gsdx_20160925165046](https://cloud.githubusercontent.com/assets/10704701/18813525/62e4428e-8340-11e6-9a67-43064fee33d2.png)

![gsdx_20160925165133](https://cloud.githubusercontent.com/assets/10704701/18813528/78ab614c-8340-11e6-927c-1e1987784fdf.png)

[2016-09-25 06:54] gregory38 commented on #1561
On the option, I think you could use the keyboard shortcut. The hack ought to be the start/default value only.

Otherwise, code is quite new. Please don't expect too much. I'm not even sure, if it could really work. Remember it is hack not a full implementation.

[code]
@refractionpcsx2
I think there are potentially texture cache issue too for this game.
On the mipmap layer. My hack only loads a s

[2016-09-25 08:51] mirh commented on #1561
Ok I finally realized **this** is what you really need to enable mipmapping
[code]
Indeed Ace Combat 5 improves in the distance (while nearest part of the terrain is still kind of glitchy)

[2016-09-25 10:31] Hirato opened #1589 "[Linux] Odin Sphere does not recognise Start button"
If I boot up Odin Sphere, all the splash screens go past and I can see the main menu.
However, it asks me to press Start, but none of the buttons I press is ever recognised as start.

PCSX2 is built from master with revision '6e2bf98'.
I'm using the OnePad input driver, I also gave Lilypad a quick try without much success (granted I don't know how to configure it in Linux, so that one might just b

[2016-09-25 13:41] prafullpcsx2 commented on #1561
@gregory38 : Did you had a look at jurassic park dump I attached above? Is it suffering from only mip map issue or something else is also there?

[2016-09-25 14:55] bositman commented on #1499
Just noting that this also fixed God of War letters as well :)

[2016-09-25 16:18] gregory38 commented on #1561
Quick look. Even sw render got some difficulties to replay the dump. There are likely others issues in the mix. I'm still trying to understand how to proper round the mess.

[2016-09-25 16:20] gregory38 commented on #1499
Oh very cool.

[2016-09-25 16:41] Sarania commented on #1561
With latest fixes R&C3 is working near flawless for me now, so ignore my previous message.

[2016-09-25 17:09] Dokman commented on #1561
@gregory38 i have a 4790K @ 4,4Ghz and i can't play with a good fps rate in R&C 1, why is happenning?

[2016-09-25 17:33] gregory38 commented on #1589
For sure it used to work, as I play the game on my computer :+1:
However lots of code was updated recently. Maybe I broke something  :cry:

[2016-09-25 17:40] gregory38 commented on #1499
@FlatOutPS2 @ssakash

I got a task for you. Not sure who want to do it.

Implement this optimization in the SW renderer.
[code]
It is few draw call but often full screen draw call. So it could help. And potentially it could allow further optimization as there is a fast path when there is no pixel test enabled.

[2016-09-25 18:01] Dreadmoth commented on #1561
@Dokman Strange, R&C 1 runs full-speed (aside from the in-game menu) on my 4770 @ 3.4GHz and GTX 770 - what settings / speedhacks are you using?
I have EE Cyclerate and VU Cycle Stealing at 0, all other speedhacks enabled.
(setting EE Cyclerate to negative values and/or VU Cycle Stealing to anything above 0 seems to result in reduced "true" FPS - making the game feel very sluggish even at "full sp

[2016-09-25 18:06] Dokman commented on #1561
okay i will see later

[2016-09-25 18:13] FlatOutPS2 commented on #1561
Just set the preset back to Safe, and make sure the MTVU speedhack is still enabled.

[2016-09-25 18:17] gregory38 commented on #1561
maybe we could open a forum thread for mipmap support. So this issue tracker doesn't explode.

By the way, Legacy of kain is much better except when the erratic gliches when you change the camera angle

[2016-09-25 18:24] Dokman commented on #1561
eith dx11 it works at full speed

[2016-09-25 18:29] Sarania commented on #1561
@gregory38 - I will make the thread now, once sec.

[2016-09-25 18:32] FlatOutPS2 commented on #1561
The same goes for most other games. If you move the camera you can often see (part of) the mipmapping glitches pop back in.

[2016-09-25 18:43] gregory38 commented on #1561
Yes Need some tuning. Does the glitches remain if you stop moving on the bad angle ? I need to capture it in a gs dump to understand what going on.

[2016-09-25 18:43] Sarania commented on #1561
@gregory38 Here is a vid Nobbs made of R&C 1 that shows more of the total effect:

https://www.youtube.com/watch?v=UNuhWBs8RiA

[2016-09-25 18:45] FlatOutPS2 commented on #1561
They did when I tried Legacy Of Kain Soul Reaver 2.

[2016-09-25 19:20] jcdenton2k commented on #1581
I guess I'll have to hang onto my null plugins in case future commits decide to remove those as well.
Going to go ahead and close this issue then.

[2016-09-25 19:20] #1581 closed

[2016-09-25 19:39] gregory38 commented on #1561
Looking at the video,  the rendering is quite good. Geezzz people are never happy :p it is likely a rounding issue of the lod factor. I'm pretty sure it can be improved. I'm surprised it isn't better with latest git

[2016-09-25 19:49] jcdenton2k commented on #1561
@gregory38 don't feel sad; people are likely playing above native resolution so these kinds of glitches are far more noticeable

If they were playing in Native Resolution on a CRT then they probably wouldn't even notice :)

[2016-09-25 20:07] Dokman commented on #1561
@gregory38 i am really happy with this changes 😄 i am waiting for more fixes like this

[2016-09-25 20:29] FlatOutPS2 commented on #1561
Just tried Tribes: Aerial Assault. The objects look good, but ground textures change at the wrong distances.

[2016-09-25 20:32] Dokman commented on #1561
![gsdx_20160925222950](https://cloud.githubusercontent.com/assets/2290904/18818051/9bf55cfa-836f-11e6-9698-5830b3b3b2ec.png)

Here you have a report for Destroy All Humans 2
https://mega.nz/#!801lBa4T!yMsN8dvRZMA5LDBN34jXUqY3jCoGsD0jjBJclHlQx90

[2016-09-25 20:44] Dokman commented on #1561
Set to OpenGL, set mipmapping and frameskp to 5 and then profit for your own Destroy All Humans 2

[2016-09-25 21:02] FlatOutPS2 commented on #1561
ICO godrays are visible in HW, but missing at certain angles. Added a GS Dump. Godrays constantly visible in SW, missing a certain angles in HW:

[ICO godrays missing at certain angles with HW mipmapping.zip](https://github.com/PCSX2/pcsx2/files/491899/ICO.godrays.missing.at.certain.angles.with.HW.mipmapping.zip)

[2016-09-25 21:17] FlatOutPS2 commented on #1555
Added fix to the wiki page, and as the issue has been resolved I'll close it.

[2016-09-25 21:17] #1555 closed

[2016-09-25 21:44] Dokman commented on #1561
missing letters in Destroy All Humans
https://mega.nz/#!ch0G2QDK!QWoK5tlD7ERClPKIRLcyWMcQKEnmbIJEuc77vpQ79ns

[2016-09-25 23:13] Namcot commented on #1561
@gregory38  Will this finally fix the car textures in Ridge Racer 5 in hardware mode?

They work fine in software mode.

Hardware Mode:
![hardware](https://cloud.githubusercontent.com/assets/22435586/18818849/71ccce2e-837c-11e6-816a-dcc3f3fc61ec.png)

Software Mode:
![software](https://cloud.githubusercontent.com/assets/22435586/18818906/5de7adc4-837d-11e6-8612-7cf908fe5681.png)

[2016-09-25 23:31] Nobbs66 commented on #1561
IIRC, the cars has issues with the texture cache not mip mapping.

[2016-09-26 02:47] MrCK1 commented on #1308
Gave this a random go. Works for me as of latest git.

We can close this now.

[2016-09-26 04:31] Sarania commented on #1561
Just FYI:

Fezzer, Nobbs and I all get crashes in R&C(them in 2, me in 3) with the latest build and HW mipmapping. We haven't yet isolated if it's related to having HW mipmap enabled(need more tests) or something else. Nothing useful appears in the log and the crashes are random complete exits of the PCSX2 process.

I'll try to get some additional tests to this end done tomorrow.

[2016-09-26 06:14] trostboot commented on #1555
How has this been resolved? Using async mix is a workaround, but the issue is still there and thus shouldn't be closed.

[2016-09-26 07:19] mirh opened #1592 "GSDumpGUI crashes when executable is renamed"
Specifically I believe the "children" (client?) process is hardcoded to look for gsdumpgui.exe

[2016-09-26 09:35] FlatOutPS2 commented on #1308
Does it still crash with v1.5.0-dev-625 or v1.4.0?

[2016-09-26 09:37] FlatOutPS2 commented on #1561
Yes, it's a TC issue. RRV doesn't have any mipmapping issues.

[2016-09-26 09:40] FlatOutPS2 commented on #1555
If changing a setting doesn't count as a fix, hundreds of issues would still be open. Not every game works perfectly with default settings. PCSX2 options aren't just cosmetic.

[2016-09-26 12:38] mirh commented on #1506
@DPersonalized Can you take a gsdump?

[2016-09-26 12:40] mirh commented on #1121
Aaaand, we are go https://community.amd.com/thread/205798
@gregory38

[2016-09-26 14:10] ssakash commented on #1499
@gregory38

Just for reference, do you know any games which hit the true branch of your suggested optimization? I don't seem to encounter any such cases on the games I have tested. GS dump of such cases would be nice to measure performance impact.

[2016-09-26 14:29] gregory38 commented on #1499
Did you try the gs dump from this thread? Check used to be bad letter rendering. GTA, burnout, GoW... I'm surprised it isn't more often. I will post you some dump tonight.

[2016-09-26 14:32] gregory38 commented on #1339
I merged my commit to handle some half-screen bugs. The guy that generates me this huge list can test all of them :p

Someone said Mercenaries was better. I would like a confirmation. And someone to test the 2 too.

[2016-09-26 14:34] gregory38 commented on #1589
I will test it on my side.

[2016-09-26 14:37] gregory38 commented on #1341
Could `Family Feud` be tested on latest git ?

[2016-09-26 15:31] prafullpcsx2 commented on #1339
I can confirm that both mercenaries games are indeed fixed.

[2016-09-26 15:32] FlatOutPS2 commented on #1339
Did the mercenaries games have the half-clear(bottom half of the screen not getting cleared properly) issue?

[2016-09-26 15:52] gregory38 commented on #1339
They got an half screen issue. Previous clear function didn't help but now the code is more generic so it likely helps.

[2016-09-26 16:21] prafullpcsx2 commented on #1339
xman origins wolverine is not fixed, so something else is going on there.

[2016-09-26 16:53] suikoden123 commented on #1339
Can some please make a ps vita emulator.gregory ?

[2016-09-26 16:53] suikoden123 commented on #1339
Can some please make a ps vita emulator.gregory ?

[2016-09-26 16:53] suikoden123 commented on #1339
Can some please make a ps vita emulator.gregory ?

[2016-09-26 17:22] prafullpcsx2 commented on #1339
Gun fighter 2 also fixed. :+1:

[2016-09-26 17:34] gregory38 commented on #1499
https://ufile.io/1af32

https://ufile.io/86634

[2016-09-26 17:49] FlatOutPS2 commented on #1339
Ford Racing 2, Killzone, NFS Underground 2 and WRC half-screen issues are all still there.

[2016-09-26 22:22] refractionpcsx2 commented on #1339
Destruction Derby still has the half screen issue too

[2016-09-26 22:22] refractionpcsx2 commented on #1339
Destruction Derby still has the half screen issue too

[2016-09-26 22:27] FlatOutPS2 commented on #1339
Where does The Getaway have the issue?

[2016-09-26 22:30] turtleli commented on #1592
Try the patch below:
[code]

[2016-09-26 22:42] refractionpcsx2 commented on #1339
as soon as you go in to "new game" you get the lighting cut off half way through the screen

[2016-09-26 22:46] FlatOutPS2 commented on #1339
You mean The Getaway Black Monday?

[2016-09-26 22:49] refractionpcsx2 commented on #1339
Yeah, sorry, didn't realise there was more than one :P

[2016-09-27 09:00] Two-Tone commented on #1047
The Ratchet and Clank games would likely see a benefit as well as those games really stress the CPU, unless you  heavily underclock the EE which can cause the in-game FPS to dip at times.

 Any reduction in CPU overhead would help, honestly.

[2016-09-27 09:13] gregory38 commented on #1047
But are you sure that the issue is the overhead of the driver. And not the GSdx overhead. It is really a complex topic.

[code]
Sure but it doesn't come for free. I'm pretty sure people prefer a slow openGL rendering with nice mipmap texture and shadows rather than a fast Vulkan mipmap garbage.

[2016-09-27 09:31] FlatOutPS2 commented on #1561
With the latest build Ace Combat 4 still has the same texture issues close to ground I posted a GS Dump for earlier in this issue.

[2016-09-27 09:36] gregory38 commented on #1561
Let's look first at the easy case.
[code]
You still have some bad texture in some angles ? If you can capture it on a dump it will be nice, it could be a slight rounding issue.

[2016-09-27 09:41] FlatOutPS2 commented on #1561
It could also be a seperate not mipmapping related issue. I'll look into it later.

[2016-09-27 09:44] gregory38 commented on #1561
Yes it could be a YATCI (yet another cache issue). Hopefully moving around can help to see if it is likely mipmap related or not.

[2016-09-27 10:05] Two-Tone commented on #1047
I'm not saying that the issue is the driver, just that the reduction in
driver overhead would give the emulator more room  to breathe.

Well of course people would prefer a more full features yet slower renderer
compared to one that is fast but lacking vital features.  But it's a moot
point as there is no Vulkan backend currently.
I
On Sep 27, 2016 4:14 AM, "Gregory Hainaut" <notifications@github.

[2016-09-27 10:18] gregory38 commented on #1047
[code]
No. The driver is running is own thread. If you're not limited by the driver overhead, it could be 10x time faster that you will barely notice any speed impact on the emulation. Well you're right that it will reduce the load on 2 core CPU but it is maybe time (and faster) to upgrade to a 4 core CPU (with AMD comes back, I hope it will become more standard).

[code]
There is no Vulkan backen

[2016-09-27 10:59] FlatOutPS2 commented on #1561
The ICO godrays missing at certain angles GS Dump I posted earlier has gotten worse with the same build(1356) that improved/fixed Legacy Of Kain. Now it doesn't shine properly at any angle.

[2016-09-27 11:26] Dreadmoth commented on #1561
Found a couple of remaining bad textures / camera positions:
[Ratchet & Clank](https://github.com/PCSX2/pcsx2/files/495204/Ratchet.Clank_mipmap_ge0961d8.zip)
[Ratchet & Clank 3](https://github.com/PCSX2/pcsx2/files/495209/Ratchet.Clank3_mipmap_ge0961d8.zip)

Jak 3 has some [patterns and shimmering noise on certain terrain textures](http://i.imgur.com/iMjqWeF.gif) at a particular distance from the

[2016-09-27 11:32] gregory38 commented on #1561
@FlatOutPS2 I suspect that ICO will require a full mipmap implementation. And even with it, it might not work well with upscaling.

[2016-09-27 11:33] FlatOutPS2 commented on #1561
Jak & Daxter: The Precursor Legacy isn't correct yet either:
The sea still has squares in it.
[Jak & Daxter sea mipmapping.zip](https://github.com/PCSX2/pcsx2/files/495341/Jak.Daxter.sea.mipmapping.zip)

[2016-09-27 13:49] Sunderland93 opened #1594 "Silent Hill: Shattered Memories. Many rendering bugs"
-PCSX2 version: 1.4 and 1.5.0 GIT 25-09-2016
-PCSX2 options: enabled EE cyclerate (2) and VU stealing (1)
-Plugins used: GSdx (hardware & software), SPU2-X, LilyPad, Linuz ISO/Gigaherz CDVD, the rest are null plugins.
-Plugin settings: Defaults
-Description: I recorded all of bugs, that has in Silent Hill Shattered Memories on all render backends https://www.youtube.com/watch?v=QwOFionyNv8
-How to

[2016-09-27 13:54] FlatOutPS2 commented on #1594
There already several issues open about this game, so I'll close this one. I suggest you add your video to this issue: https://github.com/PCSX2/pcsx2/issues/1326

[2016-09-27 13:54] #1594 closed

[2016-09-27 14:13] Sunderland93 commented on #1326
I recorded all of bugs, that has in Silent Hill Shattered Memories on all render backends https://www.youtube.com/watch?v=QwOFionyNv8

Tested on Windows 8.1 with Nvidia driver 372.90 and Debian 8.4 with Nvidia driver 367.44

[2016-09-27 16:03] ssakash commented on #1499
Thanks for the GS dump download links - unfortunately useless on my side as my 4G quota expired and I'm stuck with this 2G (GSM) which can't even handle a download of 1Mb... (FFS even a ``git push -f`` takes a ridiculous amount of time to get pushed to remote branches)

Either way, I'll try to open the PR for the Software mode optimization within tomorrow. (Performance testing of the ``no-pixel te

[2016-09-27 16:51] FlatOutPS2 commented on #1499
I quickly made a very rudimentary implementation of this, and it's definitely triggered by the Burnout games, but I noticed no impact. But that might just be down to where and how I implemented it. I'll await the PR.

[2016-09-28 14:41] vsub commented on #1410
Not sure but probably yes.
If something happen again,I'll open it again(If I can that is,I've never opened closed issues by me)

[2016-09-28 14:41] #1410 closed

[2016-09-28 17:09] FlatOutPS2 commented on #1561
I checked up on Soul Reaver 2 and couldn't find the issue with the latest build. I assume it was a fluke. I did see a rare flicker but it too was a one off that couldn't be reproduced.

[2016-09-28 17:21] gregory38 commented on #1561
@Dreadmoth I'm looking at your R&C dump. So for the R&C 3, I update a bit the rounding to take care of the issue. I'm still looking at the first one. I try to debug the left "tower" but I think there is a bug in the SW renderer. Here the SW renderer texure
![00581_f5001_itex2_03463_p_8](https://cloud.githubusercontent.com/assets/1569559/18924422/6dcbd8ca-85b0-11e6-928d-c603ce7f2574.png)
Sw renderi

[2016-09-28 17:33] gregory38 commented on #1561
@Dreadmoth actually what is the issue of the first dump ?
SW renderer:
![00401_f5001_rt1_01000_c_32](https://cloud.githubusercontent.com/assets/1569559/18924867/03775240-85b2-11e6-987c-b880e2f61296.png)

HW renderer:
![00401_f5001_rt1_01000_c_32](https://cloud.githubusercontent.com/assets/1569559/18924844/f143dbd4-85b1-11e6-8bc7-8bb37864f83d.png)

Zoom the 2, you can see that HW properly map the t

[2016-09-28 17:49] Dreadmoth commented on #1561
In the screen I included in the zip with the GS dump (captured at the same time with shift-F8), the dirt path texture near the centre of the screen is offset:
![R&C texture](http://i.imgur.com/kuvN5Jz.png)
It only occurs in that camera position (with a small range in any direction)
If I disable mipmapping it looks the same. In software it looks correct, as in the images you posted.

[2016-09-28 17:50] FlatOutPS2 commented on #1339
A few more still broken ones:
007: Everything Or Nothing (MI6 training)
Crash Twinsanity
FIFA games (2006 onwards)
Need For Speed Hot Pursuit 2
Tekken5 (heat effect burning temple)
Total Immersion Racing(fog in wet races)

[2016-09-28 17:52] gregory38 commented on #1561
Ok. My lastest update fix it. I will test it a bit on my side, if it is good, I will push it.

[2016-09-28 18:44] FlatOutPS2 commented on #1561
Latest changes seem to have fixed the bad textures at certain angles in Ace Combat as well. Still has the gaps between textures when close to the ground at certain locations/angles.

[2016-09-28 18:50] pepiczech77 commented on #1339
Some other games still affected:
Killzone
NFS Carbon (if it is half screen issue, seems a bit different)
NFS Underground
NFS Underground 2 (also shadows seem incorrect in HW mode)
TOCA Race Driver 3 (in distance when it is rain) but broken menus in HW mode are probably fixed

[2016-09-28 19:43] mirh commented on #1592
Yes it works.
While you are at it.. I'd also wonder why sometimes I have to click two time start button, before an actually-doing-something process appears.

[2016-09-28 20:22] mirh commented on #1575
Actually.. I think AC, should need an additional hack too.
Clouds are "[tinier](http://www47.zippyshare.com/v/2NMSJEfJ/file.html)" in hw mode.

[2016-09-28 20:35] Sarania commented on #1561
❤Gregory is amazing ❤

Thanks so much for your hard work!

[2016-09-28 20:48] jcdenton2k commented on #1047
@Two-Tone:

I've looked through your github contribution history and it seems you're more of a tester/issue commiter than an actual coder.  I'm of a somewhat similar ilk.
@gregory38 is an actual coder and intimately involved deep in the nuts and bolts of maintaining a PCSX2 codebase that has been around for several years and has over 95% compatibility with PS2 games.

That said, perhaps you should

[2016-09-28 21:12] FlatOutPS2 commented on #1575
Most clouds are actually invisible in HW in all AC games. The AC games need less hacks and more proper solutions. The current CRC hacks cause worse issues than they solve.

[2016-09-28 21:12] mirh opened #1596 "When "Renderer" isn't set.. Unforeseen consequences"
Just try to replay [this](https://github.com/PCSX2/pcsx2/issues/1575#issuecomment-250288238) gsdump with a void gsdx.ini

After playing with the setting of a filled up config file.. I found that to be the odd cause.

[2016-09-28 21:19] mirh commented on #1575
Isn't there like.. Just a single one? And only in AC4?
Indeed, I usually play with them disabled ("None") given I seem to gain some fps.

Afaik AC only had [COP2](https://github.com/PCSX2/pcsx2/commit/35da3319dfb3f82f12135e9956b186a5f6f3e385) [patches](https://github.com/PCSX2/pcsx2/commit/1d5d9da25ba466f12afa568d43bcdb99f0d4a2d4).

[2016-09-28 21:19] FlatOutPS2 commented on #1596
Yes, with a void gsdx.ini it looks like D3D9 Hardware mode. What's the issue?

[2016-09-28 21:21] mirh commented on #1596
Oh wait.. Renderer is the RENDERER, not **adapter**.
I'm retarded.

Good night.

[2016-09-28 21:21] #1596 closed

[2016-09-28 21:26] Two-Tone commented on #1047
What?  I never mentioned Win10 or DX12, only Vulkan, so you're putting an awful lot of words in my mouth.

It wouldn't make sense for me to advocate Win10 or DX12 as Debian and Win7 are my two primary OSes.

I generally don't contribute code to floss programs, but I have my own private repos on here. Don't assume you know a person just because you looked through their minimal public GitHub history

[2016-09-28 21:26] FlatOutPS2 commented on #1575
AC4 actually has two CRC hacks, and they both cause very annoying HUD issues. Anyway, a proper solution would probably work better than CRC hacks in this case.

[2016-09-28 21:30] FlatOutPS2 commented on #1047
Except that most lower end systems don't support those API's...

[2016-09-28 21:52] Two-Tone commented on #1047
If you're talking about age, then for Nvidia their GPU support goes back as far as their 600 series (2012), AMD is their entire GCN family (early 2012, support is sketchy on Linux, but that is improving, plus the vast majority of users are on Windows), and for Intel no support yet on Windows but support on Windows goes as far back as Ivy Bridge (2012).

Intel is the odd one out, but the as the Ste

[2016-09-28 22:04] FlatOutPS2 commented on #1047
Most user's system do support Vulkan, but most lower end systems don't or only support it through their Intel iGPU on Linux(which does not really count, as most users don't want to switch).

[2016-09-28 22:25] #1592 closed

[2016-09-28 22:32] turtleli commented on #1592
Don't have a clue. I looked into the name bug because it sounded stupid and curiosity got the better of me. If you want this reopened so someone might look into the issue, ask (or just open a new issue).

[2016-09-28 22:38] Two-Tone commented on #1047
At least 35% of the surveyed AMD and Nvidia users are using a mid-low to low end GPU that support Vulkan. That's close to half of all AMD and Nvidia GPUs that support Vulkan (46.6~%). It's also greater than the total number of Intel or AMD users (if combined it's only behind by 7%).

The total number of users who would benefit from a Vulkan backend is fairly substantial.

[2016-09-28 22:44] avih commented on #1047
Agreed. Now let's move on from this point.

I don't think anyone is opposing supporting new backends. The issue remains that it needs someone to actually add the support for new backends, which takes considerable knowledge, time and effort. Until such someone volunteers for the task, well.. not much would happen.

[2016-09-28 23:08] Scellow commented on #1047
Vulkan is still new, every new GPU will support it, even low end range, it's just about time, just like every other tech

[2016-09-28 23:24] FlatOutPS2 commented on #1047
Those mid-low to low end GPU's are either laptop GPU's that often have CPU's that can hardly support PCSX2 anyway or they're fall in the high end systems category for PCSX2 and won't have much issue's with PCSX2, except in a handful of games. Either way it won't help the actual low-end systems.

[2016-09-28 23:26] avih commented on #1047
@FlatOutPS2 drop it.

[2016-09-29 05:50] jcdenton2k commented on #1047
I see two problems with this.

1 - Using Steam Hardware Survey as the be-all and end-all of 'what hardware PC gamers use'.  While Steam represents a majority of the market, it still isn't 100% of the market.  Many people like myself us GoG or Humble Bundles to obtain games and don't use or participate in Steam's ecosystem.  Ignoring that fact is to ignore reality.

2 - The case is made for Vulkan

[2016-09-29 06:14] Two-Tone commented on #1047
altogether. Why maintain two APIs when we have OpenGL not only on par with
DirectX but BETTER than it with more accuracy AND better performance rolled
into one ALONG with cross-platform compatibility?

Because AMD's OpenGL sucks but the DirectX driver is just fine, meaning a
LARGE number of users would see a huge decrease in performance (I see about
a 30-50% decrease in every game I have tested on

[2016-09-29 06:37] gregory38 opened #1597 "Multiple palette context issue in harley davidson"
For the record

It was fixed by the reverted commit 8d4fadb3c88b571a09873bc22009a771333a70ec

The explanation from the PR

[code]

[2016-09-29 06:54] gregory38 commented on #1561
I did a quick look at the J&D sea testcase. As APE2, it is clearly a limitation of my implementation. A texture mipmap is composed of several layers. In some situation, you want to interpolate between layers (it is called tri-linear filtering). It allow to have a smooth shading when you apply a texture on a "long distance" (often ground or sea).

However my implementation only picks a single layer

[2016-09-29 07:04] gregory38 commented on #1561
@FlatOutPS2
I fail to see the gap issue on your ace dump. But by gap, you mean that you kinds of saw 2 layers side by side instead of a smooth pattern. In this case, it is likely the same issue as my previous post. It would require more work.

[2016-09-29 09:36] FlatOutPS2 commented on #1047
Unless that was a very small and unlucky collection of games you tried, that's a load of BS. I see a decrease in maybe 25% of the games, and most of those drops are between 10-20%, which can often be mended by changing a few (speedhacks)settings, and that's with an AMD GPU that is quite a bit older than yours...

[2016-09-29 09:46] FlatOutPS2 commented on #1561
Oh, I see, it's a mipmap scaling issue. I didn't see it either with native resolution.

BTW: You could've seen what I meant in the image that came with the dump. ;)

[2016-09-29 10:07] gregory38 commented on #1047
Oh my, welcome to drama world.

Here some facts
* http://forums.pcsx2.net/Thread-New-feature-Needs-testing-GSdx-HW-mode-Experimental-mipmap-support?pid=536884#pid536884
[code]
Mipmap likely increases the driver overhead (more texture to upload). Yet it is much faster because it reduces the size of the texture to process on the GSdx thread.

* Again AMD users requires a multi-threaded GSdx implemen

[2016-09-29 10:18] gregory38 commented on #1561
I will look at it. I didn't test upscaling. I don't know why but there is a hack that split differently the number of draw call when it is upscaled https://github.com/PCSX2/pcsx2/blob/master/plugins/GSdx/GSState.cpp#L2596

[2016-09-29 11:58] Sunderland93 commented on #1047
Vulkan would be great, but I preffer full 64-bit support in PCSX2, because I'm tired of install many i386 dependency's on my Linux systems. And PCSX2 interface is ignore desktop theme and looks like "hello from Windows 95"

[2016-09-29 12:18] gregory38 commented on #1047
[code]
Oh, it could explain why it's looking so much modern on my PC :stuck_out_tongue:  On linux, I think the issue come from the link of wxWidget with GTK2.

[code]
In order to do development, to use mesa driver, mesa testsuite, gpu debugger. Do you know how many Debian package I recompiled in local. And how much my system is a mess to support multiple arch dev packages.

[2016-09-29 12:44] FlatOutPS2 commented on #1339
Looks like a normal half-screen issue to me.

I updated the first post a little to show the games that are confirmed to still have the issue, so we don't keep checking the same games.

[2016-09-29 12:58] FlatOutPS2 commented on #1561
I tried the FIFA games with mipmapping and they look great too, but they seem to suffer from the same interpolation issue that Ape Escape 2 and J&D have.

[2016-09-29 14:04] gregory38 commented on #1561
Hum, all games that really uses mipmap for filtering instead of a memory optimization (like R&C) will suffer of this issue. Potentially instead to always select the top level, I could do a mean of min_lod/max_lod, it could be less bad (or could be worst).

The real solution will be to really handle mipmap. But this part won't be free. I'm afraid it will generate a lots of texture cache miss.

[2016-09-29 14:13] Enverex commented on #1047
Regarding the interface, make sure your themes are set up properly. I'm running a 64bit system and it looks fine here, so it's not a PCSX2 issue:

![image](https://cloud.githubusercontent.com/assets/958670/18957490/3de0704c-8657-11e6-9913-e1c8afffaade.png)

[2016-09-29 14:14] gregory38 commented on #1047
Oh might need to install a 32 bit theme too ;)

[2016-09-29 15:03] Dokman commented on #1561
@gregory38 and how you can handle the texture cache? it's from the graphics driver or it's from the gpu?

[2016-09-29 15:27] Bracket- commented on #1555
Should using Async audio really be considered a fix? A temporary workaround until the problem is understood and/or fixed, sure. This shouldn't be treated like some issues that simply can't be properly fixed.

An issue is and issue and closing them simply because there's a workaround or alternative available is bad practice in my opinion.

[2016-09-29 15:52] gregory38 commented on #1561
I mean GSdx texure cache. In short, it is complicated. I always said that current implementation is limited. Honestly it is far better than expected.

[2016-09-29 16:07] trostboot commented on #1555
@Bracket-  Personally I agree with that. That's what an issue tracker and proper labelling should be for.
But as an outsider to the project I'm not too comfortable arguing about it beyond what was already said. If they're happy with the current practice, that's their right, I suppose.

[2016-09-29 16:50] Dokman commented on #1561
i am studying ++ but i don't know how it works 3D, i want to learn dx and opengl but if i don't know the basis i cannot help sorry :( i don't have any book for it :(

[2016-09-29 17:47] refractionpcsx2 commented on #1561
You should google tutorials, there are many on the web :)

[2016-09-29 18:38] FlatOutPS2 commented on #1555
An issue is an issue and closing them simply because there's a workaround or alternative available is bad practice in my opinion.

If Async audio caused several other major issues in the game, you'd make a good point, but as there don't seem to be any, it is a good fix for this game. Keeping all the issues that are fixed by changing a setting open, would make it very difficult to focus on and fix

[2016-09-29 19:45] Dokman commented on #1561
okay i will see in google i will try to work a little bit with dx and ogl before to start here

[2016-09-29 23:09] ingalexander opened #1598 "not detect input from keyboard (game Ar Tonelico II)"
Hello to the comunity, thanks for this project
-PCSX2 version: PCSX2 1.5.0-0 - compiled on Sep 28 2016
-PCSX2 options: Defaults, no settings modifications affect the issue
-Plugins used: GSdx, SPU2-X, OnePAD,CDVDnull Driver
-Plugin settings: Defaults, no settings modifications affect the issue

-Description: The game start without problem but in the first screen that ask for input, the game no det

[2016-09-29 23:23] jcdenton2k commented on #1598
1 - You should mention your OS at the beginning quite clearly.

2 - Make sure your controller options are configured and you have your controller detected under the OS itself.

3 - Try using LilyPad to test if it is still giving you trouble.

[2016-09-29 23:29] jcdenton2k commented on #1555
Is there any way to make this an 'Automatic' gamefix for this specific game?
I realize how much I'd loathe adding in yet another custom hack just for one game but it could be 'temporary' until the devs have time to address the underlying compatibility issues causing the workaround to be necessary.

Just for fun, pulled out my disc from storage, ripped it to my hard drive, transferred it to my PS2'

[2016-09-30 00:52] Sarania commented on #1561
Can definitely confirm that Hardware mode with mipmapping is faster than hardware mode without mipmapping by a good 30%.

[2016-09-30 05:37] Sunderland93 commented on #1047
PCSX2 interface is ignore desktop theme and looks like "hello from Windows 95"

Oh, it could explain why it's looking so much modern on my PC :stuck_out_tongue: On linux, I think the issue come from the link of wxWidget with GTK2.

 I'm tired of install many i386 dependency's

In order to do development, to use mesa driver, mesa testsuite, gpu debugger. Do you know how many Debian package I recomp

[2016-09-30 05:38] Sunderland93 commented on #1047
@Enverex I'm using KDE.

[2016-09-30 09:35] FlatOutPS2 commented on #1561
Was someone doubting that? :p

[2016-09-30 10:07] Sarania commented on #1561
Interesting. How many have you tested that way? Why would R&C in particular get such a phat speed boost?

[2016-09-30 10:17] FlatOutPS2 commented on #1561
Because it affects way more textures in that game that flicker/switch around a lot. In other games there are usually just a few wrong textures, and most show one wrong layer instead of flickering between several.

[2016-09-30 10:26] Sarania commented on #1561
Ahh, makes sense. Thanks.

So where are we on this? Are there still improvements to be made? Just trying to get things back on topic :P

[2016-09-30 10:31] gregory38 commented on #1561
R&C is faster because of Vulkan. Oh wait, no ;)

Actually I think I understand why. When the layer isn't used the texture pointer is random and often 0. However 0 is also the address of a frame buffer. So before you could use the texture, you need to convert it from the frame buffer. It is slow whatever the number after Dx.

[2016-09-30 10:33] gregory38 commented on #1561
On the implementation I think we are pretty good (i.e. I can't really do better in a short term).
* we need to discuss the option topic. Dedicated option or same option as SW renderer
* @ramapcsx2 could you test tomb raider again
* the biggest bug that remain is the interpolation between layers (aka mipmap => go back to square 1 :stuck_out_tongue: )

[2016-09-30 10:37] Sarania commented on #1561
I personally think it should be tied to the SW renderer option. My reasoning is that no one will really be using both HW and SW renderers at the same time(they might sometimes switch back and forth but obviously you can't use both simultaneously) and that less GUI clutter and sneaky options to remember is always a good thing.

The trick is where to put it in the UI if we do that. Currently it's di

[2016-09-30 10:41] refractionpcsx2 commented on #1561
Default full mipmap implementation enabled, hw hacks - > Fast Mipmap

[2016-09-30 10:41] gregory38 commented on #1561
Wait, what do you call full and fast mipmap ?

[2016-09-30 10:44] refractionpcsx2 commented on #1561
full = slow implementation with interpolation of layers etc
fast = what we got now :P

[2016-09-30 10:47] Sarania commented on #1561
Well we can do that when we have a full implementation lol

[2016-09-30 10:48] gregory38 commented on #1561
sorry, slow brain here. There is 3 states currently.
full => interpolation of layers => only implemented in SW renderer
mid => select a single valid layer => my latest improvement
none => always take top layer => the broken texture stuff in some game

So what do you call "what we got now" ? mid or none ?

[2016-09-30 10:48] FlatOutPS2 commented on #1561
We could add a Mipmapping dropdown list with those options below `Interlacing (F5)`

[2016-09-30 10:48] Sarania commented on #1561
I'm pretty sure he means "What we got now" = mid but I could be wrong.

[2016-09-30 10:51] Sarania commented on #1561
I like Flatout's idea. That's extensible too even if we do get a full implementation.

[2016-09-30 10:54] refractionpcsx2 commented on #1561
what we have now is "mid", I probably misunderstood, but I thought the intention was to have a full implementation for hw mode but ofc it's usually too slow, but it might be okay for some games (or epic hardware) so people have the option then to go down to the "fast" option.  tbh I don't think there's any benefit to having a "none" option, the speed hit from the "mid" implementation is minimal.

[2016-09-30 11:05] Sarania commented on #1561
The reason for having a no option would be in cases where it actually breaks things. Who knows how feasible a perfect full implementation would be and/or if it would break things. AFAIK this current implementation still breaks some games right? What about Deus Ex like mentioned above?

[2016-09-30 11:20] FlatOutPS2 commented on #1561
Several games that don't have issues without HW mipmapping, do have issues with the current HW implementation. Like Deus Ex, but I also noticed it in Gran Turismo 4(though not as bad) and there are probably many more with at least some minor negative effects.

[2016-09-30 12:11] MrCK1 commented on #1561
@FlatOutPS2 Wait, what mipmapping issues exactly are there in GT4?

[2016-09-30 12:15] FlatOutPS2 commented on #1561
I'm not sure, I noticed some messed up grass textures in the distance(interpolation issue?). I didn't mean to use mipmapping, so I just turned it off.

[2016-09-30 13:05] gregory38 commented on #1561
[code]
@refractionpcsx2, lol nice try.

[code]
The issue is that game will take a lower level of details for texture. It will be too low for upscaling. I'm pretty sure you have mipmapping issue on all games but nobody never noticed them. Or they uses AF to compensate it.

[2016-09-30 13:08] Hirato commented on #1589
Just saw fc32b749dd3c8316b55ff58a5c7c9a143137064a land and it fixes the issue.

Might also want to see if #1598 is a duplicate.

[2016-09-30 13:08] #1589 closed

[2016-09-30 14:29] refractionpcsx2 commented on #1561
and we cannot compensate for that when upscaling?

[2016-09-30 17:29] gregory38 commented on #1339
@prafullpcsx2 could you retest X-men origins - wolverine

[2016-09-30 18:36] prafullpcsx2 commented on #1339
Although God of War 2 is fixed now Xmen is still messed up. It seems to have separate half screen issues in menu as well as ingame (may be same). Here is gsdump of both. http://www.filedropper.com/xmenorigins

[2016-09-30 18:42] prafullpcsx2 commented on #1339
Although God of War 2 is fixed now Xmen is still messed up. It seems to have separate half screen issues in menu as well as ingame (may be same). Here is gsdump of both. http://www.filedropper.com/xmenorigins

[2016-09-30 19:30] gregory38 commented on #1561
![multiple_tex](https://cloud.githubusercontent.com/assets/1569559/19004166/cd5417e4-8754-11e6-825c-64ce3bd7f6b8.png)

[code]
You can do that, but it won't work. How do you know if layer 0/1/2 got real data when you draw a triangle with a a lod of 3. (it will work for game that always update all layers)

[2016-09-30 19:46] refractionpcsx2 commented on #1561
Yeah but, level 3 is crap :P

[2016-09-30 19:48] gregory38 commented on #1561
I need some openGL testers of the new PR #1601 (read the PR info). Only the speed.

[2016-09-30 20:03] pepiczech77 commented on #1339
Here are screenshots. I am not sure if it is related at all, but I can somehow see some horizontal plane there. (see screenshot, I highlited it on one of them)
Also the game is green in HW mode. I think it's a known issue.
Also I have no idea why the screenshots  are stretched.
![gsdx_20160930212916](https://cloud.githubusercontent.com/assets/17233252/19005060/01024ce2-8759-11e6-937f-fea024db608f.

[2016-09-30 20:27] gregory38 commented on #1339
@prafullpcsx2 thanks you. Fix pushed.

[2016-10-01 01:41] turtleli commented on #1081
I noticed branches with `/` in them fail in AppVeyor. The issue is that the branch name is used as part of the folder name. I'll probably just change it so it doesn't do so.

[2016-10-01 08:22] gregory38 commented on #1081
Oh! That's the reason.

[2016-10-01 08:28] prafullpcsx2 commented on #1339
@gregory38 Good job. It works fine now :+1:

[2016-10-01 15:52] gregory38 commented on #1598
@ingalexander Please test latest git version.

[2016-10-01 16:04] gregory38 commented on #1561
So I updated the PR #1601 to support interpolation between layer. As expected it is slow and it behaves badly with the texture cache. It would be nice to test APE ground and such.

[2016-10-01 16:36] gregory38 commented on #1561
By the way, i think we will have more state on the mipmap.
* none
* mipmap single layer
* mipmap single layer + auto generation of sub layer
* mipmap multiple layers

master can do 2nd. New pr is 4th. And 3rd is not yet fully build on my head. However it could maybe replace aniso

[2016-10-01 16:42] ingalexander commented on #1598
@gregory38 , Finish testing git version of 30 sept, it works perfectly now with onePad, thanks

[2016-10-01 20:02] FlatOutPS2 commented on #1598
Then this issue can be closed.

[2016-10-01 20:02] #1598 closed

[2016-10-02 00:05] ilag11111 opened #1602 "Syphon Filter: TOS - Selected weapon icon drawn in incorrect order"
-Game Title: Syphon Filter: The Omega Strain NTSC - SCUS-97264
-PCSX2 version: 866173a and newer
-PCSX2 options: Defaults, no settings modifications affect the issue
-Plugins used: GSdx, SPU2-X, OnePad
-Plugin settings: GSdx OGL hardware and software renderers.

-Description: The selected weapon icon is drawn partially behind the transparent blue background it's supposed to be drawn above.  This h

[2016-10-02 09:16] gregory38 commented on #1561
Actually maybe we will need 2 separate options. So here my proposal.

Extend Texture Filtering combo box with
* Trilinear
 * generate automatic mipmap from the top layer when PS2 uses trilinear filtering
* Trilinear forced
 * same as above but always enable it (even when PS2 doesn't use mipmap)

Add a combo box for mipmap setup
* none
* 1 layer
 * current code
* all layers or full (experimental)

[2016-10-02 16:04] gregory38 commented on #1277
I'm closing this issue. Situation is better and we have too much wx noise anyway.

[2016-10-02 16:04] #1277 closed

[2016-10-02 16:13] FlatOutPS2 commented on #1602
The cut off fingers issue appears between builds 1126 and 1132, which is the alpha test improvement merge. The issue does not affect Direct3D renderers though.

[2016-10-02 16:19] gregory38 commented on #1602
Potentially pr #1593 will improve the situation. However it could be due to the rounding bug of the vertex trace of the Z value. Too bad that I threw the code.

A gs dump will be nice to spot the exact regression.

[2016-10-02 16:22] #1025 closed

[2016-10-02 16:42] FlatOutPS2 commented on #1602
I tried PR 1593, but it had no effect on the issue.

[Syphon Filter The Omega Strain HUD issues.zip](https://github.com/PCSX2/pcsx2/files/505105/Syphon.Filter.The.Omega.Strain.HUD.issues.zip)

Contains 2 GS Dumps. One is the missing fingers, which are missing in OGL HW.
The other is the gun. Which is almost completely blue in OGL HW, partially blue in SW modes, but fine in DX HW modes...

[2016-10-02 19:05] jcdenton2k commented on #1561
You are amazing and I can't wait for the final code to be committed :)

That said, my take is that certain options that sacrifice speed for more accuracy should be included in the emulator but under the 'Hacks' section with proper information/warning that it is SLOW and will likely cause a severe performance hit.

Then people with potato computers can either upgrade or just play on the original ha

[2016-10-02 23:38] mirh commented on #1561
Well, to be honest the very definition of hack is meant to imply the contrary.

Besides, the actual problem is that some games are more picky than others.. And settings are general.
Aside of fixes improving overall pickiness anyway, situation isn't really going to be solvable until we find some CRChack-like way to handle this.

[2016-10-03 08:07] gregory38 commented on #1602
missing finger is related to ATE. However the draw call (number 853) wasn't impacted by the new change.

By the way the game triggers the following assertion:
[code]
Maybe it could explain the strange behavior on various renderer.

Oh it seems a change was introduced in Dx. I don't see the equivalent of
[code]
=> vs_sel.bppz ?

[2016-10-03 08:25] ramapcsx2 commented on #1561
@gregory38 Tomb Raider mipmaps look good :)

[2016-10-03 10:37] gregory38 commented on #1602
Yep, old code only enable DepthMask when m_vt.m_max.p.z > max_z. My new code always enable it, it is bad idea. I will change it.

[2016-10-03 12:02] arcade1977 opened #1603 "GSDX: JAK2 USA(CRC: 9184AAF1) is still bugs"
Jak‘s hair and face are still exist strange bugs，eyes are black

[2016-10-03 13:44] ssakash commented on #1603
Please use the [forums](http://forums.pcsx2.net/index.php) instead for support. Your report lacks a lot of necessary information to be considered as a [**_valid_ bug report**](https://github.com/PCSX2/pcsx2/wiki/How-to-create-useful-and-valid-issues).

[2016-10-03 13:44] #1603 closed

[2016-10-03 16:38] gregory38 commented on #1602
Ok tell if it is better. Sw renderer is likely bad because there is a depth overlow. We don't care on GPU as buffer isn't linked to the GS memory.

[2016-10-03 18:18] gregory38 commented on #1526
Hw renderer is a texture cache issue. I got a depth buffer instead of the real input texture.

I also noticed some invalid PSM format for the framebuffer. In this case GSdx will skip the draw call. I try to replace the invalid format with a valid one. Rendering is a bit better but I got some strange triangle.
![broken_hud](https://cloud.githubusercontent.com/assets/1569559/19048402/741b5d32-89a6-1

[2016-10-03 18:35] gregory38 commented on #1526
I potentially have a fix for the HW renderer. But main issue still exists.

[2016-10-03 19:21] gregory38 commented on #1526
Be happy I found the crazyness.

[2016-10-03 19:32] MarcoEstevez commented on #1526
How epic are you  :)

[2016-10-03 19:37] gregory38 commented on #1526
Honestly on this one, I deserve a very good :beer:  => #1605

[2016-10-03 19:39] gregory38 commented on #1526
For the posterity
![berserk](https://cloud.githubusercontent.com/assets/1569559/19051104/dbf86d72-89b1-11e6-875e-88d423b7983e.png)

[2016-10-03 21:45] FlatOutPS2 commented on #1602
The handgun and fingers are now fixed in OGL Hardware. @ilag11111 Can you check the other weapons?

[2016-10-03 23:16] Joqu commented on #1501
Same issue here on 1.4.0. and the only thing that fixes it for me is playing in native res.

As far as I can tell it's a known issue, but any solutions I've come across aren't working for me, and I assume no longer do for anyone. I haven't found any new solution at least.

[2016-10-04 14:28] FlatOutPS2 commented on #1562
Colin McRae Rally 2005 SW issue has been resolved thanks to https://github.com/PCSX2/pcsx2/commit/3994141d4085c6365876efc0c561893cda9aba96

[2016-10-04 14:34] gregory38 commented on #1562
We need to add the jak issue and the explanation in this report.

[2016-10-04 19:02] prafullpcsx2 commented on #1562
Although it wasn't mentioned in this thread but I would like to report that software mode ghosting in Catwoman is also fixed by auto flush hack. HW mode ghosting is same as before.

[2016-10-04 20:08] gregory38 commented on #1562
Good, I wanted to ask you :+1:

[2016-10-04 22:11] ilag11111 commented on #1602
Testing revision 1b8d6a3

OGL Hardware: Checked a few items.  Appears to work just like fb2182d, so regression fixed.  Which means there's still a few select weapons with blue or missing pieces such as the MDS A3 on weapons aside from a select few such as the MDS A3.
GS dump with screenshot: [SFTOS_MDSA4_imperfect.zip](https://github.com/PCSX2/pcsx2/files/509616/SFTOS_MDSA4_imperfect.zip)

OGL Sof

[2016-10-04 23:08] gregory38 commented on #1602
The thing is hw renderer can't emulate properly the alpha test effect (due to gpu limitation). However it supports a full range of depth.
On the other hand, the sw render support correctly the alpha test effect but choke on depth value above the maximum allowed. I think that we're above the max due to VU/FPU rounding.

[2016-10-04 23:34] Dreadmoth opened #1607 "Ratchet & Clank series, Jak 3 - Incorrect transparency and specular"
-PCSX2 version: 3996fbe and newer
-PCSX2 options: Defaults, no settings modifications affect the issue
-Plugins used: GSdx, SPU2-X, LilyPad, cdvdGigaherz

-Plugin settings: Tested all GSdx hardware and software renderers. The issue is fixed by using a software renderer of GSdx. Issue intensity varies slightly between hardware renderers and OpenGL Blending Unit Accuracy levels.

-Description: Many

[2016-10-05 06:44] gregory38 commented on #1607
Could you proive me a gs dump?

[2016-10-05 06:59] Dreadmoth commented on #1607
[Ratchet and Clank 3 - Florana - specular alpha.zip](https://github.com/PCSX2/pcsx2/files/510226/Ratchet.and.Clank.3.-.Florana.-.specular.alpha.zip)

[2016-10-05 07:00] gregory38 opened #1608 "psxmode/GSdx: PS GPU24 support"
Psxmode uses a dedicated more for the display called PS_GPU24.

Here a potential layout.
- 32 bits layout with 2 block merged
  Block number by page

[code]

A block line contains 16 RGB packed pixels + 16 bytes of packing (Or potentially no packing.)

[2016-10-05 07:05] gregory38 commented on #1607
Well, would you have a dump with a more broken scene. I might need to compare draw by draw call. And it will be very hard here. I would prefer the water of the 1.

[2016-10-05 07:17] Dreadmoth commented on #1607
Okay:
[Ratchet and Clank - Novalis - water opacity.zip](https://github.com/PCSX2/pcsx2/files/510256/Ratchet.and.Clank.-.Novalis.-.water.opacity.zip)

[2016-10-05 07:43] #1607 closed

[2016-10-05 19:18] sudonim1 commented on #1608
Just to head off any speculation and avoid duplicated work in case nothing gets committed for a while: we've worked it out.

[2016-10-05 19:34] ramapcsx2 commented on #1608
Okay, I've seen it work and that's great to know :)
One tidbit: Would be nice to have it in SW and HW :)

[2016-10-05 19:49] gregory38 commented on #1608
Actually I'm working on something that we could fit in GSLocalMemory (aka common code). It works on the HW too with the `preload frame with gs data` hack. However I've some strange flickering (even on SW). But it could be  gsdump issue.

[2016-10-05 20:01] gregory38 commented on #1608
@ramapcsx2 could you test the last git.

[2016-10-05 20:12] gregory38 commented on #1526
I pushed the frame format fix. So you can play the game properly on the SW renderer. I still have a pending fix on the pull request for the HW renderer.

[2016-10-05 20:32] FlatOutPS2 commented on #1608
There are still several issues with the FMV's in both SW and HW.  There are artifacts popping up in the opening FMV of N4S and Ace Combat 2 has a horizontal half-screen split issue.

Preload hack for HW also seems to only work after pausing and resuming the emulator.

Still, great progress compared to before. :)

[2016-10-05 20:48] gregory38 commented on #1608
![00035_f5035_fr0_00000_ps24](https://cloud.githubusercontent.com/assets/1569559/19130946/baab5664-8b4d-11e6-9113-ce6245b6aa09.png)
I'm not sure the issue is GSdx related. It feels like core send garbage from time to time.

[2016-10-05 21:04] MrCK1 commented on #1608
@FlatOutPS2 JMMT also has the horizontal half split FMVs

[2016-10-05 22:04] #1196 closed

[2016-10-05 22:08] gregory38 commented on #1385
@hazrpg ping

[2016-10-05 22:58] AzazelDC commented on #1526
On HW, all UI disappeared now except health boss and minimap.

Cutscene subtitle doesn't appear before and after commit on HW also. Is it the same kind of problem ?

[2016-10-05 23:13] FlatOutPS2 commented on #1339
MGS3 codec still has the issue.

[2016-10-05 23:26] AmbientMalice commented on #1339
@FlatOutPS2 PAL version, I assume?

[2016-10-05 23:27] gregory38 commented on #1526
[code]
https://ci.appveyor.com/project/gregory38/pcsx2/build/1.1906-master/job/dvu2dypdafj6rirl/artifacts

[2016-10-06 01:07] AzazelDC commented on #1526
Yes i know. It was mainly to note the subtitle problem on video, if that was the same kind of problem.

[2016-10-06 05:11] oddMLan opened #1610 "Parappa the Rapper 2 depth issues"
Virtually all versions suffer from this, even the current master

Default settings and plugins. OGL + HW Depth fixes some issues but not completely, as it also creates other issues such as black noodles appearing in the top left corner

-Objects tend to get in front of the tap bar where a player must press the buttons to rap. This doesn't happen in real hardware.
-The colorful noodle effect when a

[2016-10-06 06:09] ramapcsx2 commented on #1608
Great work guys, Grandia works in SW :)

Yes, that's IOP DMA of garbage data when it was faster than CDROM. It's a core bug with the DMA controller that we need to fix.

[2016-10-06 06:18] ramapcsx2 commented on #1608
This is the Final Fantasy 8 intro:
![](https://i.imgur.com/bl2JQhU.png)

Blockdump here if you want to take a look :)
https://www.sendspace.com/file/y3swzm

[2016-10-06 08:30] gregory38 commented on #1526
maybe you can test the build on the previous post link ;)

[2016-10-06 08:41] FlatOutPS2 commented on #1608
The Ace Combat 2 half-screen issue looks the same as the FF VIII intro. And the garbage in the image @gregory38 posted is the same as what appears in the N4S intro. So both seem like common issues.

[2016-10-06 08:42] FlatOutPS2 commented on #1339
Yes, it only affects PAL versions as far as we know.

[2016-10-06 11:58] ramapcsx2 commented on #1608
So "FF8 intro" might be a little more tricky:
The image jumps around a lot, sometimes showing correct decoding but mostly the "half screen" version.
Maybe it has different scanline lengths or something like that.

[2016-10-06 12:24] AzazelDC commented on #1526
On that build, i have no UI and no subtitle on HW also.

I missed something ?

[2016-10-06 14:09] FlatOutPS2 commented on #1610
So there are versions where it's (partially) fixed?

And can you make a GS dump showing the hardware mode issue? http://forums.pcsx2.net/Thread-How-to-create-a-proper-GS-dump

[2016-10-06 14:26] FlatOutPS2 commented on #883
This issue has recently been solved for software mode thanks to https://github.com/PCSX2/pcsx2/commit/a123e6518521f3d59c628678c11031a4d2d8358c

It still affects the hardware modes though.

[2016-10-06 14:58] #813 closed

[2016-10-06 15:22] Omusoru commented on #1526
With the build you provided above the UI does indeed show up in HW mode but not the subtitles from cinematics. They still only show up in SW.

[2016-10-06 15:33] monsterjamp commented on #1562
@gregory38 The cutscenes in Thrillville are cut off even in SW mode. Can you confirm if this is a core bug? There's a GS dump in this forum thread: http://forums.pcsx2.net/Thread-Bug-Report-Thrillville-NTSC-U

[2016-10-06 17:18] gregory38 commented on #1526
@Omusoru could you provide me a gs dump of those subtitle.

[2016-10-06 17:19] gregory38 commented on #1597
Take 2 c66004bbb25bb62ad4cc30a1984eaa98ffb81406 Reload clut before draw.

[2016-10-06 17:21] gregory38 commented on #1562
@monsterjamp did you test zerogs? Honestly a partial texture upload is likely a core bug.

[2016-10-06 17:22] oddMLan commented on #1610
Detailed GS dumps across OGL, D3D11 and SW mode.
https://www.mediafire.com/?1qj9175xffzws1n

Also to answer your question, I remember a very specific version in which the noodles were fixed in D3D, but then I downloaded a newer build and it broke them again. That was almost like a year ago so I don't remember the specific revision, it was around the time you started making monthly reports I think.

[2016-10-06 17:44] gregory38 commented on #551
Could latest git be tested again (SW renderer). And maybe post me a gs dump.

[2016-10-06 18:20] gregory38 commented on #83
I pushed some SW renderer fixes on latest git. Potentially I fix this issue as a side effect :). If not, a gs dump would be nice.

[2016-10-06 18:23] monsterjamp commented on #1562
ZeroGS keeps crashing when it gets to the cutscenes so I can't test it.

There's also another issue but this one is only present is SW mode. In the pause menu, the bottom right of the screen is missing.

Hardware mode:
![2016-10-06 13_11_43-slot_ 0 _ speed_ 101 60 36 _ limiter_ normal _ gsdx d3d11 hw _ 640x445 _ bob](https://cloud.githubusercontent.com/assets/7116269/19165020/d3e7f540-8bc7-11e6-95

[2016-10-06 18:45] Omusoru commented on #1526
@gregory38
[berserk_gsdump.zip](https://github.com/PCSX2/pcsx2/files/514566/berserk_gsdump.zip)
I made one in HW and one in SW

[2016-10-06 19:30] FlatOutPS2 commented on #923
This issue has recently been solved for software mode thanks to https://github.com/PCSX2/pcsx2/commit/a123e6518521f3d59c628678c11031a4d2d8358c

Still garbage textures on the cars in HW modes though.

[2016-10-06 19:31] gregory38 commented on #1526
Good news, I found the code that remove the subtitle. The bad new it is the same code that show the video... Ok I understand what happen.

* subtitles are rendered into 0 (bottom)
* EE will write the video into 0 (top) (here we mark the frame buffer as dirty)
* a will blit be done from 0 to 1000. So you need to lookup 0 a new texture input. However currently the texture cache skip dirty framebuffe

[2016-10-06 19:33] FlatOutPS2 commented on #451
This issue has recently been solved for software mode thanks to https://github.com/PCSX2/pcsx2/commit/a123e6518521f3d59c628678c11031a4d2d8358c

Still garbage textures on the cars in HW modes though.

[2016-10-06 19:38] gregory38 commented on #923
@FlatOutPS2 was it fixed or did you post the message in the wrong issue ?

[2016-10-06 19:41] FlatOutPS2 commented on #923
Wrong issue. I had both issues open at the same time and must somehow have switched tabs without noticing.

This is a hardware mode only issue.

[2016-10-06 19:47] FlatOutPS2 commented on #923
Although as I posted in my report on the forum(http://forums.pcsx2.net/Thread-DRIV3R-SLES-50876-E), using OpenGL with hardware depth and CRC hack level set to Partial most of the flickering and shadow issues are gone.

[2016-10-06 20:06] gregory38 commented on #1597
Virtua fighter is still bad.

[2016-10-06 21:40] bositman commented on #83
Doesn't seem to fix it. SW is completely black, HW is missing the mist effect and has a black square at the top left, but only after you switch to SW and back to HW again (else it's black as well) :P
Here's a dump: http://bositman.pcsx2.net/dumps/xenosaga_dream_sequence_black.rar

[2016-10-06 21:52] FlatOutPS2 commented on #1339
I happened to find a demo of Gunfighter II, and tried it with the latest git and it still showed the half-screen issue. @prafullpcsx2 Can you check if it's still fixed?

[2016-10-06 21:59] FlatOutPS2 commented on #1318
There's a top left corner issue in Metal Arms:
[Metal Arms top left issue.zip](https://github.com/PCSX2/pcsx2/files/514865/Metal.Arms.top.left.issue.zip)

[2016-10-06 22:02] FlatOutPS2 commented on #1562
There's text missing in Pride FC menu's in HW and SW modes. Could be a GSdx issue, here's a GSdump:

[Pride FC missing text.zip](https://github.com/PCSX2/pcsx2/files/514870/Pride.FC.missing.text.zip)

[2016-10-06 22:05] AzazelDC commented on #1526
Ok, i understand my problem. On that build, there have no SSE4 version of GSDX, I was always on old GSDX plugin in SSE4 then...

I used SSE2 version and UI works perfectly. :)

[2016-10-06 22:09] willkuer commented on #1526
so there is a difference between the sse4.1 and sse2 plugin of the same revision?

[2016-10-06 22:27] AzazelDC commented on #1526
Yes i always overwrite files in one folder, but the build provided here don't have SSE4 version of GSDX that i usually use, then i used wrong version...

it's my fault, I'll be careful next time. :)

At least I was able to highlight the problem of subtitles. :p

[2016-10-07 16:06] arcade1977 opened #1611 "Jak3: jak‘s hair or face is black"
This issue can be solved for a while by press F9*2 , but it will  become abnormal soon :

![-1](https://cloud.githubusercontent.com/assets/5054123/19196929/fc198f74-8ce9-11e6-9fc3-ad0ef1807303.jpg)
![-2](https://cloud.githubusercontent.com/assets/5054123/19196930/fc1a50e4-8ce9-11e6-8ae9-2f09e87b0521.jpg)

[2016-10-07 16:11] FlatOutPS2 commented on #1611
Please follow our issue reporting guidelines (https://github.com/PCSX2/pcsx2/wiki/How-to-create-useful-and-valid-issues) and use the default template: https://github.com/PCSX2/pcsx2/blob/master/ISSUE_TEMPLATE.md

[2016-10-07 16:13] refractionpcsx2 commented on #1611
This is already being delt with in #168 along with all the other Jak games and their issues, so I'm marking this as a duplicate

[2016-10-07 16:13] #1611 closed

[2016-10-08 10:48] gregory38 commented on #1608
I found a description of the format end of chapter 5.2.2

The rectangular setting is the same as PSMCT16. And pixels are RGB packed by group of 4. So you have `R0G0B0 | R1G1B1 | R2G2B2 | R3G3B3`

[2016-10-08 10:59] gregory38 commented on #83
I think there is something wrong in the merge of 2 display. (note on the HW renderer size is likely wrong). Here a screenshot with the alpha value divided by 2. Could you tell me if the top left corner color is correct or too dark.

![screenshot - 10082016 - 12 57 07 pm](https://cloud.githubusercontent.com/assets/1569559/19212684/bd92e24c-8d56-11e6-9a94-c9cced2e2bf4.png)

[2016-10-08 14:08] kennybaby commented on #551
I tested this build.
pcsx2-v1.5.0-dev-1418-g574a807-windows-x86
gs:Gsdx32-AVX on opengl sw
The screenshot same about refractionpcsx2 upload.
I can't upload screenshot may be because the national firewall.
I really want to do something but how can I make a gs dump, How to do it？

[2016-10-08 14:27] ramapcsx2 commented on #1580
@ssakash Using projects is simple:
- create a new project
- add columns / sections
- drag issues or prs (maybe more?) to your columns

[2016-10-08 14:34] gregory38 commented on #83
Ok, the game uses the loopback write capability of the GS. Which isn't emulated yet.

By the way, are they any game that also suffer of this kind of corner scaling bug?

[2016-10-08 14:39] FlatOutPS2 commented on #1562
Burnout 3 still has missing flags in OGL hardware and software modes. The flags can only be seen with the Direct3D HW renderers(see the 3 grey flags in the added screenshot). The flags are not supposed to be grey, but colored American flags.

[Burnout 3 missing flags SW and HW.zip](https://github.com/PCSX2/pcsx2/files/517745/Burnout.3.missing.flags.SW.and.HW.zip)

[2016-10-08 14:39] ramapcsx2 commented on #83
Devil May Cry:
http://i.imgur.com/19RAfP0.png

[2016-10-08 14:43] FlatOutPS2 commented on #83
Here's the related issue:
https://github.com/PCSX2/pcsx2/issues/694

[2016-10-08 14:49] kennybaby commented on #551
http://pan.baidu.com/s/1jIfQJiQ
I hope you can see the icon down arrow is download

[2016-10-08 14:51] kennybaby commented on #551
By the way THX alot!

[2016-10-08 14:52] gregory38 commented on #83
So yeah, the game just do a color => luminance conversion. I will implement it on openGL first. SW won't be too difficult (but SSE/AVX is slower to code)

[2016-10-08 14:53] FlatOutPS2 commented on #551
The page you linked gives a page does not exist error.

[2016-10-08 14:56] kennybaby commented on #551
ok I am looking for a international cloud disk

[2016-10-08 15:04] kennybaby commented on #551
http://www.filedropper.com/snaps
There you go

[2016-10-08 15:25] bositman commented on #83
It's supposed to be black and white as seen here: http://youtu.be/IAahuQEyJIo?t=9m31s

[2016-10-08 15:47] gregory38 commented on #83
@bositman thank for the confirmation. It will be fixed before Monday ;)

[2016-10-08 15:49] bositman commented on #83
Wow I remember the time when we were like "omg this might get fixed one day if we find what's wrong and the planets align" :P You've reached guru level on GSdx ;)

[2016-10-08 19:20] cesarizu commented on #1294
I'm having this error for wx 3.0:

[code]

Is there something I should do?

[2016-10-08 20:42] gregory38 commented on #83
I need to double check the math, but I'm think I'm close of the result (a bit too light)
![screenshot - 10082016 - 10 40 52 pm](https://cloud.githubusercontent.com/assets/1569559/19215810/6755d8ce-8da8-11e6-90cc-83089cf5c42a.png)

I will try to spot the upscaling bug first.

[2016-10-08 21:56] gregory38 commented on #1294
Configure wx to select 32 the bits library version. Most of the time you just need to install them.

[2016-10-08 22:22] ramapcsx2 commented on #694
Fixed! :D

[2016-10-08 22:45] FlatOutPS2 commented on #694
Well, in a PR. People rushing out checking the latest master will end up disappointed for now. :D

[2016-10-09 13:40] FlatOutPS2 commented on #694
It's been merged, so I'm closing this.

[2016-10-09 13:40] #694 closed

[2016-10-09 14:16] cesarizu commented on #1294
I'm not really sure how to do that. This error is during the build and not the linking. I have the 32 bits libraries installed:

[code]

[2016-10-09 15:11] gregory38 commented on #694
@FlatOutPS2 when you close bug (not regression) try to mark them as 1.6 milestone release. It could help to generate a nice changelog.

[2016-10-09 15:14] gregory38 commented on #83
Branch for the HW renderer:
https://github.com/PCSX2/pcsx2/tree/greg/feedback-write

I will give a look at SW renderer before the PR. But it is more complex than expected (and will suck the perf). So maybe I won't do it.

[2016-10-09 15:59] gregory38 commented on #1294
Yes it is a compilation issue because you use 64 bits struc in the middle of 32 bits code. Wx include aren't the same. Might be better to open a post on PCSX2 forum, search on it. Or google the mess for suse distribution. Issue is related to the wrong wx-config file. Either it got a special name or a bad symlink.

[2016-10-09 15:59] gregory38 commented on #1294
Yes it is a compilation issue because you use 64 bits struc in the middle of 32 bits code. Wx include aren't the same. Might be better to open a post on PCSX2 forum, search on it. Or google the mess for suse distribution. Issue is related to the wrong wx-config file. Either it got a special name or a bad symlink.

[2016-10-09 16:02] gregory38 commented on #83
See PR #1614 and right on time :p

[2016-10-09 16:09] cesarizu commented on #1294
Thank you. I'll look into it.

[2016-10-09 16:15] jcdenton2k commented on #883
Wanted to mention that the 'Sun Rays' would appear through buildings/walls in FF12 as well.  It didn't bother me enough to post about it but it has been an ongoing issue since forever.

I'll test out with software mode and report back with details if needed.

[2016-10-09 16:17] jcdenton2k commented on #813
Can someone update the wiki with these workarounds as 'Known Issues' so that others who encounter them might become aware of these workarounds?

[2016-10-09 16:33] jcdenton2k commented on #83
Small thing.  Would it be possible to make this an option in the UI?

Like 'render grayscale as either grayscale or color'?  Just a thought.

[2016-10-09 16:59] gregory38 commented on #83
You must be kidding right.

Blood will tell uses a channel shuffle effect to remove the color (done with special texturing). Whereas Xenosage does a YUV conversion with the display converter.

Those games use those effect to improve the immersion why do you want to remove it. We already have enough option.

[2016-10-09 17:11] jcdenton2k commented on #83
I just thought it would be interesting.  An enhancement, if you will.  Like how we upscale games to make them look better than on original hardware.
It was just a suggestion.  The important thing is to implement the correct 'accurate' behavior so that the game plays as intended.

[2016-10-09 21:03] MrCK1 opened #1616 "psxmode: PGIF FIFO Overflow (C:12 Final Resistance)"
***PCSX2 version:***
v1.5.0-dev-1436-g309b903-1931-vs2015-Win32-AppVeyor

***PCSX2 options:***
Default

***Plugins used:***
Default, 8x Native resolution in HW OGL

***Description of the issue:***
PCSX2 will crash upon completing the demo sequence in-game. Graphics are corrupted unless you boot in OGL SW and switch to HW

***How to reproduce the issue:***
Boot GSdx in OGL SW, and then switch to HW

[2016-10-09 21:42] psennermann commented on #1526
Since a proper fix for the subtitles seems very hard to find, wouldn't it be possible to have at least an automatic game fix (CRC hack?) that enables for this game the software rendering option for FMV, instead of having always to enable it manually in the GameFix menu? (with this option enabled subtitles would show up not only in movies, but also in the game-engine rendered cut-scenes)...

[2016-10-09 21:49] ramapcsx2 commented on #1616
I suppose we need to put up a notice on this. Basically, psxmode reports aren't useful at this point. Half the emulation is missing and PGIF is guesswork without any hardware testing done yet.
Still, thanks for the enthusiasm ;)

[2016-10-09 21:49] #1616 closed

[2016-10-10 06:02] gregory38 commented on #1526
Did you actually test the fmv hack option?

[2016-10-10 12:59] MrCK1 commented on #914
Anybody know if #1613 would have an effect on this issue? If nobody gets to it, I'll look later.

[2016-10-10 13:02] gregory38 commented on #914
No. It is a likely a texture cache issue. Not a scaling issue.

[2016-10-10 14:22] MrCK1 commented on #964
I can't access the forums/wiki right now (can't remember if I posted something about this there) but I didn't encounter any crashes last time I tested my NTSC copy.

[2016-10-10 14:43] psennermann commented on #1526
Yes, I've seen that this option shows subtitles (automatically changes to software mode) for the opening movie and also for the first game-engine rendered cut-scene (the one where the snow monsters come out), then when game starts it switches back to hardware mode...

[2016-10-10 14:49] FlatOutPS2 commented on #964
Try a few PCSX2 versions between 1.4.0 and now to see if you can pinpoint when the cutsene stopped crashing.

[2016-10-11 08:18] gab commented on #694
Awesome, thanks for fixing this long-standing issue. I'm glad I reported it instead of just using dumb workarounds.

[2016-10-11 12:17] Blackbird88 commented on #1496
Juts finished the main storyline with no crashes. Need to test Racing mode too just in case (doubt it's broken tho since Freeride is also fine)
![image](https://cloud.githubusercontent.com/assets/4414625/19269902/532ff5d4-8fbd-11e6-9414-d698fbd83ca2.png)

[2016-10-11 18:42] smacheeri commented on #1351
HI can you please let me know how you solved this issue..I have the exact same problem and I am stuck..

[2016-10-11 18:45] jcdenton2k commented on #1351
The repros seem to need some updating but that needs to be done by the package maintainers.  Go throw them a message/e-mail to get them to fix things.

[2016-10-11 20:04] derekpock commented on #1351
@smacheeri I had a bad plug-in in my pcsx2 directory. For me, reinstalling everything from scratch worked. I previously tried copying the working directory (with various config files and plugins) from an older computer over, but while using a newer version of pcsx2. This caused the exception. I cannot remember, but it was one of the input plugins that caused the issue.

[2016-10-12 01:20] smacheeri commented on #1351
Thanks for replying:)
On Oct 11, 2016 1:04 PM, "Derek Pockrandt" <notifications@github.com> wrote:

[2016-10-13 11:10] Catarax commented on #1415
**Single player for Burnout 3 NTSC in Progressive Scan 480p (need: X+Triangle at boot) is unplayable also (Hardware Mode) :** 👎

![screenshot_1](https://cloud.githubusercontent.com/assets/3964507/19346651/d99704b8-9144-11e6-9d4a-f56383b9dada.png)

**Progressive Scan (Software Mode) 👍  :**

![software](https://cloud.githubusercontent.com/assets/3964507/19346853/dab17a9e-9145-11e6-96e3-1f9ad205dd17.

[2016-10-13 14:15] Catarax opened #1618 "WRC Series Regression September-October"
**Current dev build :**
- WRC - World Rally Championship (Blackscreen Startup Boot)
- WRC II Extreme (Blackscreen Startup Boot)
- WRC 3 (Blackscreen Startup Boot)
- WRC "5" Rally Evolved (Blackscreen Startup Boot)

**Games boot properly only on :**
- PCSX2 1.4 or PCSX2 1.5.0-20160925195544 (September build, may follow-up working too)

There is probably some recent CD decoding issues, should be eas

[2016-10-13 14:21] FlatOutPS2 commented on #1618
It's just the latest build. It causes boot issues on several games.

[2016-10-13 14:37] FlatOutPS2 commented on #1318
Looks like another top left corner issue:
http://forums.pcsx2.net/Thread-Bug-Report-Death-By-Degrees-SLUS-20934-NTSC

[2016-10-13 14:38] sudonim1 commented on #1618
This is me for some reason, not sure why yet.  I only removed the psxRegs.interrupt &= ~1; because I couldn't see that the LSB was set anywhere.

[2016-10-13 14:56] sudonim1 commented on #1618
Actually not sure it's 733fd79 after all, I'm getting random test results.

[2016-10-13 15:01] FlatOutPS2 commented on #1618
Trust me, it is. But it's not related to the psxRegs.interrupt/ IopEvt_SIFhack.

[2016-10-13 15:12] FlatOutPS2 commented on #1618
`IopEvt_Cdvd` needs its value back.

[2016-10-13 15:16] sudonim1 commented on #1618
I agree with your testing results but how the hell is that possible? It's only used as a bit index in psxRegs.interrupt and an index in psxRegs.sCycle and psxRegs.eCycle.  There is no code I can find which accesses any of these directly or indirectly by anything other than an IopEventId.  This bug is impossible.

[2016-10-13 15:22] turtleli commented on #1618
Probably here: https://github.com/PCSX2/pcsx2/blob/733fd79f46c29b7904c05741ece32a2cce61e4c2/pcsx2/R3000A.cpp#L183

[code]

[2016-10-13 15:23] sudonim1 commented on #1618
Okay thank you, I am apparently blind.

[2016-10-13 15:33] #1618 closed

[2016-10-13 21:04] jcdenton2k commented on #1351
Appreciate the update, thanks!

[2016-10-14 13:38] MrCK1 opened #1620 "WX/GUI: Discuss possible string changes"
This issue is intended as a continuation of PR #1577 as turtleli suggested. If you'd like to see any strings changed, you can suggest them here

So far we have:
- [x]  Fix "Shutdown" menu state if necessary
- [x]  Change `Iso` to `ISO` (turtleli's suggestion)
- [x]  Resolve boot medium GUI behavior (#1381)
- [x]  Remove `HostFs` from GUI on release builds (user can still edit value via pcsx2_vm)
-

[2016-10-14 14:17] FlatOutPS2 commented on #1620
We should also still add part of this PR: https://github.com/PCSX2/pcsx2/pull/1381

For this behaviour: Properly display the boot medium on menu item Example: ISO , CDVD , BIOS

[2016-10-14 15:45] piorrro33 commented on #1620
I personally am perfectly fine with all these changes, except that I would personally think that the Debug tab should be removed by default and may be enabled manually through an edit in a config file, or maybe simply shift it to the Misc. menu?

[2016-10-14 15:58] ssakash opened #1622 "PCSX2: Drop (or) Keep SuperVU Recompiler?"
**Advantages on removing SuperVU Recompiler:**
- Removal of large number of code -> faster building time
- No need to explicitly disable building it at some cases where it's not compatible yet. (https://github.com/PCSX2/pcsx2/pull/1335)
- Less VU recompiler options for configuration. Also allows removal of one Gamefix (VuClipFlag hack)
- All mentions of `"MicroVU Recompiler"` could probably be cha

[2016-10-14 16:03] FlatOutPS2 commented on #1622
Some games need SuperVU, so dropping it would be senseless as long as those issues haven't been resolved.

[2016-10-14 16:04] refractionpcsx2 commented on #1622
I wouldn't remove it, as FlatOutPS2 said, some games require it to function properly (not sure why tbh, not looked in to it) and it is advantageous for lower spec machines as it is a bit quicker than microVU.

[2016-10-14 16:06] gregory38 commented on #1620
[code]
Keep it on dbg/dev build.

[2016-10-14 16:14] gregory38 commented on #83
@jcdenton2k
I prefer the game is grayscale so no.

[2016-10-14 16:14] #83 closed

[2016-10-14 16:27] MrCK1 commented on #1622
SuperVU can still be a helpful diagnostic tool for broken games (although Irridum Runners is still a clusterfuck right now)

[2016-10-14 16:32] ssakash commented on #1622
Agreed, it would be best to collect the list of all such games on a separate issue tracker so @refractionpcsx2 could look into them :)

[2016-10-14 18:00] MrCK1 commented on #1620
Right now we're discussing other strings that could be changed in issue #1620 as you probably saw already. Until then this sits

[2016-10-14 18:14] FlatOutPS2 commented on #1620
Why are you referencing this issue from within this issue? :S

[2016-10-14 18:19] piorrro33 commented on #1620
I think he meant #1381.

[2016-10-14 18:21] sudonim1 commented on #1622
Personally I'd like it gone, but microVU may well not be the last VU recompiler so I wouldn't count on changing everything with the assumption of there only being one VU recompiler.  MicroVU is very unfriendly to work on currently and entirely different approaches to code generation are still an option worth looking into.  An issue with all games that still work significantly better with SuperVU w

[2016-10-14 19:21] Catarax opened #1624 "World Rally Championship Graphics Issues (NTSC-U)"
**Latest dev build - windows - OpenGL/DX11**

**Actually, the PAL WRC 1 release doesn't require any particular GSDX hacks to run without graphics issues.**
![pal](https://cloud.githubusercontent.com/assets/3964507/19399703/1da261a2-9253-11e6-9311-3bfc541eaafe.png)

**The NTSC release is completely broken for the car and some random 3D forms can popup :**

![ntsc](https://cloud.githubusercontent.co

[2016-10-14 21:53] refractionpcsx2 commented on #1624
has it always been like this? has this happened recently? does it work with an older GSDX but a newer PCSX2.exe? We need a bit more info.

[2016-10-14 22:09] Catarax commented on #1624
PCSX2 1.4 => same bug and forgot to mention it was also in Software Mode too.

[2016-10-14 23:49] refractionpcsx2 commented on #1624
ok, wel ill take this appropriately because it's unlikely to be a GSDX bug.

[2016-10-15 10:38] FlatOutPS2 commented on #1624
I think I've seen this issue before. It might've been a speedhacks or corrupted ISO issue.

[2016-10-15 12:23] Catarax commented on #1624
The md5 of the iso is the same as the redump database, no corruption then?

[2016-10-15 12:31] FlatOutPS2 commented on #1624
Try the disc to be sure and also turn all speedhacks off.

[2016-10-15 14:48] Catarax commented on #1624
Okay, still the same thing even with speedhacks off.

[2016-10-15 16:26] FlatOutPS2 commented on #1624
And you weren't using any other non-default settings?
Can you please post the contents of the emulog.txt file from the "PCSX2\logs" folder after the problem occurs.

[2016-10-16 15:26] AmbientMalice opened #1627 "Haunting Ground CRC hack issue."
I notice that with GL+auto flush hack+no CRC, character shadows seem to work correctly. I was wondering whether the relevant hack that removes shadows could be removed or made DX-only. If I was able to build PCSX2 myself, I'd use trial and error to figure out which hack is responsible. I'm assuming that it's a specific hack, and not a side effect of the bloom removal.

[code]

[2016-10-16 15:39] gregory38 commented on #1328
I made a change that could improve a bit the blooming. Only tested on my dump. Require at least CRC to minimal, and I think the game requires accurate blending to at least minimal.

I'm pretty sure that various post-processing effect are still bad. But a status would be nice.

[2016-10-16 15:41] gregory38 commented on #1627
Are shadows broken on SW ?

[2016-10-16 15:47] gregory38 commented on #1328
Hum, you might need preload hack. It is working on my side because RT is cleared on debug build.

[2016-10-16 16:11] Delliser commented on #83
Hello,

Not-really-tech-savvy-person here. I understand, reading the conversation, this bug's resolved. Nonetheless, downloading a new pcsx2 build from the official website does not work (i assume the bugfix isn't in the public release yet.
Downloading the last developer version nets me a "savestate corrupted" error, while trying to load the savestate I made during the cutscene.
What I'm doing wro

[2016-10-16 16:17] FlatOutPS2 commented on #83
@Delliser This hasn't been fixed for the Direct3D Hardware renderers. You might need to change renderer.

Savestates made in older PCSX2 versions are not always compatible with new versions. You'll need to use regular memory card save games.

[2016-10-16 16:43] Delliser commented on #83
@FlatOutPS2 Thanks for your prompt response. I've tried both direct3d and opengl, hardware and software, to no avail. Maybe I just overlooked one of them, I'll try again. Unfortunately this game suffers from a problem which boots you to bios when using some specific save points, so I haven't got a memory card save near the bug occurrance point. I'll retry later, in the next part of the game where

[2016-10-16 19:29] gregory38 commented on #1627
Actually I meant "used to be broken" (check 1.4) as auto flush is now always on SW renderer.

[2016-10-16 19:33] gregory38 commented on #1627
And to answer your original quesiton. Autoflush is only enabled when fi.FBP equals fi.TBP0 and fi.TME is enabled. So it is likley this part
[code]
But it is hard to be sure without a real test. Rendering is often complex

[2016-10-16 23:17] h188cm opened #1628 "Romance of the Three Kingdoms VII [SLPM-62010] font bug"
SLPM62010,font bug

Added by refractionpcsx2:

Text on the menu has always displayed incorrectly however it was mostly right back in the 1.0.0 days. After sudonim's changes back in 2fbcafc the text became black and has stayed as such ever since.

Related forum thread with screenshots and info: http://forums.pcsx2.net/Thread-ROTK8

Followup thread re-highlighting the issue: http://forums.pcsx2.net/

[2016-10-16 23:40] frantisekz opened #1629 "Wayland Support"
**_PCSX2 version:**_ All when compiled with GTK3

**_Plugins used:**_
GSDX HW/SW

**_Description of the issue:**_
PCSX2 crashes when compiled with --gtk3 and run on Wayland Session. Adding --egl (which is necessary on Wayland) doesn't help.

[code]

There are two possible ways of fixing the issue:
*Making app request X11 backend (which is workaround more than fix)
*Fixing the app :)

First option

[2016-10-17 09:13] FlatOutPS2 commented on #1628
Please follow the issue template( https://github.com/PCSX2/pcsx2/blob/master/ISSUE_TEMPLATE.md ) and describe your issue in detail, other than just the serial code and vague two word description of the issue.

[2016-10-17 10:04] gregory38 commented on #1629
First EGL/X11 must be corrected to work on all drivers. The code is quite old now and not yet bullet proof.

Then X11 code must be replaced with wayland stuff. I guess it means both Window/Event managements. Full wayland support is a low priority for me (patches are welcome).  I guess 2nd step will be to port event to libinput.  And finally do window stuff.

[2016-10-17 13:19] frantisekz commented on #1629
I can do PR for enforcing X11 backend through the sh file but I have no idea how to solve this if somebody runs PCSX2 from executable directly.

Regarding libinput, I am not 100% sure but in my understanding this is only for input device <=> userspace, not application <=> input device handling.

[2016-10-17 13:23] gregory38 commented on #1629
Easy. Running the executable directly isn't supported. I don't have a better solution.

Honestly I don't really know all those stuffs. But I know that we include X11 file to handle some keyboard/mouse events.

[2016-10-17 13:43] frantisekz commented on #1629
Ok, PR is here: https://github.com/PCSX2/pcsx2/pull/1630

It affects only GTK3 as GTK2 ignores GDK_BACKEND variable (and should automatically use XWayland).

[2016-10-18 05:14] RebelliousX commented on #1585
I wonder why tell now no one suggested (according to my knowledge) using screenshot of the save state at the top right corner, exactly like Pete's plugins for PSX?! It is so helpful and saves time instead of going through and load the entire list of 10 save states just to find the one you need. Of course, forcing this is not good, so it should be an option. Personally, I liked the top OSD menu for

[2016-10-18 05:55] prafullpcsx2 commented on #1339
@FlatOutPS2 : Sorry I didn't notice your comment. I rechecked Gunfighter II today and yes it's fixed.

[2016-10-18 22:44] whereswaldon opened #1631 "Ubuntu 16.04 can't install pcsx2-unstable from PPA"
**_Description of the issue:**_
`sudo apt install pcsx2-unstable` fails with the following error:

[code]

**_How to reproduce the issue:**_
I'm running Ubuntu 16.04. I've been able to install pcsx2 fine, it's just the unstable package that isn't installable. I've enabled the i386 architecture and the multiverse PPAs to no avail. I'm having a blast with the stable version, so this isn't a huge dea

[2016-10-19 03:59] MrCK1 commented on #870
The idea of having a single window option popped into my head the other day. Looks like somebody already beat me to it ;p

Any idea on whether or not this would still be a feasible task in the future?

[2016-10-19 08:43] gregory38 commented on #1631
Well I need to update the unstable PPA with a more recent version.

[2016-10-19 11:59] whereswaldon commented on #1631
Thanks for a quick reply. I now feel like an idiot because I can see that the unstable version is 1.3.1. Sigh. I'd assumed and well... we all know where that leads. Anyway, if/when you find time to update it, let me know. Thanks!

[2016-10-19 12:02] tiagoplacido commented on #1631
there's a ppa with daily builds if your interested https://launchpad.net/~pcsx2-team/+archive/ubuntu/pcsx2-daily

[2016-10-19 17:33] gregory38 commented on #1328
New git version that will avoid the bloom effect. You need to set hack on the minimum level (not less, not more)

[2016-10-19 17:36] gregory38 commented on #1627
I pushed a better fix for the bloom effect on the git. Maybe minimal is enough for the game.

[2016-10-19 17:46] gregory38 commented on #1631
I updated the unstable version to latest 1.5. I don't know if it will work.

[2016-10-19 18:54] gregory38 commented on #1575
Could someone test those games
* FFVII DoC
* star wars force unleashed
* devil may cry 3
* eternal poison

[2016-10-19 19:12] gregory38 commented on #1627
I moved all the hack to the dx level. With latest fix, game seems to work quite well (still got minor issue). Therefore I'm closing this issue.

[2016-10-19 19:12] #1627 closed

[2016-10-19 19:52] gregory38 opened #1632 "psxmode: coverity regression"
You can connect with your github account
https://scan.coverity.com/projects/pcsx2-pcsx2?tab=overview

Here a summary of the issue
- [x] HwWrite.cpp around line 247 => missing break ?
- [x] pgif.cpp line 1125 => memory corruption
  -  overrun-call: Overrunning callee's array of size 256 by passing argument 16777215U in call to iopMemWrite32
- [x] spu2sys.cpp around line 1354
  - assigned_value: Ass

[2016-10-19 20:34] AmbientMalice commented on #1627
Thanks.

[2016-10-20 00:50] sudonim1 commented on #1632
Yeah there's some actually bad stuff in here, such psx compat quality.

[2016-10-20 03:01] sudonim1 commented on #1632
Okay what is dma6_OTClear even for?

[2016-10-20 04:45] tabnk commented on #1328
CRC at Partial.

Bloom and shadow effects are back :)

[2016-10-20 12:15] ramapcsx2 commented on #1632
Ordering Table, something GPU related. It appears to be rarely used, if at all. I haven't seen a game trigger the logging yet.

[2016-10-20 13:18] FlatOutPS2 commented on #1632
* [x] spu2sys.cpp line 1352 => clang-format SpacesBeforeTrailingComments set to 2 instead of 1 (`  //` instead of ' //')

:p

[2016-10-20 13:30] sudonim1 commented on #1632
@ramapcsx2 well yes, it's not even referenced anywhere.  It doesn't seem like a likely hardware function in the first place though.

[2016-10-20 15:24] MrCK1 commented on #1632
@ramapcsx2 Zohar's Domain has some good info. DMA Channel 6 is GPU OTC (reverse clear the Ordering Table)

[2016-10-20 17:19] ramapcsx2 commented on #1632
It's definitely in the original hardware so it's ought to be doing something. I just haven't had the time to figure it out.

[2016-10-20 17:59] sudonim1 commented on #1632
Uh really, a dma channel which just clears a table? That sounds bizarre.

[2016-10-20 18:03] sudonim1 commented on #1632
Unless you mean it initialises a table in memory? We have that functionality in psxDma6(), you can probably just delete that function.

[2016-10-20 21:23] jcdenton2k commented on #1622
Until the compatibility and accuracy issues are resolved fully for EVERY PS2 game, it might be better to leave the alternative compilers in place just in case.

While it would make for cleaner code, PCSX2 doesn't seem to have a clear-cut way of dividing the two compilers into their own modules to allow the user to choose which one to use.  Unless PCSX2 wants to start making decisions for the user

[2016-10-20 21:27] jcdenton2k commented on #1620
I would also like to see Iso changed to ISO :)

[2016-10-20 21:28] jcdenton2k commented on #1328
If this works, please add it by default to the GameDB as an automatic fix :)

[2016-10-20 21:28] refractionpcsx2 commented on #1622
This is how I see it personally, it's great to have variety and find the best balance for the games you are playing, but a lot of people see the vast array of options as overwhelming; they want something as simple as a console where you just turn it on and play, of course we need to strike a balance.

[2016-10-20 21:37] jcdenton2k commented on #1622
@refractionpcsx2

If people want a 'plug and play' device they already have the option of playing on the original console.

PCSX2 already has 'presets' and that can default to 'Safe' or 'Safest' so that they get their 'plug and play' experience without making a 'simplified' special build just for them.

Now if PCSX2 was able to be turned into a LibRetro module (with safest options hardcoded) then

[2016-10-20 21:44] sudonim1 commented on #1622
A largely vestigial recompiler is an unnecessary maintenance burden.  I don't know how necessary SuperVU is, but if it's <10 games running a little better or a little faster then it isn't necessary as old versions of pcsx2 do exist.  If it's more or more significant issues such as games being unplayable or entirely a mess of seemingly random coordinates from miscalculated transformation matrices t

[2016-10-20 22:26] refractionpcsx2 commented on #1622
It's that, some games just don't work at all on microVU, they just freeze and throw infinite loop errors

[2016-10-20 23:46] h188cm commented on #1628
PCSX2 version: development builds v1.5.1488

PCSX2 options: default

Plugins used: default

Last known version to work: lastest version use old plugin GSdx32-r5612

PC specifications: CPU: Intel 4710mq GPU:  GTX 970m OS: Windows 10 64 Bit)

[2016-10-21 00:54] rz5 commented on #1622
Gotta start naming those games if we wanna create the 'Runs better on SuperVU' issue.

[2016-10-21 09:26] FlatOutPS2 commented on #1628
Can you upload a multiple frames (hold CTRL + SHIFT + F8 for 2-3 seconds while the font bug is visible) GS Dump of the issue? http://forums.pcsx2.net/Thread-How-to-create-a-proper-GS-dump

[2016-10-21 15:36] refractionpcsx2 commented on #1628
I'm presuming it's the same bug as this http://forums.pcsx2.net/Thread-Bug-Report-Romance-of-the-Three-Kingdoms-8-NTSC-U-C

[2016-10-21 15:45] FlatOutPS2 commented on #1628
In all likelihood yes, the bug seems to affect several of RotTK games.

[2016-10-21 15:54] gregory38 commented on #1629
For the record, EGL code is potentially correct. It didn't work on my Nvidia driver because it is too old. I don't plan to update soon to validate it.

[2016-10-21 16:16] gregory38 commented on #1629
@frantisekz do you know if we need to migrate the code from Xlib to Xcb in order to support Wayland ?

[2016-10-21 19:01] trostboot opened #1634 "Valkyrie Profile 2: Silmeria [PAL-E] - A/V desyncs, hard lock during FMV playback"
**_PCSX2 version:**_
PCSX2 1.5.0-20161020041703

**_PCSX2 options:**_
Defaults, no speedhacks

**_Plugins used:**_
GSdx AVX2 D3D11 SW, Pokopom, SPU2-X (also tested with ZeroSPU2)

**_Description of the issue:**_
PAL versions of Valkyrie Profile 2 (version tested is PAL-E, SLES-54644, CRC 04CCB600, image md5 bb2e4fe43daae8b85bcbe4e69e11a9e2) suffer from severe audio/video desync during FMV playback

[2016-10-21 19:10] FlatOutPS2 commented on #1634
Go to Config > Audio (SPU2) > Plugin Settings, and set **Synchronizing Mode** to "Async Mix". Then try the FMVs again.

[2016-10-21 19:11] trostboot commented on #1634
Already did. Sorry, should have been more clear. Changing sync modes does nothing. And as I stated, it also happens with ZeroSPU2.

[2016-10-21 19:41] frantisekz commented on #1629
@gregory38 yes, porting from Xlib to XCB is necessary.
Both SDL2 and GTK3 support native Wayland.

Regarding the porting, I think reading blog of Martin Gräßlin, KWin developer ( https://blog.martin-graesslin.com ) can enlight some background around porting from X to Wayland.

Regarding dropping GLX - this would probably need extensive testing as it was not very reliable few years ago on some driv

[2016-10-21 20:30] gregory38 commented on #1629
Well egl (or glx) is only used to get an opengl context and a surface. Then we only swap back&front buffer. We are far from the requirement of a compositor. So it ought to be stable enough for us.

I'm not sure to understand why we need xcb here.

[2016-10-21 21:02] lightningterror opened #1636 "Gran Turismo 4: 2 players - garbage on player 2 screen"
**_PCSX2 version:**_
pcsx2 v1.5.0 dev-1485-g264b764

**_PCSX2 options:**_
EE clamping full , VU clamping extra  (tried default as well)
speedhacks all default + mtvu and fast cdvd (tried without any speedhacks)
Render dx11 hw , opengl hw
Resolutions tested 2x 3x custom , crc tested safest dx11, partial opengl

**_Plugins used:**_
avx2
everything default

**_Description of the issue:**_
When using

[2016-10-21 21:09] sudonim1 commented on #1632
Certainly looks like a bigger buffer's required, but this may mean there are other bad assumptions in that module.

[2016-10-21 21:18] willkuer commented on #1634
Maybe try different delaycycle in spu2-x.ini. Something like 0-10. But probably unrelated if sound is working correctly.

[2016-10-21 23:30] frantisekz commented on #1629
This goes behind my understanding on this topic.

I've read just some article about moving from xlib to xcb in order to support Wayland.

[2016-10-22 02:22] Sunderland93 commented on #1629
I am sorry for my stupid question, but why GTK? Why not Qt5?

[2016-10-22 02:32] sudonim1 commented on #1629
Because rewriting everything is a massive pain and best avoided?

[2016-10-22 04:06] jcdenton2k commented on #1622
@sudonim1
Rendering certain games completely unplayable and telling people 'use an older version' is not user-friendly nor a sane development practice.  Why 'break' backwards compatibility when it works fine right now?

If you insist on going down this path, you might want to fork a separate branch without the extra compiler and do your coding on that.  Those who want 'easy maintenance' like you c

[2016-10-22 04:56] sudonim1 commented on #1622
Reading comprehension, please.  I said if there are major issues it needs to stay until we know what causes them, this is so we can make micro as completely correct as is possible given the nature of its non-IEEE compliant floating point implementation.  Nobody's named a single game yet, by the way.

[2016-10-22 06:10] trostboot commented on #1634
Yeah, that doesn't change anything. I tried a few other settings just to be sure (EE/IOP interpreters, EE timing hack), but it doesn't make any difference.

[2016-10-22 09:21] mirh opened #1637 "GSDumpGUI issues"
- [ ] Crash on start when another instance is already open
- [ ] You have to click two times start/configure buttons before anything happens

[2016-10-22 10:11] FlatOutPS2 commented on #1622
One I know for sure is still affected is Driving Emotion Type-S. It goes back to the disc selection in BIOS when loading a race with microVU.

I know I've played one or two more games that had mVU issues, but I'll have to look into which ones.

I also had a look at the wiki, but I found mostly out of date v1.1.0 microVU issues that have since been resolved. Dawn Of Mana seems to have an issue reac

[2016-10-22 11:33] gregory38 commented on #1622
The fact are that
1/ VU is a very complex topic
2/ we don't have manpower to keep an extra recompiler (PS2 emulation is already complex enough)
3/ it won't be ported to 64 bits (or any others arch)
4/ users still don't trust us to make right choices ;)

However, it would be nice to open an issue with all the affected game. (might need to search on the forum). Potentially MVU can be fixed/improved.

[2016-10-22 11:40] gregory38 commented on #1629
Because Dolphin got too much dev that don't know what to do from their free time ;) So why Qt and not GTK ? As sudonim said, upgrading to GTK3 is a matter of few files to update. Qt is everything.

[2016-10-22 11:53] refractionpcsx2 commented on #1622
Just checked Driving Emotion Type-S, that seems to just crash in superVU and microVU resets the PS2, so not sure what's going on there. I'm sure there are games that don't work, just need to remember them :P

[2016-10-22 13:02] gregory38 commented on #1629
So I got a small discussion on IRC with Nouveau guys. It seems XCB is useless on wayland too (but not 100% sure). On my side, I tried to boot with EGL and the mesa SW rasterizer. The EGL part seems to be good (I have the image too ;) )
[code]

Looking at your log
[code]

We are currently extracting an X11 window from the Wx/GTK window widget. I guess it doesn't work as expected on Wayland. The rel

[2016-10-22 13:17] rz5 opened #1638 "Meta: Cases of SuperVU compatibility outperforming microVU"
As per #1622, this thread is to track all known cases where the newer VU dynarec (microVU) - meant to be more accurate - is less compatible than the older VU dynarec (SuperVU).

Here's what's already listed in the other thread:
- [x] DT Racer (PAL) - ~Infinite loop on the PAL 50/60 selector screen if you use microVU, but works fine on SuperVU. Swapping to microVU later has the same effect.~ Only b

[2016-10-22 13:19] rz5 commented on #1622
Alright, went ahead and made an issue for those types of games. If the devs are able and willing to keep the list freshened up, go for it. If not, I'll pop in once in a while to edit the first post. Not sure what's most convenient in terms of getting info at a glance - multiple posts from different users or a first megapost with checkboxes

[2016-10-22 13:20] gregory38 commented on #1629
Hum a quick look on GTK code. Some quote taht could be useful on the future
* `GdkWaylandDisplay *wayland_display = GDK_WAYLAND_DISPLAY (gdk_window_get_display (window))` Note: window is a GdkWindow*
* `struct wl_surface * gdk_wayland_window_get_wl_surface (GdkWindow *window)`

Wayland tutorial
* https://jan.newmarch.name/Wayland/EGL/
* https://github.com/eyelash/tutorials/blob/master/wayland-egl.

[2016-10-22 14:13] refractionpcsx2 commented on #1622
Megapost with checkboxes is probably best, Most of the regular users on here can edit your posts, so we can update it if we find any.

[2016-10-22 15:03] FlatOutPS2 commented on #1638
Fixed Driving Emotion Type-S erroneously stating it crashed with SuperVU.

[2016-10-22 19:37] refractionpcsx2 commented on #1638
but it DOES crash, i tested it, thats why it said that :P

[2016-10-22 19:41] FlatOutPS2 commented on #1638
But it doesn't though. I've played the game dozens of times, including very recently.

[2016-10-22 19:46] refractionpcsx2 commented on #1638
You're right, it's a GSDX bug when using DX11.

[2016-10-22 19:58] FlatOutPS2 commented on #1638
Does it require a specific setting or circumstance? Because I haven't had a GSdx related crash either. I'm pretty sure I've played it in DX11 HW too. :p

[2016-10-22 20:22] FlatOutPS2 commented on #1636
I've reproduced the issue. It reliably appears at several locations on the screen on some(sunny) tracks, before the race when the camera revolves around the car of player 2.

[2016-10-22 20:26] refractionpcsx2 commented on #1638
No idea, these are the settings i had, then i just X'd all the way through and it crashed just after the race listing

![drvemot](https://cloud.githubusercontent.com/assets/6278726/19622280/3375fc18-989e-11e6-8c7f-4a76ebaf3bc7.jpg)

[2016-10-22 21:07] FlatOutPS2 commented on #1638
And that's causing the crash. :p It's a pretty harsh C++ runtime error crash too. You don't see those that often.

[2016-10-22 21:23] refractionpcsx2 commented on #1638
Yeah it's quite evil, maybe @gregory38 needs to have a  look :p

[2016-10-22 21:49] uyjulian commented on #1638
Do you mean the Browser?

[2016-10-22 21:57] refractionpcsx2 commented on #1638
Yeh he means that.

[2016-10-23 00:11] refractionpcsx2 commented on #1638
So here's a funny story, I just went to fix DT Racer and now it works? What the hell...

[2016-10-23 03:24] jcdenton2k commented on #1634
Try regular memory card files instead of memory card folders.  Also make sure you are using Safe or Safest presets and see what happens.  I'll see about getting someone with the game to help me test something on my end here.

[2016-10-23 04:33] trostboot commented on #1634
The issue predates memory card folders by years and years. I tried it anyway to be sure, it has no effect.

It's the English version, aka UK. Relevant serial and hashes are already in the first post.

[2016-10-23 10:44] FlatOutPS2 commented on #1638
What about the Dawn Of Mana wiki issue? "There's an issue with this game regarding microVU1 where it reaches its cache limit. When this does happen, the game suffers from performance drops. " The workaround is using SuperVU. I believe it was posted by @Ryudo300 . Similar cache limit issues pop up in other games as well.

[2016-10-23 11:02] gregory38 commented on #1638
@refractionpcsx2 Does it crash in openGL ?

[2016-10-23 11:13] refractionpcsx2 commented on #1638
@gregory38  Oh bugger, that's a good point, it doesn't,   nevermind  :p

@FlatOutPS2 not for the moment,  that's a separate issue similar to scarface,  for now we just need to concentrate on games which don't work

[2016-10-23 11:14] refractionpcsx2 commented on #1637
It doesn't support opengl,  that's an issue :p

[2016-10-23 11:22] FlatOutPS2 commented on #1637
Huh?

[2016-10-23 11:25] FlatOutPS2 commented on #1638
It still shouldn't crash in DX11 though.

[2016-10-23 11:37] refractionpcsx2 commented on #1637
It doesn't support any renderer except dx

[2016-10-23 11:38] refractionpcsx2 commented on #1638
No but there's no point in asking gregory about that :p

[2016-10-23 11:40] mirh commented on #1637
What?
It does man.
I mean, you have a point about renderer override options if any.

But you have configure button for a reason?

[2016-10-23 11:42] FlatOutPS2 commented on #1638
@rz5 Did you test State of Emergency 2 yourself? I didn't find much information about the issue. The SuperVU solution isn't on the wiki yet, and there's still an active bug report about this issue on the forum that's so old SuperVU didn't even boot the game back then.

[2016-10-23 11:50] refractionpcsx2 commented on #1637
Really? It must have been updated since I last used it then as it didn't support opengl then

[2016-10-23 11:50] refractionpcsx2 commented on #1637
Really? It must have been updated since I last used it then as it didn't support opengl then

[2016-10-23 11:53] FlatOutPS2 commented on #1637
That must've been more than a year ago then. :p

[2016-10-23 11:54] refractionpcsx2 commented on #1637
It was :p  and apologies for the double post, github timed out, I'll sort that shortly

[2016-10-23 11:58] FlatOutPS2 commented on #1637
I hope it was just a github fluke, and not a sign of another DDOS attack...

[2016-10-23 12:06] mirh commented on #1637
There [has been](https://github.com/PCSX2/pcsx2/commits/master/tools/GSDumpGUI) no relevant change in the last half decade.

[2016-10-23 12:10] turtleli commented on #1637
#656 fixed OpenGL.

[2016-10-23 12:11] refractionpcsx2 commented on #1637
I think it was a mixture of github and my phone, didn't want to play ball :P

[2016-10-23 13:07] prafullpcsx2 commented on #1638
@FlatOutPS2 : State of emergency 2 was added by me and it was recently tested.

[2016-10-23 13:11] FlatOutPS2 commented on #1638
The NTSC-U version? If so, we can close the bug report on the forum.

[2016-10-23 13:14] prafullpcsx2 commented on #1638
Yes, please close that bug report.

[2016-10-23 13:58] Delliser commented on #83
I confirm the fix. Played with the dev version, the second dream cutscene (which I assume uses the same graphical functionality) works correctly. Do not remember if I've used OpenGL hardware or software, but it worked.

[2016-10-24 09:47] FlatOutPS2 commented on #1009
Well, the PR has been merged, so you can close it now. :p

[2016-10-24 09:53] refractionpcsx2 commented on #1009
Oh yeh, forgot about this :P

[2016-10-24 09:53] #1009 closed

[2016-10-24 09:55] refractionpcsx2 commented on #1350
Is there any update on this?

[2016-10-24 09:56] refractionpcsx2 commented on #1323
TBH this is either the VU's are just calculating things completely wrong or it is being sent crap data, difficult to say at this point.

[2016-10-24 09:59] refractionpcsx2 commented on #1339
Added Superman Returns as well, can be seen in #934 even though there's obviously other issues going on there as well

[2016-10-24 18:51] #854 closed

[2016-10-24 18:56] FlatOutPS2 commented on #64
Linking this forum post here so it doesn't get lost : http://forums.pcsx2.net/Thread-ShadowMan-2nd-coming-Virtual-USB-HDD

[2016-10-24 19:56] refractionpcsx2 commented on #64
Thanks, I did mention that to rama but didn't remember there was a thread here! Good call :)

[2016-10-25 16:01] MrCK1 commented on #1269
@Aced14 Any update on this?

[2016-10-25 16:07] MrCK1 commented on #1151
I was just looking around and maybe this is related to #954?

As stated in #954, try switching VU0 to Interp and see if it changes slightly?

[2016-10-25 16:39] gregory38 commented on #1562
I just found that GS local memory can wrap around. It explains a bug on Silent Hill 3 FMV. I think it can potentially explain issue on Thrillville. Potentially the end of the FMV is the start of the memory. My guess is that HW will happily overflow the frame buffer whereas SW will hit a wall.

[2016-10-25 16:49] MrCK1 commented on #1108
@AmbientMalice Any update on this with latest git?

[2016-10-25 17:35] MrCK1 commented on #961
@ssakash Do we want to make a metapost with games that still have wrong height values? I know of a few that have this issue

[2016-10-25 18:04] ssakash commented on #961
A meta post for CRTC specific issues would be nice. IIRC [KOF 2000](http://forums.pcsx2.net/Thread-GSDX-PCRTC-Bug-Report-The-King-of-Fighters-2000-SLPS-251-56) still has height related issues even with NTSC saturation hack, however height detection isn't the only issue on PCRTC circuit, some games also get the width of the output circuit wrong (Twisted Metal FMV's for example)

![twmetal](http://i

[2016-10-25 18:52] gregory38 commented on #1562
If you use Linux, you can use the new hidden option `wrap_gs_mem = 1` in gsdx.ini. I advice to use it only for the SW renderer.

[2016-10-25 19:53] gregory38 commented on #1562
I gave a look at Thrillville the issue is very close but my option doesn't fix it. The game does some rendering at 0x3C00 which means only 32 pages remain. The rendering is 320x224 so 5*7 pages. It overflows 3 pages (which are the bottom black area)

[2016-10-25 20:57] gregory38 commented on #1562
@monsterjamp I pushed some fixes for Thrillville, the only requirement is a linux OS.

[2016-10-25 21:51] rz5 commented on #961
@ssakash, glad to see you still fighting the good fight about height. I re-read my comments on this thread to get a refresher. I'm gonna start pinging names:

@ramapcsx2 @sudonim1 - Do you remember what GS-related features GSDX doesn't emulate that might be related to this?

@jpd002 - You've most likely stumbled upon this problem too. How are you handling it? Per-game hacks like pcsx2 had before o

[2016-10-26 00:40] jcdenton2k commented on #1634
So here's the redump link:  http://redump.org/disc/4110
I'm gonna do some quick testing now.

[2016-10-26 00:57] ssakash commented on #961
FWIW Play! also seems to suffer from all these CRTC issues the last time I looked at it.

[2016-10-26 03:35] jpd002 commented on #961
@rz5 @ssakash Not doing anything to handle problematic cases at the moment. I haven't done much work on getting it to work properly either. I was planning on doing some tests on real hardware to see how the registers change what we see on the CRT.

[2016-10-26 04:09] MrCK1 commented on #961
Went through a few games, DR detection needs refinement. I'll check more tomorrow when I'm back on my desktop ;)
- GH2 is 640x447 during FMV playback, thin line on bottom
- ATV Offroad Fury - runs at 639 x 448, output looks fine however
- Evo SB - runs at 512x441

The two that I'm positive have CRTC issues are Jonny Moseley Mad Trix and IR (I really need to check IR on hardware)

JMMT (pic is old,

[2016-10-26 04:44] Lithium64 commented on #1047
@FlatOutPS2 My gpu is a R7 260x and it is much slower on OpenGL backend

[2016-10-26 09:26] trostboot commented on #1634
There's a difference between real-time in-game cutscenes and FMVs. There are no FMVs in the Lost Forest. I'm talking specifically about FMVs, and the hard lock that occurs happens at the very end of the opening cinematic (i.e., the one that plays right after you boot up the game, not the one that starts after you hit New Game).

Are you saying the game did not lock up after that FMV? Because it re

[2016-10-26 13:27] mirh commented on #1047
That's going to be fixed [soon](https://community.amd.com/thread/206176)™.

[2016-10-26 22:21] refractionpcsx2 commented on #1047
better not post where? on the AMD forum? It looks like he's not totally convinced that it is a problem with the drivers to me, looks like he's trying to blame your drivers or rig.  I've been trying to sign up to reply this is a common problem where OGL is half the speed on most games compared to DX11, regardless of driver, since neither of you have spoken in there since 4 weeks ago :P

[2016-10-27 03:38] jcdenton2k commented on #1634
No it didn't lock up for me for any FMVs or in-game cutscenes.

[2016-10-27 03:51] jcdenton2k commented on #1047
When Vulkan is more mature, we may be able to see more devs use it and implement it into other emulators including this one.  For now though, it is a toss-up as to whether it will be worth the time.

[2016-10-27 04:01] Aced14 commented on #1269
@MrCK1 I just gave 86a6f5d67cfb75350d7019441d9fd0d5fdf4ccd8 a shot. It's now working fine in both Direct3D11 and OpenGL's hardware renderers.

@gregory38 Thanks :)! I presume #1605 fixed it.

[2016-10-27 04:01] #1269 closed

[2016-10-27 05:30] prafullpcsx2 commented on #1339
Call of duty World at War : Final Front is also fixed.

[2016-10-27 09:47] FlatOutPS2 commented on #1339
Judge Dredd has also been fixed.

World War Zero has been fixed partially, the initial half-screen issue was hiding another that is not fixed. :p

[2016-10-27 13:56] mirh commented on #1047
They PMed me (probably since I never really received a notification about that post) telling they found an optimization that would have been rolled out soon.

[2016-10-27 14:19] FlatOutPS2 commented on #1047
Did you get those low FPS on the AMD test case dump with default settings? Because I got similar results to the AMD employee, and nowhere near as low as indicated in your first post.

[2016-10-27 14:41] ssakash commented on #961
Could you provide a GS dump of the FMV issues on ``Jonny Moseley Mad Trix`` and ``Iridium Runners``? Potentially they're not related to the display rectangle setup.

On the other hand, FMV issues on twisted metal and ICO seem to have something in common. They use a _high_ DW value (2879) on NTSC/PAL modes whereas the normal value is (2559) which is used by all NTSC/PAL video modes, saturating the

[2016-10-27 14:53] FlatOutPS2 commented on #961
I think I know another game. Kengo, which has a black bar at the top instead of bottom.

[2016-10-27 16:25] MrCK1 commented on #961
@ssakash I'll post the GS dumps tomorrow

[2016-10-27 16:48] mirh commented on #1047
Settings are included in the test case. Perhaps it's just you don't have a Core 2 Duo?

[2016-10-28 06:43] ramapcsx2 commented on #1634
The problem is probably the H/V Sync timings. If so, it can probably be made to work better by switching to PAL60 mode (hold X and Triangle on bootup).

[2016-10-28 06:51] trostboot commented on #1634
I'm fairly certain VP2 PAL doesn't support that (or progressive scan for that matter, unlike the NTSC releases).
Triangle + X just brings up an aspect ratio choice. I'll double-check when I get home from work, maybe I'm misremembering.

[2016-10-28 09:50] trostboot commented on #1634
Yeah, it doesn't have support for any other video modes.

Also, WRT the lock up, I re-tested the opening FMV again with fresh, untouched portable installs of 1.4.0 and 1.0.0 with default configs, and it froze again on both. Just be to super extra clear, it happens after that FMV plays, right where it normally loads into the title screen.
I.e., boot up the game and then never touch a single button.

[2016-10-28 14:27] MrCK1 commented on #1339
Can anybody confirm if #318 (Price of Persia: Warrior Within) needs to be added here? According to the issue, the bottom half of the screen has greenish tint on OGL HW

[2016-10-28 15:16] FlatOutPS2 commented on #318
@ghost Can you check if OGL hardware still has the green tint on the bottom half of the screen with the one of the latest GIT releases?

[2016-10-28 15:17] FlatOutPS2 commented on #1339
As that issue is a few months old, I asked if it's still active in the other thread.

[2016-10-28 16:18] bositman commented on #318
Seems ok with current OpenGL ;)

[2016-10-28 16:40] FlatOutPS2 commented on #318
Does that mean this issue can be closed or is there a remaining issue?

[2016-10-28 17:50] #392 closed

[2016-10-28 17:54] MrCK1 commented on #1490
@KinDeDu any status update on this?

[2016-10-28 18:19] avih commented on #318
You mean other than the fact that many PCSX2 users can't use it because for them OpenGL is a lot slower than DX?

[2016-10-28 19:04] FlatOutPS2 commented on #318
The lack of OGL speed is not a PCSX2 issue(well mostly not), let alone an issue that's specific to this game.

I'm assuming DX doesn't work because of the lack of hardware depth/blending, or is this an issue that can be fixed for DX?

[2016-10-28 19:11] avih commented on #318
In that case, you might as well suggested to test it in software mode, or interpreter if speed is not an issue you concern yourself with. And yet you suggested OpenGL as a potential solution, while ignoring the fact that it doesn't solve the issue for many PCSX2 users.

[2016-10-28 19:25] FlatOutPS2 commented on #318
Yes it does. They can play the game in OGL Hardware mode. If this causes any speed issues it means they either have outdated hardware or they're AMD GPU users and have to wait for AMD to resolve the OGL driver speed issues. In either case it is not an issue specific to PCSX2 or this game.

[2016-10-28 19:46] avih commented on #318
In other words, you just admitted your suggestion is not really practical for AMD users, and yet you considered closing the issue is if works in OpenGL.

We can go on forever, but we must face the fact that OpenGL in PCSX2 effectively/practically excludes a lot of PCSX2 users - People with AMD GPUs, and has done this for a long time now, for whatever reason which might or might not have good justi

[2016-10-28 20:22] FlatOutPS2 commented on #318
No, you're at your usual practice of using someone else's words and applying them to your own aggravated vision. OpenGL works fine for many AMD users, even if OGL is not as fast as DX all the time, in many games it doesn't affect the speed so much that it can't be played at 100% at at least 3x native(including this one). But you can reopen over 200 issues that were resolved, but by a solution or o

[2016-10-28 20:39] avih commented on #318
If this game works fine in OpenGL for AMD users, then OpenGL a good solution indeed. However, unless the OP says otherwise, so far the comments (at this issue above) suggest that it runs very slow with AMD+OpenGL, and I'm not yet seeing comments that the speed has improved at any stage.

[2016-10-28 21:44] gregory38 commented on #318
Avih, you pick up the wrong war man. Flatout has an AMD gpu (with a legacy driver), he knows it isn't perfect but still playable. Mirh opened an issue on the AMD forum. And they identified an optimization (likely a basic one) possible with separate shader object (aka SSO, aka don't validate the vertex shader when only the fragment shader is updated). Of course, AMD will need 6 months to release it

[2016-10-29 02:48] lightningterror commented on #1552
"I can confirm we determined this to be a driver issue. Our GL driver team is now working on a fix."

At least they are working on a fix.

[2016-10-29 17:16] refractionpcsx2 commented on #318
That's one big thing I've got to give AMD, they are really receptive to bug reports and the interaction with the devs and community is great.

[2016-10-29 19:48] MrCK1 commented on #1637
@mirh IIRC, GSDumpGUI doesn't always terminate after the GUI window is closed - similar to the issue we solved with the PCSX2 executable

[2016-10-30 04:27] MrCK1 commented on #318
Can somebody also check/confirm DX11 status? I need to close an obsolete bug report; and the wiki page needs an update as well. :)

[2016-10-30 07:11] ssakash commented on #1637
I vote for removing it, seems rather useless in my opinion.

[2016-10-30 09:04] mirh commented on #1637
Afaik that happens due to having to press 2 times start button.
That in turn fires two children process (a "dead" one and an actually working one) and only the later is terminated in the end.

Tbh, given the kind of problems I had.. It would have been a lot useful :p

[2016-10-30 09:31] FlatOutPS2 commented on #1637
It's only useless because it doesn't include all renderers.

I'd also like to be able to reload the plugins and dumps folders individually. Right now you need to click on one of the folder locations, which reloads both, doesn't always work properly and can even cause the application to crash.

[2016-10-30 11:59] psennermann opened #1642 "Enabling Speedhack presets disables (grayed out) Vsync option"
**_PCSX2 version:**_
1.5.0-1498

**_Description of the issue:**_
`(What's the problem? - Screenshots showing the issue if applicable)`

Enabling the preset option (from 1 to 6) in the pcsx2 emulation/configuration options, grayes out the Vsync option (which is funny, since Vsync is not a speedhack), so the only way to enable Vsync in PCSX2 is to disable the speedhack preset.

**_How to reproduce t

[2016-10-30 12:09] FlatOutPS2 commented on #1642
Preset is not just for speedhacks, it is a general emulation options preset and keeps unexperienced users from ruining their experience by enabling the wrong options. If you want to enable advanced features like vsync, which could cause emulation issues, you'll just have to disable the preset.

[2016-10-30 16:09] trostboot commented on #1642
Care to elaborate on issues caused by vsync? It's been my experience that, if anything, leaving vsync off is what causes issues in newer Windows versions where vsync is always enforced through the DWM for non-exclusive applications like PCSX2, resulting in poor framepacing (although even that might just happen under certain conditions, I've never tried to figure it out in more detail once I've not

[2016-10-30 18:29] TotalCaesar659 opened #1643 "Making plugins translatable"
PCSX2 has only main window for translating, but preferences of plugins (Gsdx etc.) have only English.
Can somebody make them translatable by PO files or something?
I could help with translation.

[2016-10-31 21:06] FlatOutPS2 commented on #1643
Is the language set in PCSX2 currently even available for plugins to read?

[2016-10-31 21:13] jcdenton2k commented on #1642
Windows Desktop Composition (Desktop Windows Manager) is always on in Windows 8 and later:
https://msdn.microsoft.com/en-us/library/hh848042.aspx

The Display Driver Must Support Vsync-Control:
https://msdn.microsoft.com/en-us/library/ff569520(VS.85).aspx

DWM Info:
https://msdn.microsoft.com/en-us/library/windows/desktop/aa969540(v=vs.85).aspx

On Windows 7 it can be disabled but enabling Vsync w

[2016-10-31 21:25] avih commented on #1642
As @FlatOutPS2 said, we tried to carefully balance between presets which cannot be "broken" to options people would still like to modify while presets are enabled. We've modified this over the years, for instance initially MTVU was part of the presets (and turned off while presets are enabled), but once MTVU has proved stable enough to keep always on, we "freed" it from under presets control and n

[2016-10-31 21:42] refractionpcsx2 opened #1645 "Haunting Ground missing footsteps after Reverb mods SPU2-X"
Issue introduced after git build 1491 which was the merge of PR #1635 noted by a user on the forum which you can see here: http://forums.pcsx2.net/Thread-Haunting-Ground-No-Footstep-Sounds