[2017-11-17 01:43] lightningterror commented on #2134
Okay next test. Try 1.2.1 exe with 1.5. plugins.

[2017-11-17 01:55] MrCK1 commented on #2136
Images aren't exactly accurate when it comes to finding bugs. Could you try 1.2.1 and 1.0.0 on your system to see if the bug is present?

[2017-11-17 02:00] Petrichoral commented on #2136
@MrCK1 Sure. I dropped a GS dump in the OP as well.
For clarification, it's the title bar of the menu.

[2017-11-17 02:05] Petrichoral commented on #2136
@MrCK1 Problem persists in 1.2.1.
![image](https://user-images.githubusercontent.com/18050205/32925815-8ad4277a-cb09-11e7-9892-13957792ee07.png)

[2017-11-17 02:10] MrCK1 commented on #2136
Make sure your texture filtering is set to Bilinear (PS2)

It looked OK to me, I'm not sure I understand what the bug is? Can you explain for me what you're concerned about?

[2017-11-17 02:11] #92 closed

[2017-11-17 02:15] Petrichoral commented on #2136
![dothack_text_bug](https://user-images.githubusercontent.com/18050205/32926074-c9c2ff82-cb0a-11e7-990c-506097bbef80.png)
This is why I said minor, but fixing the font rendering might be exactly what the doctor ordered for this game.

[2017-11-17 02:20] lightningterror commented on #544
Both hardware and software seem to have the issue. Software far less tho so it's not much visible.

[2017-11-17 02:22] MrCK1 commented on #2136
So the font looks fine for you now correct? It's just that menu alignment issue?

[2017-11-17 02:54] hggeren commented on #2134
@lightningterror 1.2.1 exe with 1.5 plugins does not crash on death element use and seems to work flawlessly (it doesn't fail to load saves either). The issue seems to be related to the exe. The two console messages I posted in my previous screen shot are still displayed, though.

[2017-11-17 02:54] Petrichoral commented on #2136
No. Forgive me if I am being specific, but the original graphic is continuous and the font width is scaled. I have a screen grab of actual PS2 behavior.

![capture](https://user-images.githubusercontent.com/18050205/32927100-5fa5559a-cb10-11e7-976f-191438cff4b8.PNG)

[2017-11-17 02:56] hggeren commented on #2135
I'm assuming something must have changed in the way PCSX2 loads the save files. I can easily load any DW3XL save file in 1.2.1, even the ones that were permanently corrupted in 1.5.0 due to mid-stage saving. The issue persists when I swapped to using 1.5.0 plugins with the 1.2.1 exe as well.

[2017-11-17 03:14] Kolrath commented on #347
I used pcsx2-v1.5.0-dev-2218-g3b122a1ba-windows-x86 to retest with the EE cache option. I couldn't remember if I tried that at all when I ran my tests. If I did I didn't make note of it.

First test I did was with graphics set to D3D 11 Hardware at Native resolution to keep things in line with Salamanders tests. I had the EE and IOP as Interpreter with EE Cache checked.

I reached the point where

[2017-11-17 03:18] hggeren commented on #2134
I played around with death element some more on the 1.2.1 exe with 1.5.0 plugins, and this error popped up:
![death element error](https://user-images.githubusercontent.com/10597256/32927660-f95fc9c2-cba1-11e7-99c7-07f413e89a8f.png)

Pressing ignore causes the game to go on as normal. I'm assuming that the newer emulator deals with this error differently, which may be why it is crashing. Hope this

[2017-11-17 03:24] Kolrath commented on #107
@ThereRnoIDs - I appreciate the thank you!

I hadn't tried messing with the save states too much when it came to trying to get a working save file (valid timestamp / date). I would just be sure that you don't rely on a save state when quitting out and replaying the game. If you're going to quit be sure to make an actual, and valid, save on the memcard using the games own save system. Just to be on

[2017-11-17 11:09] Salamander3 commented on #347
Yes i can get in every time with "Enable EE cache (Slower)" selected, sorry i didn't mention it earlier, i forgot.
I am having now a different problem that is when i switch from interpreter to recompiler the emu will crash. This didn't happen before.
I made you a save state (not sure if it will work). Extract it into the sstates folder and  Make sure EE is on **recompiler** and after doing boot is

[2017-11-17 15:03] #2011 closed

[2017-11-17 15:27] #2130 closed

[2017-11-17 16:41] atomic83GitHub opened #2138 "[Regression] Beyond good and evil fmv's flickering"
***PCSX2 version:***
Last 1.5 dev

***PCSX2 options:***
All default , speedhacks enabled (bug also without)

***Plugins used:***
All default

***Description of the issue:***
The beyond good and evil fmv's tends to flicker with the last 1.5git version of PCSX2, the screenshots don't render the issue accurately

Before:
![capture](https://user-images.githubusercontent.com/26351275/32957405-e5d55272-

[2017-11-17 16:45] MrCK1 commented on #2138
Did you try switching to software mode?

[2017-11-17 16:47] atomic83GitHub commented on #2138
Software mode do not solve the issue.

[2017-11-17 20:07] hellbringer616 commented on #2134
Could you check if OpenGL Software, or DX11 Hardware have the issue?
I am having an identical bug in Rogue Galaxy and i'm wondering if they are related.

[2017-11-18 00:28] hggeren commented on #2134
@hellbringer616 The crash happens regardless of rendering mode. I have tested DX9 HW and SW, DX11 HW and SW as well as OpenGL HW and SW. It seems to be related to the handling of an "invalid unpack error" in the PCSX2.exe itself. Version 1.2.1 of the exe works in DW3XL, so it might also work in Rogue Galaxy.

[2017-11-19 12:12] atomic83GitHub opened #2139 "Renderware (Heavy iron) potential fix."
***What is this?***

The modified renderware engine used by Heavy Iron for The Incredibles and Spongebob games never worked on PCSX2, the only raison that these games worked is there is a Patch to avoid the issue.

***Play!***

A another Ps2 emulator (Play!) have a fix for this but it doesn't seems to be responsive on PCSX2 according to a forum post.

***EIE bit***

So here is the issue: the EIE b

[2017-11-19 15:06] ssakash commented on #107
I'm confused, is the issue still present in the latest GIT versions? I remember messing with the RTC recently, maybe it might've helped with this game.

[2017-11-19 15:08] MrCK1 commented on #107
FWIW, the save issue goes waaaay back to at least Playground builds 😛

https://forums.pcsx2.net/Thread-Bug-Report-Growlanser-II-NTSC?highlight=growlanser

[2017-11-19 15:14] ThereRnoIDs commented on #107
There would still be a bug where the game would randomly hang after a battle.
Like before the complete or victory screen shows up.

So even though the timestamp thing worked and can save in game,  I'd still have to make a savestate inside battles too.

[2017-11-19 15:33] ThereRnoIDs commented on #107
Oh i kinda remember it now,  I remember looking it up and someone mentioned don't spam or mash buttons when killing the last mob to prevent it to crash after a battle.
Or it was because a cutscene happens right after it...

Never confirmed what the issue was, but you can save state right before killing the last mob/boss and reload it to progress no dramas.

[2017-11-19 15:36] James-F2 commented on #1916
PCSX2 painfully lacks Integer-Scaling feature.

Another good way to scale the image is multiply the image by X times and only then stretch it.
This option is also not available in PCSX2.

[2017-11-19 16:28] MrCK1 commented on #2115
@LBPPlayer7 Are you going to update your issue? If you don't respond soon, I'm going to close it since there's already a similar one opened.

[2017-11-20 19:04] MrCK1 commented on #1669
I added "King's Field 4: The Ancient City" according to the wiki entry here: https://wiki.pcsx2.net/King%27s_Field:_The_Ancient_City

[2017-11-20 19:10] atomic83GitHub commented on #1405
Any status on this issue?

[2017-11-20 19:10] MrCK1 commented on #1405
Status hasn't changed, I know that for a fact. Someone on the forum tested it a little while ago.

[2017-11-20 19:37] atomic83GitHub commented on #287
I have still the issue here, I had try the play! Emulator, it crash at loading,
But I don't have any issue with the ethernet connexion under EE recompiler ,I used the build-in dev9 plugin with a realtek pcie gbe familiy controler.

[2017-11-20 20:34] MrCK1 commented on #1970
@nhydock Any status update on this?

[2017-11-20 20:37] nhydock commented on #1970
I can test this again tonight.  I do not have an nvidia card, though, to see if it's just an amd problem.

[2017-11-21 02:50] nhydock commented on #1970
Doesn't look like anything has improved.  When I get up in the 4x and higher it still has the same amount of slow down according to the previous tests.  I updated to the build bot version available on windows for today (g49cea778a)

I did find a fun little quirk with how it does its rendering.  It's one of those games that'll have vertical stripes when you do upscaling.  Well, if you turn on the a

[2017-11-21 02:51] MrCK1 commented on #1970
If you run it at 3x is there still a slowdown? Most games will see diminishing returns after 4x and it's just more taxing on the emulator.

[2017-11-21 03:00] nhydock commented on #1970
There's slow downs in menus even at native resolution.  Races are able to play at 60fps when Blending Unit Accuracy is set to None when at 3x resolution.

Btw, this only affects OpenGL HW, slowdown is not present in OpenGL SW.

[2017-11-21 05:04] lightningterror commented on #1970
I'm 90% sure it's the AMD driver. DBZ BT3 has the same issue even on native resolution. Nvidia doesn't have that issue and the performance is the same between DX and Opengl, or Opengl is slightly faster.

[2017-11-21 18:47] atomic83GitHub opened #2141 "[VPU/VIF] Max Payne : crash issue."
***PCSX2 version:***
Ladt 1.5 dev

***PCSX2 options:***
All default, speedhacks disabled, this game is not compatible with MTVU (it cause more crashs)

***Plugins used:***
All default

***Description of the issue:***
The game Max Payne always crash at the same point with this error.

![capture](https://user-images.githubusercontent.com/26351275/33090347-f5fa50cc-cef3-11e7-931d-c38df02bd5ee.PNG)

*

[2017-11-21 21:46] MrCK1 commented on #2141
@prafullpcsx2 Didn't you make a patch for this game, or was that unrelated?

[2017-11-22 16:40] atomic83GitHub opened #2143 "Many .elf won't work on PCSX2"
***PCSX2 version:***
Last 1.5 dev

***PCSX2 options:***
All default, speedhacks disabled.

***Plugins used:***
All default

***Description of the issue/Meta:***
Many .elf don't work as expected on pcsx2:

-PS2INFOGB-Crash at the loading (Interpreter + cache don't seems to improve the situation)
![capture](https://user-images.githubusercontent.com/26351275/33138290-674186b8-cfaa-11e7-8327-2479fcf9d

[2017-11-22 17:57] MrCK1 commented on #2138
@atomic83github Can you please try to update the information in your other issues before opening new ones. Finding the specific build when these regressions was introduced will help us out a lot! Thanks!

[2017-11-22 18:01] atomic83GitHub commented on #2138
I am on it :), the buildbot also seems to work.

[2017-11-22 18:33] atomic83GitHub commented on #2138
#MrCK1 Do you know where I can find more older build than 1.5dev 1223?

[2017-11-22 22:08] ramapcsx2 commented on #2143
We know.
There are a few things that make homebrew elfs harder to emulate.
The biggest problem is their use of an early ps2 sdk, which is very buggy. We found one scene demo, that wrote to a nonexisting root counter register and expected it to work.
By some miracle, real hardware glitched in such a way that it did in fact work.
We implemented a workaround for that demo.

Next problem is, particula

[2017-11-23 05:49] atomic83GitHub commented on #2138
1.5dev 790 have the issue, so it was introduced between 650 and 790.

[2017-11-23 05:51] MrCK1 commented on #2138
Can you narrow it down further then?

[2017-11-23 17:53] atomic83GitHub commented on #2138
Sorry but I can't do any further without your help, the only version I can found is 1.5dev 786 wich have the issue so it is between 650 and 786.
Have you any build under 786 and after 650?

[2017-11-23 20:47] turtleli commented on #2138
v1.5.0-dev build list at https://gist.github.com/turtleli/a7de466bdf0aac4d028be5fa82a31de2 (It should be correct, but I don't guarantee this).

[2017-11-23 21:17] atomic83GitHub commented on #2138
Thanks! I will try this ASAP.

[2017-11-23 21:30] atomic83GitHub commented on #1452
Any status about this PR?

[2017-11-23 21:31] MrCK1 commented on #1452
This is just a standard issue, it's not a pull request :P

[2017-11-23 23:21] frozenMustelid opened #2144 "[bug][GSdx:OpenGL] Xenosaga 1 - OpenGL Hardware mode slower than Software mode"
***PCSX2 version:***
1.5.0-0 (whatever the 2017-11-20 version in the PPA is)

***PCSX2 options:***
I had widescreen on when I noticed the bug, but testing with it turned it off had almost no performance improvement

***Plugins used:***
GSdx (GCC 5.4.0 AVX2/AVX2) 1.1.0 [libGSdx-AVX2]
OnePAD 0 1.3.0 [libonepad-legacy]
SPU2-X 2.0.0 [libspu2x-2.0.0]
CDVDnull Driver 0 0.6.0 [libCDVDnull]
USBnull Driver

[2017-11-23 23:43] refractionpcsx2 commented on #2139
I will note forcing it worked, but it was a MASSIVE hack and will probably break other games.  The game constantly turns the EIE bit on and off, but letting it do this doesn't work.

[2017-11-23 23:48] lightningterror commented on #2144
The propriety drivers are known to be bad, however the opensource drivers for OpenGL are the best. They are also better than what amd offers on Windows.

[2017-11-24 06:45] frozenMustelid commented on #2144
That doesn't gel with my experiences with this particular card. IME, proprietary offers modest (but distinctly noticeable and measurable) improvements over the open source driver when rendering with OpenGL, and only the proprietary driver lets me use Vulkan. In my case, OpenGL vs. Vulkan is the difference between full-speed GC games in Dolphin on native resolution and full speed 1080p on most GC g

[2017-11-24 11:51] atomic83GitHub commented on #2138
***I found the culprit build! It's the v1.5.0-dev-721-g265ea82.***

***Here it is***
https://drive.google.com/file/d/1PwGnlTDmSRGE7YoPnRYlimOgEJ2alruL/view?usp=sharing

[2017-11-24 13:55] gregory38 commented on #2138
@ssakash updated this code recently (maybe it is still on a pending PR). It would be nice to test it too.

[2017-11-24 14:03] lightningterror commented on #1026
Is this still an ongoing issue ?

Maybe adding a hidden userhack can be a somewhat ok workaround.
Or
Vendor id detection in combination with the user hack so it's only active on nvidia and can be toggled.

[2017-11-24 14:16] atomic83GitHub commented on #2138
I had test on it, still the bug.

[2017-11-24 14:28] ssakash commented on #2138
Could you try testing by uncommenting the ``//#define ENABLE_ACCURATE_BUFFER_EMULATION`` line?

[2017-11-24 14:36] atomic83GitHub commented on #2138
How can I enable Accurate Buffer?

[2017-11-24 15:12] lightningterror commented on #2138
[GSdx32-SSE4.zip](https://github.com/PCSX2/pcsx2/files/1501999/GSdx32-SSE4.zip)

[2017-11-24 15:17] atomic83GitHub commented on #2138
It don't solve the issue unfortunately.

[2017-11-24 15:18] ssakash commented on #2138
I'll look into this issue later then.

[2017-11-24 17:42] Papermanzero commented on #10
It would be great for games like metal slug, megaman, etc.

[2017-11-25 13:33] prafullpcsx2 commented on #2141
@MrCK1 No, I don't remember making any patches for this game.

[2017-11-25 18:00] atomic83GitHub opened #2146 "Remove CRC hacks for the Simpsons game."
***Why?***
They are not needed anymore and cause a graphical glitch with black lines in the full level.

![capture](https://user-images.githubusercontent.com/26351275/33233236-d9099280-d212-11e7-971b-05f0a5845b18.PNG)

***PC specifications:***
AMD fx 8350 GTX 780ti Windows 10 64bit

[2017-11-25 18:10] lightningterror commented on #2146
Block dump please. I'd like to test this out. Then I will update the code.

[2017-11-25 18:11] MrCK1 commented on #2146
Did you test with all renderers, ect? Do you know why the hack was added originally? A little more info is necessary IMO.

[2017-11-25 18:15] mirh commented on #2144
Last time I checked vulkan was a thing even for open source drivers.
Then btw, while you are at it, could you check if AMDGPU-PRO is equally buggy as driver on windows?

`g++ whatever.cpp -o test -lGL - lglut -lGLEW`
Where whatever.cpp is [this](http://pastebin.com/CCC63BWr) (make sure to install freeglut and glew)

[2017-11-25 18:23] atomic83GitHub commented on #2146
Here is the blockdump:
https://drive.google.com/file/d/1vqe17oWhOdEChufFIXRmVohRWnUV0Cv4/view?usp=sharing

It was made to fix a old Half bottom screen issue (https://github.com/PCSX2/pcsx2/issues/1339). Now it is perfect without any hacks.

[2017-11-25 19:44] atomic83GitHub commented on #2141
Here is a save with all levels unlock:
https://drive.google.com/file/d/1Iid4xlbbRD9_Yt3sDnFpcJL7mSruP-Fq/view?usp=sharing

[2017-11-25 22:19] lightningterror commented on #2146
I'll also need a savestate.

[2017-11-26 05:24] MrCK1 commented on #2138
It would be worth looking into https://github.com/PCSX2/pcsx2/issues/1357 as well (in regards to flickering), but it was reported to be affected by a different build.

[2017-11-26 10:45] atomic83GitHub commented on #2146
Here it is, also don't forget to enable GS memory wraping, it fix a very little corruption at the copyright screen (again was fix by the CRC hack but not needed anymore).https://drive.google.com/file/d/19NDWkqSZtxyYlQP0l7VsWV-TlyedVPnh/view?usp=sharing

[2017-11-26 11:37] ramapcsx2 commented on #2139
What was EIE again? Debug feature they forgot to turn off or crazy code? :)

[2017-11-26 11:39] refractionpcsx2 commented on #2139
It is the matter interrupt enable bit on the cop2, if I recall correctly

[2017-11-26 12:15] ramapcsx2 commented on #2139
That just sounded like something Mr. Data would say xD
So okay, the game is trying to measure something, maybe. Maybe a timing loop?
I don't think we even emulate or care about what it's trying to prevent :p

[2017-11-26 13:45] atomic83GitHub opened #2147 "GSDX : integrate unscale point and line and GS memory wrapping."
***Feature request: remove these hacks to directly integrate them in GSDX.***

***Pros:***

-Less configuration for end users
-solve directly some HW/upscalling issue

[2017-11-26 13:46] MrCK1 commented on #2147
They can cause problems for other games and aren't always needed, that's why they're hacks. ;)

[2017-11-26 13:48] atomic83GitHub commented on #2147
What type of issue can they cause?

[2017-11-26 13:49] MrCK1 commented on #2147
They can cause graphical artifacts and break games as many rely on undocumented GS behavior.

[2017-11-26 13:50] atomic83GitHub commented on #2147
Ok so, would you want close it?

[2017-11-26 13:51] MrCK1 commented on #2147
Sure, will do.

[2017-11-26 13:51] #2147 closed

[2017-11-26 14:05] atomic83GitHub opened #2148 "The [&] letter won't appear on the PCSX2 iso selector gui"
***What is this issue?***

The issue is that the PCSX2 iso selector don't display the & letter, here is an example:

-The good name of the file:

![capture](https://user-images.githubusercontent.com/26351275/33240701-8f7483e8-d2ba-11e7-9985-94bd1082eb71.PNG)

-The wrong name in the PCSX2 iso selector gui:

Beyond Good   Evil

[2017-11-26 16:10] refractionpcsx2 commented on #2139
I meant Master, stupid phone.

Not sure what the game is doing or how Play! managed to fix it.

[2017-11-26 16:11] refractionpcsx2 commented on #2148
It's probably because it is a reserved word and we just aren't modifying the string.  If you label the ISO with && it will probably work :P

[2017-11-26 18:07] lightningterror commented on #2148
Is this really an issue tho ?

[2017-11-26 18:13] gregory38 commented on #2139
Enable IE:   This bit enables or disables the IE (Interrupt Enable) bit. Thisbit is cleared by the DI instruction and set by the EI instruction.  0 → disables all interrupts regardless of the value of the IE bit.  1 → enables the IE bit. (All interrupts are enabled if IE=1, EXL=0, and ERL=0.) Note: IM enables individual interrupt

For me it is the user (I think you don't need kernel privilege to u

[2017-11-26 18:17] ramapcsx2 commented on #2139
So yeah, they're probably timing something, is my guess.

[2017-11-26 21:12] lightningterror commented on #2146
Never realized how much broken the game was on 1.4.

[2017-11-26 22:25] lightningterror commented on #2146
@atomic83GitHub test this PR out.
https://ci.appveyor.com/project/gregory38/pcsx2/build/1.3475-master/job/37c9xe38v1xw3wie/artifacts

Shuffle between Automatic and Aggressive.

[2017-11-26 22:48] #2148 closed

[2017-11-27 10:01] #462 closed

[2017-11-27 10:01] #1125 closed

[2017-11-27 19:04] atomic83GitHub opened #2150 "[GSDX] Full mipmapping don't work under DX11/9 mode"
***What is the issue?***

The "full" mipmapping don't work with DX 11/9 Under GSDX, here is an example:

![capture](https://user-images.githubusercontent.com/26351275/33283775-3011c980-d3ad-11e7-83a9-f786caad2e94.PNG)

Note: The basic Mipmapping work fine.

***GSDUMP***
https://drive.google.com/file/d/1piqoqyB-Jy1I1VGj_RDmSr3Mud0iwWZm/view?usp=sharing

[2017-11-27 19:23] atomic83GitHub commented on #2146
So, I made a test in multiples area in the game (The most demanding) and your version work perfectly fine, no issue at all. I have just to enable Hardware hacks for the missaligned blacks border and The GS memory wrapping for the copyright screen. And the agressive level give me a small boost on my amd GPU Under OpenGL.

With auto:
![capture](https://user-images.githubusercontent.com/26351275/3328

[2017-11-27 19:35] lightningterror commented on #2146
What about Direct3D?

[2017-11-27 19:37] atomic83GitHub commented on #2146
Same as OpenGL, The screenshots was made with the DX11 mode.

[2017-11-27 19:38] lightningterror commented on #2146
Okay great. Looks like the PR can be merged.

[2017-11-27 20:58] atomic83GitHub commented on #1638
The Simpsons game don't anymore need the supervu to work, it work perfectly fine with vu0 and vu1 on microvu even with mtvu.

[2017-11-28 03:39] lightningterror commented on #1894
I could maybe do something like this ( bow down to my magnificent paint skills )
![image](https://user-images.githubusercontent.com/18107717/33301384-da712e14-d3f5-11e7-862d-dcc64bc8828d.png)

If checked then automatic hw hacks is disabled and you can toggle like you normally do.
If unchecked everything is greyed out. Automatic Hw hacks are enabled.
Just like willkuer said.

Not promising but I ca

[2017-11-28 03:46] lightningterror commented on #2150
I think this is because full mipmapping works together with Trilinear Filtering.
Trilinear filtering uses a GLSL shader on OpenGL, atm the shader isn't ported to Direct3D, someone needs to do that.
So by getting Trilinear filtering to work on Direct3D you also get proper Full mipmap support IIRC.

[2017-11-28 11:29] #2146 closed

[2017-11-28 11:51] lightningterror commented on #2088
The gs dump isn't available. Also can you provide a savestate with the block dump ?

[2017-11-28 12:07] lightningterror commented on #1832
Closing this.
#1552

[2017-11-28 12:07] #1832 closed

[2017-11-28 14:45] mirh commented on #1894
That checkbox here is as magnificently well-fitting as it is half-assed ... :s
The major problem is, figuring out how to handle 'logic'.

Which is not meant to any particular c++ complex crc hacks logic/programming (I think we all agreed they are good where they are)
But just something as simple as to just perform a check on, say, non-native resolutions for example.

My first idea was to add this

[2017-11-28 15:06] MrCK1 commented on #1894
I think this will just end up creating more work for everyone and future contributors. I don't like adding things to their own list that then have to be actively maintained and kept up to date while still tracking regressions.

This is too risky IMO, and there's just too many games to worry about.

[2017-11-28 15:27] lightningterror commented on #1970
Close #1552

[2017-11-28 15:27] #1970 closed

[2017-11-28 17:38] MrCK1 commented on #2107
@phil4583 Any update for us?

[2017-11-28 17:41] #2115 closed

[2017-11-28 18:02] lightningterror commented on #2110
Are you using custom resolution by any chance ?

[2017-11-28 18:32] hellbringer616 commented on #2110
I am, tested at 5x native and the game does not crash!

Any idea why it would crash on custom resolution? I use CR because when taking screenshots its the only way to keep proper aspect ratio when using widescreen hacks. screenshots come out smooshed otherwise.

[2017-11-28 19:11] MrCK1 commented on #2110
Can you check for VRAM spikes in Task Manager/Process Hacker before the crash when using custom resolution?

[2017-11-28 20:57] mirh commented on #1894
No maintenance, worst case... means we are *simply* back to current situation. Already discussed [here](https://github.com/PCSX2/pcsx2/issues/1894#issuecomment-295758602).
I seriously cannot see any downside to this, aside of course of the dev time required.

Seriously, market this feature well for 1.6, and it's going to be the greatest thing invented since sliced bread.
Somebody could even yell w

[2017-11-28 22:03] lightningterror commented on #2110
Please try this PR and see if it crashes.
https://ci.appveyor.com/api/buildjobs/tjqw0wv1ehxbcj1n/artifacts/pcsx2-v1.5.0-dev-2216-g3b4e719fb-3425-vs2015-Win32-AppVeyor.7z

[2017-11-28 22:35] hellbringer616 commented on #2110
PR did the trick! tested it multiple times, no crash on custom resolution.

closing the issue.

[2017-11-28 22:45] lightningterror commented on #2110
#2122 well it's not merged yet, will be Soon™.

[2017-11-28 22:57] bositman commented on #2136
Can you try setting OpenGL hardware renderer and Blending Unit Accuracy to Full? This looks very much like the text issue Rogue Galaxy has and is fixed with that setting

[2017-11-29 06:58] frozenMustelid commented on #2144
Sorry about the late response. The code does compile and run, but it shows a yellow background and that's all. Here's the terminal output:

Supported Opengl version: 3.1.13491 Compatibility Profile/Debug Context 17.30.0
Frag0 index 0
Frag1 index 1

I tried pressing a few keys and clicking and dragging the empty yellow space in the window, but nothing changed in the terminal or the window.

[2017-11-29 16:51] mirh commented on #2144
Fine, that was all that was needed, thank you.

[2017-11-30 15:41] rz5 commented on #1638
@atomic83GitHub, ok thanks for the heads-up.
@ssakash, @FlatOutPS2 if you have a dump of the Simpsons game or if you can contact user umisery on the PCSX2 forums to retest it, we can checkmark this one too on the OP.

[2017-11-30 20:36] MrCK1 commented on #1638
I just modified the checklist. Btw, FlatOut has been gone for ~8 months FYI 😛

[2017-11-30 20:38] atomic83GitHub opened #2154 "[AMD Windows update driver (15.2)] show a white screen under OpenGL."
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
All default

***Plugins used:***
All default

***Description of the issue:***
The OpenGL render don't work on my 15.2 Windows update driver. It show a white screen look:

![capture](https://user-images.githubusercontent.com/26351275/33453811-45809bae-d617-11e7-9001-0a18f63b3e6c.PNG)

***How to reproduce the issue:***
Load PCSX2 with the OpenGL

[2017-11-30 20:39] MrCK1 commented on #2154
I thought you had an Nvidia GPU? Also, how new is this AMD driver?

[2017-11-30 20:41] atomic83GitHub commented on #2154
#MrCK1: It is not the same PC :).

This is a special version packed with Windows Update and was made in 2015.

[2017-11-30 20:41] MrCK1 commented on #2154
Microsoft WHQL drivers often differ from the latest available, I would check the AMD website.

[2017-11-30 20:48] atomic83GitHub commented on #2154
It is not available on the AMD website. I have found one link about this version:
https://www.touslesdrivers.com/index.php?v_page=3&v_code=5860

[2017-11-30 20:51] MrCK1 commented on #2154
Looks like your product family has been moved to legacy support. I would say that's part of the problem here: http://support.amd.com/en-us/download/desktop/legacy?product=legacy3&os=Windows%2010%20-%2064

[2017-11-30 21:01] MrCK1 commented on #2154
@atomic83GitHub Can you download the installer and see if it will let you install the newest driver? Otherwise, I'm going to close this most likely.

[2017-11-30 21:02] atomic83GitHub commented on #2154
The legacy support is not the issue here, the driver available on the AMD website don't seems to have the issue so it can be a specific driver issue.

[2017-11-30 21:04] MrCK1 commented on #2154
The point is, this is a significantly older driver - from March 2016 nonetheless. If you hardware doesn't support the newest AMD driver, that's not really our problem. The least we can assume is that it doesn't exist in the newest driver (excluding every other thing that's currently wrong with them)

[2017-11-30 21:07] atomic83GitHub commented on #2154
The final beta for non GCN product seems to fix the issue, thanks. But it would be nice to add a warning message for the users of this driver because, other OpenGL based applications like Bluestacks work exactly the same on booth driver so it's strange ^^.

[2017-11-30 21:14] lightningterror commented on #2154
What is the driver version that shows on gpuz ?
Can you upload the atioglgl.dll ?

[2017-11-30 21:23] atomic83GitHub commented on #2154
GPUz show: 15.8 beta rev:15.201.1151.
I will upload atioglgl.dll later.

[2017-11-30 22:39] lightningterror commented on #2154
You can get hybrid 17.1.1 drivers here.
https://forums.guru3d.com/threads/16-101-2901-1001.409002

Duplicate. #1552

[2017-11-30 22:39] #2154 closed

[2017-12-01 03:59] lightningterror commented on #1920
@FahrentH8t Any update on this ? A new gs dump or block dump with a savestate would be nice.

[2017-12-01 04:22] MrCK1 commented on #1562
Added "The Suffering: Ties That Bind" to the list - #1929

[2017-12-01 18:24] prafullpcsx2 commented on #2141
I have the US version of the game and this save seems to be for PAL version?

[2017-12-01 18:25] atomic83GitHub commented on #2141
Yes, it is.

[2017-12-01 19:15] prafullpcsx2 commented on #2141
I managed to find the savegame from gamefaqs. The crash seems random though and seems to be happening only when ee cycle rate is set to zero. Can you recheck and confirm that crash happens even with eecycle rate -1 or -2 or -3?

[2017-12-01 19:24] atomic83GitHub commented on #2141
The game seems fine when using -1 or lower.

[2017-12-01 19:24] MrCK1 commented on #2141
What if you use EE timing hack instead?

[2017-12-01 19:25] atomic83GitHub commented on #2141
The EETimingHack can sometimes help, sometimes not.
As a side note disabling MTVU cause less crash.

[2017-12-02 11:22] Nashismo opened #2156 "1 Second Stutter on all Games using Gsdx32-AVX2 (Hardware/Software) fixed if using Gsdx32-SSE4"
PCSX2 version:
pcsx2-v1.5.0-dev-2233-gbc8d9d40b-windows-x86

Issue:
All my games, specially Shadow of the Colossus and GOW2 have a 1 second stutter every minute or so. Sound cut off too.

After tweaking with different settings, I have found this only happens when using the Gsdx32-AVX2 plugin! (Hardware and Software. Opengl/DX11).

This is completely fixed if I change the plugin to Gsdx32-SSE4. But

[2017-12-02 12:30] Nashismo commented on #2156
UPDATE:

I put my PS2 games on an SSD and I nolonger have these stutter issues. But it makes no sense! The real PS2 DVD disc reader is even slower than a standard HDD and it never gives you problems, by making games stutter, etc.

Any idea what could be causing this? It seems like a problem with the ISO/DVD plugin.

[2017-12-02 15:38] willkuer commented on #2156
It makes no sense that either SSD or SSE4.1 fix your issue. I guess you have reproducibility issues and neither of both is triggering your issue. Sounds to me rather like dynamic throttling due to overheating of your CPU in case you have a notebook. But just guessing into the dark.

HDD issue could as well be related to bad sectors and/or anti virus software.

[2017-12-02 15:43] lightningterror commented on #2156
It could be the power plan as well that throttles the cpu when not fully utilized.

I suggest you switch to high performance.

[2017-12-02 16:36] #2156 closed

[2017-12-02 16:44] 7oxicshadow opened #2157 "Linux : Segfault when trying to use any OnePAD plugin"
***PCSX2 version:***
``1.5.0-dev-2233-gbc8d9d40b``

***PCSX2 options:***
``N/A``

***Plugins used:***
``Any OnePAD plugin``

***Description of the issue:***
Pressing config on any OnePAD plugin causes segfault. If I try to launch a game I also get the following error:

../common/src/Utilities/Linux/LnxHostSys.cpp(70) : assertion failed:
    Function:  void SysPageFaultSignalFilter(int, siginfo_t*,

[2017-12-02 18:43] Nashismo commented on #2156
I am using high performance and I am on a dektop. The CPU is using a Coller master fan, no problems there.

Also, as an update, the stutter was present on all GDSX plugins, only more pronounced on AVX2. I put the game ISO on an SSD and all those issues were fixed.

Both HDD and SSD are new and I don't run ANY antivirus, I am a PC user extrordinare :) I don't need Antivirus. My PC at idle has 0% us

[2017-12-02 23:55] MrCK1 commented on #2156
You said the issue was still fixed correct? Are there any problems that still remain?

[2017-12-03 00:04] MrCK1 commented on #1740
If I get to this point, I'll retest it. I happened to notice that this game requires Full Blending to render blood transparently (and probably some other stuff) so we'll see.

[2017-12-03 06:15] Nashismo commented on #2156
Yes. The issue is completely fixed by moving the game (SOTC) to the SDD. I haved been testing for 2 days and I am 100% certain. The problem comes back if I use a standard HDD.

Thing is, I have used PCSX2 before (other PC's) and I had never encounter an issue like this. I always used standard HDD's also.

The only error PCSX2 gives me is this:
[wx] Failed to load shared library 'C:\PCSX2\plugins\D

[2017-12-03 06:51] lightningterror commented on #2156
It can be an issue if other programs are reading data from the HDD constantly.
I found that Windows 10 was constantly reading data from the HDD which resulted in 100% disk usage.
Here are some of the services you can close.
Diagnostic Tracking, Windows Search, Superfetch.

[2017-12-03 06:57] Nashismo commented on #2156
I know that :) Windows 10 is horrible in that regard. But I have NONE of those issues, believe me, I have unisntalled/disabled all those processes weeks ago, I have blocked (through the Hosts file) all the digusting spyware by Microsoft and I have killed all their spyware scheduled processes.

I fix computers for a living! (among other things) So I know what you mean and that is not the issue, tha

[2017-12-03 07:16] Nashismo commented on #2156
By the way, anyone knows of other game/ISO reader plugins? Because I believe that is the issue. Thanks.

[2017-12-03 07:34] lightningterror commented on #2156
It could be the specific to that HDD maybe and the delay it takes to move the head.

What about Link Power Management in intel RST ? Is it disabled ? Same goes for Windows write
cache buffer.

[2017-12-03 07:39] avih commented on #2156
GOW2 and SoTC are known to read constantly from the disk/DVD. SoTC streams world data from seemingly arbitrary locations at the ISO image _constantly_ wherever you go, and GOW2 constantly reads the DVD for the sound track at all times.

Your issue is completely unrelated to AVX2 or the GFX/GS plugin, and completely related to reading data from the ISO image. The fact that it works fine with an SSD

[2017-12-03 07:49] Petrichoral commented on #2136
@bositman With blending unit accuracy full it does not fix the graphical glitch. (It's actually my go-to setting for my computer).

[2017-12-03 15:52] Nashismo commented on #2156
Thank you guys! It probably is the ISO as it weights 2.50gb, Shadow of the Colossus US version. Probably the issue will be fixed by using a FULL ISO, which should be around 4.16gb, if I am not mistaken.

[2017-12-03 16:27] avih commented on #2156
While it's true that the US version has smaller ISO, Both versions read constantly from random places at the ISO whenever you move around. So no, it doesn't matter which version you try.

It does matter that you fix your PC or replace your HDD or use another drive.

[2017-12-03 16:33] Nashismo commented on #2156
Thank you for your time then. You guys are great, the best!

[2017-12-03 20:04] atomic83GitHub commented on #2132
I have update my GameDB PR with games that need skipmpeg to work. Also you can add "lethal skies 2" and "Paris dakar rally".

[2017-12-04 00:34] willkuer commented on #2157
Lilypad works?

[2017-12-04 14:23] Kyogre commented on #1490
I had the same "no HUD" problem on the Russian NTSC version. The cause of that bug was game's multiloader (it is menu with language selection that launches right after you open the game). To fix the problem I just applied patch that deletes all language except one and thus deletes multiloader. It is named SLUS-21372_ER-R.7z if you would like to keep only Russian language, SLUS-21372_ER-E if you wa

[2017-12-04 15:02] lightningterror commented on #1490
This will be hard to fix. Thing is the PAL version, CRC 7ACF7E03 to be precise shares an id with ICO which is another games and has it's own set of CRC hacks, and other texture cache fixes.

I need the following:
gs dump or block dump with a savestate so I can run some tests.

[2017-12-04 15:26] Kyogre commented on #1490
@lightningterror Am I right that you need dumps of exactly NTSC patched english working version?

[2017-12-04 15:29] lightningterror commented on #1490
I actually need dumps from the PAL version, but NTSC can help as well. If I can reproduce the issue then I'll know if it's an easy fix or not ( well for me at least ).

[2017-12-04 16:21] Kyogre commented on #1490
1. here is GSdumps for menu and ingame https://www.mediafire.com/file/a8m5z62deyqarra/SLUS_21372%20GSdumps.zip
2. I have file named SLUS_213.72(Eng) (2017-11-04 19-10-49).dump that weighs 130 MB. Do you need it?
3. I still don't understand what savestate you need. Tell me, please
4. I have only NTSC version, so I can't provide dumps for PAL

[2017-12-04 16:30] lightningterror commented on #1490
Yea that's the block dump, you can compress it in a zip btw.
As for savestate = sstates, when you press F1 to save your progress.

You should create the block dump from booting the emulator and playing a little in the game, saving the progress and exiting after.

[2017-12-04 18:08] Kyogre commented on #1490
So you need dumps when I am using ISO with working HUD. Am I right? Or you need dumps when I am using ISO with broken HUD?
When I need to make savestate: in game's main menu or in game?

[2017-12-04 18:11] lightningterror commented on #1490
I need a savestate in game where the hud works/is broken with a block dump.

[2017-12-04 18:28] Kyogre commented on #1490
Created block dump for "HUD works" conditions and it weighs 3.6 GB. Of course, I will upload it to Mega, but haven't I done something wrong? Because, I still can't believe that it is so big.

[2017-12-04 18:50] Kyogre commented on #1490
I created block dumps for both conditions and they weigh 3.6 and 2.4 GB. Haven't I done something wrong? Because, I still can't believe that they are so big. Here they are: https://mega.nz/#F!Ik8EUaAZ!I1U_aONIx5UjIbbdZl--9w

[2017-12-04 19:20] Kyogre commented on #1490
contact me after you download all the dumps, because I don't want to keep these dumps on my Mega for too long time

[2017-12-04 19:28] 7oxicshadow commented on #2157
If i select lillypad the game loads fine but I have no controls. If i try to configure the plugin i get the following in the console:

but no configuration window opens so I cannot configure the pad. I think I have seen Gregory mention in the past that lillypad is a work in progress and currently has no UI (unless things have changed recently)

[2017-12-04 19:50] lightningterror commented on #1490
Oh you didn't compress them in rar or zip before uploading them. Add them in an archive before uploading and make sure you select Best compression. They should be reduced to around 50MB in size.

[2017-12-04 21:23] willkuer commented on #2157
Yes it has no UI and thus can not easily be configured. I just wanted to know if onepad is really the issue.

Can you try older versions of onepad/pcsx2 if available?

[2017-12-04 21:30] MrCK1 commented on #2141
@atomic83GitHub What do you mean that disabling MTVU causes less crashing? Doesn't -1 or lower fix the issue completely, or does the game crash in other places?

[2017-12-05 05:46] atomic83GitHub commented on #2141
Disabling MTVU with EEcyclerate to 0 partialy solve the issue but setting the EEcyclerate to -1 seems to completly solve it.

[2017-12-05 10:42] Kyogre commented on #1490
@lightningterror I updated the link

[2017-12-05 11:34] marios237 commented on #563
![image](https://user-images.githubusercontent.com/34271773/33605120-0a9d51fa-d9c1-11e7-9176-7e8a3cbe82ea.png)
what is that can anyone help me ???

[2017-12-05 16:27] MrCK1 commented on #563
@marios237 This isn't a place for general support. If you have a question, please make a thread at [forums.pcsx2.net](url) instead.

[2017-12-05 18:15] atomic83GitHub commented on #2132
Only Paris-Dakar and lethal skies 2 booth pal.

[2017-12-05 22:41] DIKH3D opened #2196 "HACK"
***PCSX2 version:***
``(For example, stable build v1.4.0 (or) development builds v1.5.xxx)``

- **Notes**:
  - It's preferred to only report bugs which are present on the [latest development builds](http://pcsx2.net/download/development.html).
  - The PSX backward compatibility mode is still in its early stage of development. Issue reports are too early at this point.

***PCSX2 options:***
``(For

[2017-12-05 22:41] DIKH3D opened #2197 "HOW FOR FIX GAME"
***PCSX2 version:***
``(For example, stable build v1.4.0 (or) development builds v1.5.xxx)``

- **Notes**:
  - It's preferred to only report bugs which are present on the [latest development builds](http://pcsx2.net/download/development.html).
  - The PSX backward compatibility mode is still in its early stage of development. Issue reports are too early at this point.

***PCSX2 options:***
``(For

[2017-12-05 22:43] DIKH3D opened #2198 "i find FIX"
https://78.media.tumblr.com/05f2fb8d4be0d79417ed8a022f0f5fcc/tumblr_otroxftWhp1tawcdjo1_400.gif

[2017-12-05 22:43] #2196 closed

[2017-12-05 22:43] #2197 closed

[2017-12-05 22:43] #2198 closed

[2017-12-05 22:43] DIKH3D opened #2199 "look"
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:44] DIKH3D opened #2200 "CRASH FIX"
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:44] DIKH3D commented on #2144
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #2107
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #2085
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #2079
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #2052
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #2045
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #2026
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #1998
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #1987
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #1982
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:45] DIKH3D commented on #1959
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:46] DIKH3D commented on #1931
![image](https://user-images.githubusercontent.com/34287698/33634908-c2b8a568-da0d-11e7-9fe7-ac7aee9a7e44.png)

[2017-12-05 22:54] zGodz commented on #2141
same issue

[2017-12-05 22:54] zGodz commented on #2009
try latest version work fine here

[2017-12-05 22:59] zGodz opened #2201 "BIG FIX LOOK BIG FIX LOOK"
***PCSX2 version:***
``(For example, stable build v1.4.0 (or) development builds v1.5.xxx)``

- **Notes**:
  - It's preferred to only report bugs which are present on the [latest development builds](http://pcsx2.net/download/development.html).
  - The PSX backward compatibility mode is still in its early stage of development. Issue reports are too early at this point.

***PCSX2 options:***
``(For

[2017-12-05 22:59] zGodz opened #2202 "BIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOK"
***PCSX2 version:***
``(For example, stable build v1.4.0 (or) development builds v1.5.xxx)``

- **Notes**:
  - It's preferred to only report bugs which are present on the [latest development builds](http://pcsx2.net/download/development.html).
  - The PSX backward compatibility mode is still in its early stage of development. Issue reports are too early at this point.

***PCSX2 options:***
``(For

[2017-12-05 22:59] zGodz opened #2203 "BIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOKBIG FIX LOOK BIG FIX LOOK"
***PCSX2 version:***
``(For example, stable build v1.4.0 (or) development builds v1.5.xxx)``

- **Notes**:
  - It's preferred to only report bugs which are present on the [latest development builds](http://pcsx2.net/download/development.html).
  - The PSX backward compatibility mode is still in its early stage of development. Issue reports are too early at this point.

***PCSX2 options:***
``(For

[2017-12-05 23:06] ElementUranium opened #2204 "Boob"
![image](https://user-images.githubusercontent.com/34288335/33635690-e50df836-da10-11e7-88bd-f2300da6720f.png)

[2017-12-05 23:06] ElementUranium commented on #50
This is fix
![image](https://user-images.githubusercontent.com/34288335/33635690-e50df836-da10-11e7-88bd-f2300da6720f.png)

[2017-12-05 23:07] ElementUranium commented on #551
thank ![image](https://user-images.githubusercontent.com/34288335/33635690-e50df836-da10-11e7-88bd-f2300da6720f.png)

[2017-12-05 23:08] ElementUranium commented on #2108
same ![image](https://user-images.githubusercontent.com/34288335/33635690-e50df836-da10-11e7-88bd-f2300da6720f.png)

[2017-12-05 23:08] #2203 closed

[2017-12-05 23:26] #2202 closed

[2017-12-05 23:27] #2204 closed

[2017-12-05 23:28] #2201 closed

[2017-12-05 23:34] gregory38 commented on #2157
The issue is likely a wrongly compiled plugin. The SDL version of onepad must match the SDL version of wxwidget

[2017-12-06 09:29] gregory38 commented on #2144
Disable accurate blending. It should improve perf if the driver doesn't crash in a kernel panic.

Some GS effects are much easier/faster to emulate on the CPU rather than on the GPU. Because we need to bypass the fast hardware unit of the GPU. Instead the effect is emulated on the slow shader.

[2017-12-06 17:19] atomic83GitHub commented on #2088
I have updated the link. Here it is: https://drive.google.com/open?id=199hYw5E6zETf4XksyztuzMtRa3-6Exlc

[2017-12-06 21:58] 7oxicshadow commented on #2157
I run build.sh with the following:

./build.sh --clean --release -DSDL2_API=FALSE --gtk3

This builds with no problems and creates the following plugins:

libcdvdGigaherz.so
libCDVDnull.so
libdev9null-0.5.0.so
libFWnull-0.7.0.so
libGSdx.so
libLilyPad-0.11.0.so
libonepad-legacy.so
libspu2x-2.0.0.so
libUSBnull-0.7.0.so

I have the libonepad-legacy plugin selected within PCSX2.

I use xboxdrv instead

[2017-12-06 23:24] FlatOutPS2 commented on #2107
You used the GSdx graphics plugin from PCSX2 1.2.1. Select a current one to fix the issue.

[2017-12-06 23:24] #2107 closed

[2017-12-07 03:53] MrCK1 commented on #2132
Oh you're right about the Hulk. I'll remove that then.

[2017-12-07 16:23] atomic83GitHub commented on #2132
Hum, you are right with lethal skies 2, I have test it on the 1.4 version but it work just fine in 1.5dev, unfortunatly, paris dakar is still broken.

[2017-12-07 20:47] atomic83GitHub opened #2206 "Cache mode 3 not impemented error."
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
EE set to interpreter with cache enable. All other to default configuration.

***Plugins used:***
All default

***Description of the issue:***
One of my .elf file throw an error causing a black screen issue.
Here is the error:

![capture](https://user-images.githubusercontent.com/26351275/33737725-70e8266a-db97-11e7-9932-17b2b5c46887.PNG)

***

[2017-12-07 20:50] MrCK1 commented on #2206
This is the only program that complains about it, and it's a homebrew NES emulator at the least. It's not really a priority or critical to emulation AFAIK.

[2017-12-07 20:54] atomic83GitHub commented on #2206
Oh ok, I made an issue on this because I thought some games used it :).

[2017-12-07 20:54] MrCK1 commented on #2206
Unless it gets printed in the console, no other game is running into this code.

[2017-12-08 16:26] lightningterror commented on #769
I disagree with closing issues just because they are fixed on only one render, adding tags should be enough, anyway this has been fixed on Direct3D as well.

[2017-12-08 16:30] gregory38 commented on #2157
Hum, do you have SDL debug symbol installed ? Goal is to find where are the frame 3 and 4.
[code]

[2017-12-08 17:20] divinity76 commented on #769
it only works on Software Renderer, right? hardware renderer is still unplayable?
(i can't test now because my GTX1070 laptop is sent to repair, and i just got this shitty intel integrated graphics now :( )

[2017-12-08 19:33] 7oxicshadow commented on #2157
Hopefully this helps. Starting to wonder if its a name length issue?

[code]

[code]

[2017-12-08 20:15] gregory38 commented on #2157
Ok. I see.

[2017-12-10 17:13] ghost opened #2211 "DJ decks and fx: corruption at the right of the screen in fmv under hardware mode when upscaling."
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
All default, speedhacks don't change the situation

***Plugins used:***
All default

***Description of the issue:***
The game "DJ decks and fx throw a corruption at the right of the screen under Hardware mode when upscaling, look:

![capture](https://user-images.githubusercontent.com/26351275/33807329-4029604e-ddd5-11e7-9943-ca5f35ad9525.PNG)

[2017-12-11 22:10] lightningterror commented on #1026
Can I close this since the PR is merged @karasuhebi ?
There are 2 workarounds now.
1. Adding "UserHacks_DisableNVhack=1 " in GSdx.ini
2. Zooming the Window size to 100.50% or 101%

[2017-12-11 22:19] MrCK1 commented on #2117
@mirh Can you retest as well? I'm having no issues on Nvidia as of present. For the record, I haven't updated my drivers recently or anything.

[2017-12-11 22:23] mirh commented on #2117
?
I, for one, am on W7 (+amd) and never had the issue.

[2017-12-11 22:23] MrCK1 commented on #2117
Sorry, it's easy to mix you guys up ;)

[2017-12-12 00:47] MrCK1 opened #2215 "[GSdx OGL HW Regression] Tomb Raider: The Angel of Darkness - Missing Fog"
***PCSX2 version:***
1.5.0-dev-2215

***PCSX2 options:***
Defaults

***Plugins used:***
GSdx OGL HW. (DX11/DX9 were never emulated correctly in HW - the fog fills the entire screen)

***Description of the issue:***
Fog in the distance is missing from the game.

***How to reproduce the issue:***
Go in-game, find an alleyway/area with long view distance; observe missing fog.

***Last known version t

[2017-12-12 05:43] ssakash commented on #1026
Imo, this should stay open till it's fixed by default without any workaround.

[2017-12-12 09:53] gregory38 commented on #2215
@MrCK1
Do you get those messages
[code]
before or after your "fix" ?

[2017-12-12 09:58] gregory38 commented on #2215
Hum, actually maybe we just need to do `std::abs(v[1].U - v[0].U) < 256` because the purpose is to check the width of the sprite.

[2017-12-12 14:22] DarkMoe commented on #1448
Something weird is going on, I tried the latest version with an old pc vs a new one, and they got the same performance with hardware and software modes.

Menues always run perfect (60 fps), but ingame never gets to more than 25% speed. What else can I test ?

[2017-12-12 16:36] MrCK1 commented on #1448
@DarkMoe Can you make a post over at forums.pcsx2.net? It will be easier for us to provide support there. :)

[2017-12-12 18:09] mirh commented on #2144
Newer AMDGPU-PRO driver came out.
AFAIU it should even allow you to switch to open GL driver.
Could you give a check to the performance of that?

[2017-12-12 20:02] blackman91 opened #2216 "DamonPS2 PRO Android ps2 emulator PCSX2 port? Using stolen PCSX2 code?"
Link to the Android emulator: https://play.google.com/store/apps/details?id=com.damonplay.damonps2.pro.ppsspp

Related issue: https://github.com/hrydgard/ppsspp/issues/10402

Related reddit thread with proof: https://www.reddit.com/r/emulation/comments/7ivii4/damonps2_pro_fastest_ps2_emulator_for_mobile_scam/

Also it is a real emulator here is a quick video of the emulator UI and settings, maybe

[2017-12-12 20:03] MrCK1 commented on #2216
Thanks, we already know about it. :)

[2017-12-12 20:33] MrCK1 commented on #2215
@gregory38 ```std::abs((v[1].U - v[0].U) < 256);``` works fine with additional parenthesis. Should I still check the debug output from before the modification?

[2017-12-12 20:47] atomic83GitHub commented on #2216
PCSX2 is protect by copyright?

[2017-12-12 20:49] MrCK1 commented on #2216
We're protected by GPL ( GNU General Public License) which states that source code must be made available if our project is included. We don't know the details yet.

[2017-12-12 22:34] raelgc opened #2217 "Patreon?"
How about create a Patreon campaign to keep a good flow of incoming for the project?

[2017-12-12 22:36] lightningterror commented on #2217
Please use the forum for topics like this or similar. Github is for development discussions like issues, features, updates... etc.

https://forums.pcsx2.net/

[2017-12-12 22:36] #2217 closed

[2017-12-12 22:38] lightningterror commented on #2216
I'll be closing this since we know about it, for any further discussions they can be done on the forum.
https://forums.pcsx2.net/

[2017-12-12 22:38] #2216 closed

[2017-12-13 02:40] karasuhebi commented on #1026
I second @ssakash.

[2017-12-13 06:36] frozenMustelid commented on #2144
I may have to wait a few days to give you an update on the new amdgpu-pro driver. I downloaded the tarball and tried to install it and... error. After looking at the message, I think somebody at AMD forgot what the dkms module was called, and had the script try to install a nonexistent dependency. A combination of AMD derping and apt derping caused what should be a simple uninstall new+reinstall o

[2017-12-13 09:05] willkuer commented on #2215
`std::abs((v[1].U - v[0].U) < 256);` is not the same as `std::abs(v[1].U - v[0].U) < 256;`

[2017-12-13 10:32] lightningterror commented on #1552
I'm just gonna throw this out just in case someone experiences issues.

AMD broke hardware vertex processing on the 17.12.1 driver.
A handful of games keep crashing on me that let me toggle hardware vertex processing.
Disabling it resolves the crash. I'm not sure if this will affect PCSX2.

[2017-12-13 10:46] mirh commented on #2154
Ehrm.. FTR they have maybe just a file from 17.1.1, that hardly make a difference.
For the remainder they are just what you could call "kind-of-16.3"

[2017-12-13 12:43] gregory38 commented on #2215
So based on screenshot of the texture in discord. The game does use a channel effect. However it is a slight variation.
`RG => BA`
`BA => RG of next pixels`
Fortunately it seem the game doesn't use the RG part so we only need to emulate the `RG => BA` shuffling.

I propose that we write this kind of code. I let's you improve the comment.
[code]
Then we need to check regression on  Shadow_of_memori

[2017-12-13 16:46] Stickend opened #2219 "[GSdx HW] Dragon Ball Z Budokai Tenkaichi 2 and 3 - Character reflection textures"
***PCSX2 version:***
v.1.5.0-dev-2237-g41051f3cf

***PCSX2 options:***
Everything by default.

***Plugins used:***
GSDX, Lilypad, SPU2-X, Rest Default null plugins.

***GSDX configuration:***
Resolution 5x Native
OpenGL Hardware Mode
Accurate Date
Blending Full
CRCHack None
Mipmapping Automatic

***HW Hacks:***
Trilinear
TC Offset X 440
TC Offset Y 420

***Description of the issue:***
With current

[2017-12-13 16:52] MrCK1 commented on #2219
Why are you using hardware hacis to begin with? Those are probably causing more issues.

[2017-12-13 17:00] Stickend commented on #2219
I need those TC Offset values in order to obtain the glow effect in the characters. If not, the effect is spread over the map.

[2017-12-13 17:18] lightningterror commented on #2219
I didn't know about this up until now. Looks like the textures flicker/move ..etc

[2017-12-13 17:32] Stickend commented on #2219
Do this have any kind of solution?

[2017-12-13 17:36] lightningterror commented on #2219
Yeah, update depth emulation code :smile:

[2017-12-13 17:48] TheLastRar opened #2220 "MG error for files installed onto the HDD"
***PCSX2 version:***
PCSX2 1.5.0-20171210213700 - compiled on Dec 10 2017

***PCSX2 options:***
No speedhacks or gamefixes used,

***Plugins used:***
CLR_DEV9, with "Enable Hdd" checked and an image configured in the options box

***Description of the issue:***
After using the HDD setup disk and booting into BIOS, the message below will be logged;

``
[MG] hcode=0 cnum=0 a2=0 length=0x3B0
[MG] ELF

[2017-12-13 17:55] refractionpcsx2 commented on #1026
If Nvidia would fix their drivers, we could remove the hack and then there would be no need for it.  Unfortunately nobody knows how to replicate it to make a sample program and they refuse to touch emulators.

[2017-12-13 17:56] Stickend commented on #2219
How it's that done? Unfortunately, i don't know much about codes :(

Can you try something?

[2017-12-13 18:21] MrCK1 commented on #2220
Is it just an error that spams the console or is something broken?

[2017-12-13 18:38] TheLastRar commented on #2220
I believe it's what prevents the 2.00 Browser form loading (preventing the browser from seeing HDD saves)

[2017-12-13 20:28] vsub commented on #2117
No change....it's still freezing the same way
Windows is waiting for me to restart the laptop to install the latest update which is KB4054517
I have the 388.31 nvidia drivers installed(the latest is 388.59)
And I also tried the latest pcsx2 beta

[2017-12-13 20:34] MrCK1 commented on #2117
I'm running Insider Builds, but I believe they pushed the fix to everybody.

[2017-12-14 01:18] LuismaSP89 opened #2221 "GSdx: Tales of the Abyss - ghosting/upscaling issue"
***PCSX2 version:***
1.5.0-dev-2238-g687c0b45e

- Tales of the Abyss has the same problem as Tekken 5 in certain stages. In the latest dev build, this problem was solved by using a hack and the CRC to Aggressive, enabling it too with the Tales of the Abyss can solve the problem with the ghosting and the transparent fence.

[2017-12-14 02:43] khekoo opened #2222 "Why WideScreen Patches Not working with me? PCSX2"
hi guys , sorry for my bad english

i have a problem!! in pcsx2 i want to use widescreen patches but it's not working , i try many ways but it's nothing , games are stretched!!

I followed the known steps like choose aspect ratio 16:9 and enable widescreen patches in system tab and i'm put the pnach file in cheats_ws folder and try put pnach file in cheats_ws in documents folder and etc...
i test

[2017-12-14 03:27] MrCK1 commented on #2222
Please redirect your question over on the forums: https://forums.pcsx2.net/index.php

It's easier to provide support to you over there. ;)

[2017-12-14 03:27] #2222 closed

[2017-12-14 09:28] lightningterror commented on #2221
Tales of the Abyss doesn't need crc hacks IIRC but it does rely on the id for certain fixes.
Can you tell me the CRC id and region of your game ?

[2017-12-14 10:40] khekoo commented on #2222
yes i post a topic in pcsx2 forums but doesn't find solution :|

[2017-12-14 10:49] lightningterror commented on #2222
As stated before please do this on the forum. Github isn't a support forum, it's for dev purposes.

[2017-12-14 11:51] Stickend commented on #2219
Or is it going to be fixed in the next build? 😃

[2017-12-14 14:43] LuismaSP89 commented on #2221
@lightningterror Here it is:

SLUS_213.86

Game CRC = 0xA616A6C2

Yes, i know that patch for the game, but it is an old version of the Gsdx plugin from 2-3 years ago and overrides the current gsdx plugin. You need to replace all the time you want to play another game.

[2017-12-15 00:43] MrCK1 commented on #2211
Did you try older versions of the emu? You're postive that it isn't a regression?

[2017-12-15 06:26] atomic83GitHub commented on #2211
Yes, I tried 1.4.0 and 1.2.1, still this issue unfortunatly.

[2017-12-15 06:27] MrCK1 commented on #2211
Did you try all the SW/HW renderers as well?

[2017-12-15 06:28] atomic83GitHub commented on #2211
Yes, software don't have the issue but every hardware have this when using a non-native resolution (upscaling).

[2017-12-15 06:29] MrCK1 commented on #2211
OK and is custom resolution affected as well?

[2017-12-15 06:35] atomic83GitHub commented on #2211
Not the same way, it just have a black border instead of the corruption:
![capture](https://user-images.githubusercontent.com/26351275/34029773-797633a2-e16a-11e7-9926-a277152460db.PNG)

[2017-12-15 09:55] lightningterror commented on #2221
@LuismaSP89 can you compile the code ?
https://github.com/PCSX2/pcsx2/blob/3c74f0f9070b6c678bb438badc98026a391ed861/plugins/GSdx/GSTextureCache.cpp#L1434
You can play around with the modx/y values, these should change how the HPO works. Each case represents an upscaled resolution, 0 is custom.

[2017-12-15 15:35] LuismaSP89 commented on #2221
@lightningterror  I´m sorry, but i don´t know how to compile it :S

[2017-12-16 20:29] atomic83GitHub commented on #1985
I will close it because someone do that with 'PCSX2 online', his work is available on the forums and seems to work great.

[2017-12-16 20:46] mirh commented on #1985
[Well](https://forums.pcsx2.net/Thread-PCSX2-Online-Plus), keeping this for integration wouldn't be bad either.

[2017-12-17 08:23] atomic83GitHub commented on #1985
Hum, after some thoughts, I will reopen this topic with a different name.

[2017-12-17 14:54] refractionpcsx2 commented on #2216
@willkuer we are discussing it in here https://forums.pcsx2.net/Thread-android-compatability

[2017-12-17 16:33] willkuer commented on #2216
Thanks for the link

[2017-12-18 06:21] NWPlayer123 opened #2224 "Issue: Using EE/IOP Recompilers breaks PCSX2"
***PCSX2 version:***
I've poked at both 1.4.0, the latest commit, and I've even had to download and build this myself.

***Description of the issue:***
If I turn on EmotionEngine Recompiler, Visual Studio tells me:
``Unhandled exception thrown: write access violation. recLutReserve_RAM was 0x1819EAB5000.``
at https://github.com/PCSX2/pcsx2/blob/master/pcsx2/x86/BaseblockEx.h#L28
If I turn on IOP R

[2017-12-18 12:10] willkuer commented on #2224
x64 is only supported by the interpreters IIRC and only a first step to get a fully functional x64 port. For now only use builds against x86 targets.

[2017-12-18 12:33] NWPlayer123 commented on #2224
@willkuer looks like rebuilding for x86 works fine, I was having problems with pre-built stuff but it seems like that was just Discord's overlay (I only tested those before turning it off after figuring out that broke PCSX2 too), good for now, that's a different issue anyways and no idea who's to blame

[2017-12-18 12:33] #2224 closed

[2017-12-18 21:40] willkuer commented on #2224
Btw you don't need to compile the sources yourself if you don't aim to develop the program yourself. For simple gaming we have at least weekly nightly/beta/dev builds...

[2017-12-19 20:09] Davo6233 commented on #1496
Hello Blackbird88, I have same problem but these solutions dont work for me. Maybe because I'm new for PCSX2. Can you please upload somewhere whole folder with PCSX2 and Your mafia game and share it with me ?? Because I cant solve the problem. Or explain the solution more detailed.
Thank you of reply ! :-)

[2017-12-19 20:11] MrCK1 commented on #1496
@Davo6233 Please redirect your questions to forums.pcsx2.net. This is not a place for for general support. Thanks!

[2017-12-19 20:22] atomic83GitHub opened #2225 "pcsx2 only boot .elf from the drive\partition on which pcsx2 is. (Windows)"
***PCSX2 version:***
Last 1.5dev

***Description of the issue:***
PCSX2 will always fail to read .elf on a other disc than "C" on Windows (throw TLB miss)

***How to reproduce the issue:***
Put a .elf on a usb stick/hard drive or in a 2nd SATA/IDE hard drive device.

***Regression [Incoming]***

***PC specifications:***
AMD fx8350 GTX 780Ti Windows 10 64 Bit

#1930 can be related to that, I need t

[2017-12-19 20:26] MrCK1 commented on #2225
I believe it's intentional for the time being. Is your C: drive the one that has your OS? That would probably be considered the "host" drive in your case, which is what the behavior is aiming for AFAIK.

[2017-12-19 20:28] atomic83GitHub commented on #2225
Yes, The C: drive is the host in my Windows

[2017-12-20 09:17] atomic83GitHub commented on #2132
You can add "twisted metal head on extra twisted edition" wich have some fmv corruption (can be solve using EEcyclerate to -3 but this will cause stuttering issue).

[2017-12-20 09:42] atomic83GitHub opened #2226 "Twisted Metal Head-on [Extra Twisted Edition] : broken fire effect + incorrect resolution rendering"
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
All default, speedhacks disabled. Core hacks and Clamp/round mode don't help here.

***Plugins used:***
GSDX software and Hardware OpenGL

***Description of the issue:***
The game Twisted Metal Head-on [Extra Twisted Edition] have some issue in PCSX2:

-Broken fire effect (GSDX Software/Hardware and ZZogl show the same issue (core issue?))
![i

[2017-12-20 13:11] atomic83GitHub opened #2227 "Ps1 NTSC games can't be read on a PAL BIOS (and vice-versa)"
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
All default, speedhacks disabled

***Plugins used:***
All default

***Description of the issue:***
Ps1 games are region locked on PCSX2, a NTSC game can't be read on a PAL bios (and vice-versa), this will result in a black screen for the import game

***How to reproduce the issue:***
Load a NTSC game on a pal bios or a pal game on a NTSC bios.

[2017-12-20 15:41] ramapcsx2 commented on #2227
The boot rom doesn't allow imports, so everything is working as it should.
It is inconvenient however and there should be a workaround at some point.

[2017-12-20 18:18] MrCK1 commented on #2226
The fire looks fine to me? Did you try Full blending accuracy, I don't see the issue.

As for the rendering resolution, 720x480 is Progressive Scan aka 480P. I would only be concerned If the game doesn't support it, or if there were rendering glitches as a result.

[2017-12-20 18:43] atomic83GitHub commented on #2226
Not all fire effect are broken, some are fine, some other are completly broken as you can see:
![image](https://user-images.githubusercontent.com/26351275/34222956-c20c8f60-e5bd-11e7-8ec4-27e911855f39.png)

And for the resolution issue I was talking about the right of the screen wich is black in FMV's even in software mode.

[2017-12-20 18:46] mirh commented on #2144
Hi again.
Did you found the time to try 17.50?
I just found out they have a dedicated tracker on freedesktop (for some reason) and I wanted to report them there too.

[2017-12-22 00:50] willkuer commented on #2225
Why should it be intentional? Actually restricting the drive but not the remaining part of the fileName appears rather complicated... but I didn't check the source.

[2017-12-22 13:34] atomic83GitHub commented on #2141
I finaly found the fix, this game need the eeclampmode to full to avoid random hanging.

@lightningterror , can you create a Pull request to remove vu round/clamp and ee round mode?Strangely I can't see the changes in my repo.

I am going to close it.

[2017-12-22 15:07] lightningterror commented on #2141
Nop, no PRs from me for a month. Christmas/New years vacation so I'll be reviewing only.

[2017-12-22 17:26] danylopez123 opened #2228 "PaRappa the Rapper 2 - Call Stack Overflow with Widescreem Hack"
Edit: I found what was wrong, it was the Widescreen hack that was causing it.

PCSX2 version: v1.5.0-dev-2240-f13526fc67

Plugin used: GSdx 2017220095104 (MSVC 19.00 SSE4.1/AVX) 1.1.0 [GSdx32-SSE4]

After the 1st part of the level 1 cutscene, the console spams saying: Call Stack Overflow (report if it fixes/breaks anything) then the graphics crashes, only the audio continues.

I used the European

[2017-12-22 17:51] MrCK1 commented on #2141
I'll check later, work is closed for me due to snow ;)

[2017-12-23 04:16] frozenMustelid commented on #2144
Between various RL things going on and trying to manage my own software project, I haven't yet had time to mess around with AMDGPU-PRO to see if I can't find some configuration that won't require me to uninstall it and reinstall the old version just to get my desktop environment to function, not to mention all the programs that don't run because the DE is screwy.

The worst part is, AMD's website

[2017-12-23 20:07] Ionutman opened #2229 "2nd controller"
Hi i need help.When i try to configure the 2nd controller settings it deletes the other one configurations can i do something about this?

[2017-12-23 20:08] MrCK1 commented on #2229
This isn't a place for general support. Please redirect your questions to forums.pcsx2.net. Thanks ;)

[2017-12-23 20:14] Ionutman commented on #2229
can you provide me a link please?i heard they are dead and i don't think i will get a response

[2017-12-23 20:41] MrCK1 commented on #2229
Here: https://forums.pcsx2.net/index.php

[2017-12-23 20:42] #2229 closed

[2017-12-24 07:08] vsub commented on #2225
Hmm I don't remember having such problem and it seems something was changed between 1.4.0 and the latest beta(works fine with 1.4.0)

And to add something....it's not
"pcsx2 only boot .elf on the "c" drive"
but
 "pcsx2 only boot .elf from the drive\partition on which pcsx2 is"
meaning,if you are running pcsx2 from the C drive,it will boot elf  files only from the C drive

[2017-12-25 22:26] #2228 closed

[2017-12-25 22:27] MrCK1 commented on #2228
@danylopez123 You may want to request that a new widescreen patch gets made incase anybody owns the game here: https://forums.pcsx2.net/Thread-PCSX2-Widescreen-Game-Patches?pid=575736#pid575736

[2017-12-26 02:23] danylopez123 commented on #2228
Oh, well i used the one from the cheats_ws that game with the emulator

[2017-12-26 05:27] Nobbs66 opened #2232 "Castlevania Symphony of the Night PGPUSTAT hang"
***PCSX2 version:***
v1.5.0-dev-2234-g7a71b6f3d

***PCSX2 options:***
Default clamping/rounding, no speedhacks.

***Plugins used:***
Default plugins

***Description of the issue:***
The game will get into an endless loop after pressing start because it's waiting for Bit 28 of PGpuStat to be set indicating the GPU is ready to receive a new DMA block. This can be worked around by always returning bi

[2017-12-26 05:31] #2206 closed

[2017-12-26 09:04] atomic83GitHub commented on #257
So enable autoflush solve the lightning bug? If yes the issue should be resolved because it is now implemented also in software mode. The intro issue is still here with last 1.5dev?
And for the crane part, you need to underclock the ee cyclerate to -2 or -3 (EEtiminghack don't work?).

[2017-12-26 09:08] atomic83GitHub commented on #94
Any status for that demo?

[2017-12-26 09:14] atomic83GitHub commented on #93
It is not realy an issue, DEV9ghzdrk is a winpcap based plugin. Maybe include winpcap in the pcsx2 installer can be a sort of fix or download CLR_DEV9 beta wich work with winsock (and winpcap if available).

[2017-12-26 14:57] atomic83GitHub commented on #111
So the issue can be close right?

[2017-12-26 15:17] atomic83GitHub opened #2233 "Meta: SPU2-X Delay Cycle"
***This is a meta topic***

***Description of the issue:***
The SPU2-x plugin have the Delay Cycle option set to 4, this solve some games, but break some other:

-Higurashi no Naku Koro ni Matsuri Kakera Asobi (#918)

-Deus Ex: The Conspiracy (#615)

-Armored Core 2

-Unreal Tournament (#268)

They need the Delay Cycle option set to 1.

***Way to fix this***

-Make a gui option like this:

[Delay

[2017-12-26 16:51] MrCK1 commented on #2233
We've already discussed a GUI option for DelayCycles. It's a hack and won't be added to the SPU2-X GUI as such. You'll have to resort to editing the .ini for the small amount of games that are affected by this.

[2017-12-26 16:59] MrCK1 commented on #111
No, TC Offset isn't really a nice fix. Somebody needs to retest on latest git anyways.

[2017-12-26 17:00] MrCK1 commented on #2233
I'm going to use this because all of the games listed have already their own issues open. There's not enough cases here to warrant a meta issue either.

[2017-12-26 17:01] #2233 closed

[2017-12-26 21:45] MrCK1 opened #2234 "Wipeout Fusion: GSdx CLUT Regression"
***PCSX2 version:***
v1.5.0-dev-2240-g13526fc67

***PCSX2 options:***
Defaults

***Plugins used:***
Defaults, OGL HW/SW

***Description of the issue:***
With the default setting of `1`, the `clut_load_before_draw` ini option causes sprite corruption in-game. Setting the ini value to `0` eliminates the issue.

***How to reproduce the issue:***
Boot game and go into a race, make sure `clut_load_befo

[2017-12-26 22:27] Vanastick commented on #873
I've been having the same problem with the game, even in patched versions. I saw that he solved the problem by playing usig " file memory card system"... i don't know how to do that... so please help?! i would apreciate a lot.

[2017-12-26 22:28] MrCK1 commented on #873
Please redirect your questions to [https://forums.pcsx2.net/](url). Thank You!

[2017-12-26 22:29] Vanastick commented on #873
I've been having the same problem with the game, even in patched versions. I saw that he solved the problem by playing usig " file memory card system"... i don't know how to do that... so please help?! i would apreciate a lot. Oh yeah... for me normally crashes when a enemy atacks...

[2017-12-26 22:29] Vanastick commented on #873
said "404 not founded"

[2017-12-26 22:30] MrCK1 commented on #873
Sorry, I fixed the URL.

[2017-12-27 01:30] MrCK1 commented on #390
I never bothered to re-test PortAudio since I got a dedicated soundcard a few weeks ago. Basically, the "Invalid Device" error is a Realtek specific issue it seems.

My SoundBlaster X-Fi Titanium works in all modes, with no errors shown in the console. The only module I had issues with was DirectSound - which produces robotic noise.

[2017-12-27 12:10] atomic83GitHub commented on #390
Yes, I tested SPU2-x on a realtek and a IDT audio device, booth fail to load it, but a dedicated audio device (like the terratec aureon 7.1 usb) work as @MrCK1 say.

[2017-12-27 13:25] mirh commented on #390
*looks at my results nobody seems to have noticed*
Had no problems with both Realtek and Xonar (also, mandatory fuck you creative)

[2017-12-27 19:04] Enverex commented on #1501
Just pinging this bug to add that the issue still occurs as of 22nd December GIT build.

[2017-12-27 20:17] Enverex opened #2236 "GSDX Half-Pixel Offset Causes Texture Corruption in Persona 3 FES"
***PCSX2 version:***
GIT as of 20 minutes ago. Commit 13526fc679bdfd4760f8809deb5fd49d34547313.

***PCSX2 options:***
Half-Pixel Offset. All other options seem unrelated.

***Plugins used:***
Default. GSDX in OpenGL hardware mode being the only relevant one.

***Description of the issue:***
Textures on the ground around your character become corrupted and show as several large triangles around/nea

[2017-12-27 20:23] MrCK1 commented on #2236
@Enverex Please modify your issue according to the original template. Thanks! :)

[2017-12-27 21:18] Enverex commented on #2236
Whoops, lost the main body and posted just the notes instead. 1 sec.

[2017-12-28 00:03] MrCK1 commented on #2236
@Enverex Can you post a picture of what it normally looks like and what you get with half-pixel offset? Just to make sure, you're not using any other speedhacks/HW hacks correct?

[2017-12-28 10:24] Enverex commented on #2236
Correct, no other hacks/options are enabled. Added the images to the first post.

[2017-12-28 10:57] lightningterror commented on #2236
What does Half-Pixel Offset fix in the game btw ? Since you are using it.

[2017-12-28 11:09] Enverex commented on #2236
I don't typically use the option, it showed up when testing - I suspected it may fix the offset character overlay images during dialogue (their blink graphic is misaligned) and suddenly noticed this completely weird side-effect from enabling the option.

I thought it was worth reporting given that this is what happens when it's set to the recommended option of "Normal".

[2017-12-28 11:47] lightningterror commented on #2236
HW hacks can cause glitches, which is why it's not recommended to use them unless a game specifically needs them. As for Half Pixel offset it can cause glitches in other games so it's not just persona 3. The hack can be improved ofc but that will require some work.
Off is the recommended option for it and not normal btw.

The wiki has some documentation about what hacks can benefit Persona 3.
http

[2017-12-28 11:47] #2236 closed

[2017-12-28 11:57] lightningterror commented on #2215
@MrCK1 What's the status on this ?

[2017-12-28 12:25] Enverex commented on #2236
May be worth rewording the tooltip for the option as it implies it should be set to Normal, at least that's how I read it.

![image](https://user-images.githubusercontent.com/958670/34410746-36694ff8-ebca-11e7-9902-8288b9515a9d.png)

[2017-12-28 12:59] MrCK1 commented on #2215
I'll get it done in a few days, I'm a bit lazy. :)

[2017-12-28 20:31] atomic83GitHub opened #2238 "[lilypad]: Half life don't work if a ps1 mouse or a pop'n music controller is on the port 2"
***PCSX2 version:***
Last 1.5git

***PCSX2 options:***
All default

***Lilypad config:***
![image](https://user-images.githubusercontent.com/26351275/34422382-67633600-ec15-11e7-84bd-f7c455b27e5d.png)

![image](https://user-images.githubusercontent.com/26351275/34422394-7f8dd186-ec15-11e7-8425-49e17493cc02.png)

***Plugins used:***
All default

***Description of the issue:***
The game Half life do

[2017-12-28 20:32] MrCK1 commented on #2238
Isn't this completely single player? I don't recall there being co-op options unless I'm wrong.

[2017-12-28 20:33] atomic83GitHub commented on #2238
No, the decay mode can be play with 2 controller.

[2017-12-28 20:35] MrCK1 commented on #2238
The PS Mouse only works with PS1 modes.

[2017-12-28 20:40] atomic83GitHub commented on #2238
Nuvee should be good but why the game throw heavu stuttering with a ps1 mouse?

[2017-12-29 06:33] ZT-1 commented on #257
Enabling autoflush, upscale point and line and half pixel offset fixes the lighting issue, but also introduces some additional graphical bugs. On the ground here for example.
With them on:
![gsdx_20171229011720](https://user-images.githubusercontent.com/11493450/34430767-98fc22f0-ec36-11e7-95ac-c213a54fe287.png)
With them off:
![gsdx_20171229012006](https://user-images.githubusercontent.com/114934

[2017-12-29 14:37] atomic83GitHub commented on #257
Have you try all Half pixel offset (special-texture (agressive))? If this don't work, you can try the Wild arms offset? And for the crane part, can you try some tips and tell me if this work or not?

-Try the OPHflagHack
-Try the DMAbusyhack
-Try to put VUs and EE/IOP round mode to negative

[2017-12-29 14:43] atomic83GitHub commented on #1861
Same issue on Ace combat 4 even with last 1.5dev

[2017-12-29 14:45] atomic83GitHub commented on #1927
Any status on this?

[2017-12-29 21:35] gregory38 commented on #2234
Are you sure the default is 1 not 0 ?

[2017-12-29 21:41] MrCK1 commented on #2234
Yes, it's enabled by default. https://github.com/PCSX2/pcsx2/commit/c66004bbb25bb62ad4cc30a1984eaa98ffb81406

We'll have to add a CRC hack to disable it like Harley Davidson.

[2017-12-29 21:44] #2234 closed

[2017-12-29 21:52] gregory38 commented on #2234
Might worth to add a note in the code so we have another testcase for this clut crazyness

[2017-12-30 00:17] ZT-1 commented on #257
Special (texture) did fix the graphical issues. I tried those hacks already and none of them worked. It only works if you put cyclerate to -2 or -3.

[2017-12-30 09:53] atomic83GitHub opened #2240 "Grand turismo 4/Tourist Trophy: Crash with the EE clamping mode to full"
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
All default, speedhacks disable

***Plugins used:***
All default

***Description of the issue:***
The game is unable to load a demonstration sequence with the EE clamping mode to normal or preserv-sign, with EE clamping mode to full, the game is unable to load a level and the emulator throw some TLB miss error along with this:

![image](https:

[2017-12-30 23:08] atomic83GitHub commented on #257
Ok, let's try some workaround, when you start the "Grounds for Assault" level, did you have the EE cyclerate to -3? If yes, disable every speedhacks before entering in the level and if it don't work, put the EE clamping mode to full. If you want to know, the backward compatible PS3 do the same error on the very first level. I suspect it's a speedhack issue.

[2017-12-30 23:24] lightningterror commented on #2240
Someone was looking in to this issue on the forum but I don't know what happened, it's been a while.

[2017-12-31 00:49] mirh commented on #1313
Come to think - might [latest](https://www.reddit.com/r/emulation/comments/75posm/fyi_latest_nvidia_drivers_38792_fixes_ram_usage/) nvidia driver have improved this?
...
Is this reproducible outside of nvidia?

[2017-12-31 01:03] lightningterror commented on #1313
It wasn't a driver issue but texture cache and channel effect which caused high vram spikes and eventually a crash.
Then there's also clamping causing a crash #2240

[2017-12-31 03:23] ZT-1 commented on #257
When I start it with EE cyclerate to the preset, it will freeze after the FMV in the intro cutscene. I did find that if I set EE cyclerate to -3, the FMV can play all the way through without it freezing on the intro cutscene. It only seems to work when it's on -3 because I tried -2 and -1 and it froze.

[2017-12-31 07:10] atomic83GitHub commented on #257
Ok so put the EE cyclerate to -3 solve the crane and the freezing fmv's issue?

[2017-12-31 07:41] ZT-1 commented on #257
Yes. The crane also works with it set to -2. It unfortunately causes some stuttering with the FMV's however.

[2017-12-31 16:35] Zeether opened #2241 "Uchuu Senkan Yamato: Iscandar he no Tsuioku d-pad movement issue"
***PCSX2 version:***
Development build v1.5.0-dev-2205-gaf2278c3c-windows-x86

***PCSX2 options:***
Default options, no clamping or game fixes/speedhacks

***Plugins used:***
Default plugins, GSDX 11 used, LilyPad (20170917165336) 0.12.1 used for gamepad input

***Description of the issue:***
During the game's tutorial level, you are tasked with pointing the Yamato towards a direction at 45 degree

[2017-12-31 17:12] Zero3K commented on #1964
Any news regarding it?

[2017-12-31 17:13] MrCK1 commented on #1964
Nope, everything you see in the pull requests section is what's currently being worked on.

[2017-12-31 17:20] Zero3K commented on #1964
I hope that it gets added soon.

[2017-12-31 22:18] atomic83GitHub commented on #2241
Have you try differents clamping/rounding under the EE/IOP and VUs tab?

[2018-01-01 01:32] Zeether commented on #2241
I tried several combinations of clamping/rounding, none of them worked.

[2018-01-01 01:34] MrCK1 commented on #2241
Can you post.your Lilypad settings?

Also, did you try 1.4.0/1.2.1 to see if it exists there?

[2018-01-01 05:06] Zeether commented on #2241
Lilypad settings are all default, using a DirectInput controller (it happens on XInput too).

The issue still exists in 1.4.0 as well.

[2018-01-01 06:38] einstein95 opened #2242 "Check if BIOS still exists before booting"
***PCSX2 version:***
1.4.0-0 Linux

***PCSX2 options:***
Default

***Plugins used:***
N/A

***Description of the issue:***
When running "Boot CDDVD (full)" or "Boot CDDVD (fast)" with no BIOS selected (but a path exists in teh config), PCSX2 crashes with an assertion error.

[code]

***How to reproduce the issue:***
Select a BIOS in the BIOS selector. Then rename/move the folder that the BIOS is c

[2018-01-01 13:43] atomic83GitHub commented on #2232
Is it dangerous to implement this workaround as a hack?

[2018-01-01 13:49] atomic83GitHub commented on #2241
If a remember, the Dpad on the Dualshock2 have a preasure sensitive function right? If yes it can be the issue.

[2018-01-01 14:01] TheGITofTeo997 opened #2243 "Still issues on SCES-52412 on the latest dev-build, read for more please."
Hello guys, for this report and for the complete explanation you have to refer completely to [#1962](https://github.com/PCSX2/pcsx2/issues/1962).
I know this will get closed as soon as possible as a duplicate, since it is.

****************************************************************************
The game I'm talking about is Jackie Chan Adventures (SCES-52412) from 2004.
I update almost everyd

[2018-01-01 14:10] ramapcsx2 commented on #2232
Well, it would hide this problem. I'd like to know a PSX dev's opinion on this.

[2018-01-01 16:02] 7oxicshadow commented on #2157
I have been playing around with this issue for my own curiosity.

if you change "devname = SDL_JoystickName(id);" in /onepad_legacy/joystick.cpp to use a local variable instead of devname it gets further but still crashes.... (Note: The function appears to return "null" when printed)

The next crash is caused by line 168 "if (SDL_JoystickOpened(_id) )" in /onepad_legacy/joystick.cpp.

I can't expl

[2018-01-01 16:13] Zeether commented on #2241
I don't have a Dualshock 3 on me, but that could be the case if it's detecting a full press. I'm using an old Logitech controller that obviously has no pressure sensitivity.

[2018-01-01 16:32] 7oxicshadow commented on #2157
I have just discovered that the workaround I mentioned above works great using "--debug" build flag but still crashes if i use "--release".

Optimization?

[2018-01-01 16:35] gregory38 commented on #2157
Sorry I'm too busy. If devname is null we should early exit. It seems your pad isn't detected well by kernel or SDL

[2018-01-01 18:40] MrCK1 commented on #2243
The answer to your question is no, not actively. The issues are already being tracked in #1838. As long as that issue stays open, the status of the same is unchanged.

Everything you see in the pull requests section is pretty much what's actively being worked on.

These bugs are very hard to track down and require us to dedicate alot of time on the side with other commitments.

Also, please refrai

[2018-01-01 18:52] MrCK1 commented on #2242
So then why are you moving the BIOS folder while the emulator is running? It's now looking for a file path that doesn't exist.

[2018-01-01 20:41] turtleli commented on #2242
The assertion error might be unrelated to the BIOS being missing - If I move the BIOS folder and try to boot a message box pops up stating that the file does not exist and that I need to re-configure.

[2018-01-01 21:09] FlatOutPS2 commented on #2238
The same thing should happen when plugging an actual PS1 mouse in port 2 of a PS2 while playing Half-Life. Plugging in controllers that are unsupported by a game can cause the game to react in unsuspected ways (or like the pop'n music controller here in expected, but undesired, ways).

[2018-01-01 21:09] #2238 closed

[2018-01-01 21:25] FlatOutPS2 commented on #2241
Yeah. As atomic83GitHub mentioned even the d-pad is pressure-sensitive, so this issue can sometimes be encountered when using almost any other controller than a fully enabled DS2/DS3. It's not a PCSX2 issue/bug though, so this can be closed.

[2018-01-01 21:25] #2241 closed

[2018-01-01 21:34] FlatOutPS2 commented on #2243
Just check #1838 if you want to know if there are developments on this issue. If you have new information or a pressing question you can respond there too. There's no need to create a new issue everytime you want to ask a question about this bug/game.

[2018-01-01 21:34] #2243 closed

[2018-01-01 21:39] einstein95 commented on #2242
@MrCK1 Not while the emulator was running. I had it configured for an external HD and forgot about it.

[2018-01-01 21:44] MrCK1 commented on #2242
So is the issue solved or not?

[2018-01-01 23:24] einstein95 commented on #2242
Accidentally clicked "Close and comment".

I have cleared PCSX2_ui.ini and have not configured the BIOS. I get the assertion error when trying to boot the BIOS or start a game. There are no warnings saying the BIOS is missing..

Here are the related options in PCSX2_ui.ini:
[code]

[2018-01-02 00:11] mirh commented on #2242
You might want to try latest pcsx2 git

[2018-01-02 00:28] einstein95 commented on #2242
@mirh Same thing happens on PCSX2 1.5.0-20171228111123 - compiled on Jan  1 2018

[2018-01-02 07:51] atomic83GitHub commented on #347
So this game need the EE cache to boot right?

[2018-01-02 07:57] atomic83GitHub commented on #2090
And by the way, it seems to happen in all Ratchet and Clank games

[2018-01-02 12:30] atomic83GitHub opened #2245 "Meta: Games that don't like the Full fpu mode."
***What is this meta?***

The request was at the origin, to put the EE Clamping mode to full on the safest preset.
![image](https://user-images.githubusercontent.com/26351275/34483586-c8ee5230-efbf-11e7-9260-ebe4b831e022.png)
But @ramapcsx2 told me that there are some games wich don't support the Full fpu mode so I made a meta to track these.

***Here is an exhaustive list of game affected by the

[2018-01-02 13:21] ramapcsx2 commented on #2245
Hm, are you sure it's just those 2 games? I distinctly remember an about even ratio of breakage and fixes with full fpu mode.
When it was developed, there was only one "full fpu" mode but it soon turned out that even if it was correct, games hated it. That's when we adopted only parts of it and made that the new default.

Full mode is still a good thing, but we need to make sure it doesn't break m

[2018-01-02 14:09] atomic83GitHub commented on #354
Here is a blockdump of the issue:
https://drive.google.com/file/d/1LIlXu6o3_66aVH5M_-MZbaJwvW7zIDLt/view?usp=sharing

[2018-01-02 14:14] atomic83GitHub commented on #2245
I tested it in my set of games and none of them (apart GT4 and TR) have an issue with the full mode, maybe a sort of meta could be nice to see if there is some another games wich don't like this.

[2018-01-02 15:18] ramapcsx2 commented on #2245
I don't have the old notes anymore but some tests were really tricky.
One test is a puzzle in Tales of the Abyss, where you couldn't move a certain statue. Nothing short of a full playthrough is going to catch these :p

[2018-01-02 15:48] atomic83GitHub commented on #2245
Ah ok :).
Anyway, I will still keep this open if there will be enough tests.

[2018-01-02 16:56] gregory38 commented on #2150
Yes full mipmapping requires some extra porting for DX. Tbh, full mipmapping isn't that useful and it isn't yet 100% accurate on GL side neither.

[2018-01-02 17:03] gregory38 commented on #2211
My guess is that something is wrong in the texture cache rescaling of old frame buffer (a wrong size maybe)

https://github.com/PCSX2/pcsx2/blob/master/plugins/GSdx/GSTextureCache.cpp#L1393
[code]

[2018-01-02 17:03] MrCK1 commented on #2245
This is one of those things that's hard to predict. I'd say that EE Clamping is at least less sensitive then say Negative VU Rounding which breaks a ton of games and makes Lara Croft fall through the floor (lol).

I'd say it's too late in PCSX2's lifespan to make a huge change like this, the possibility of introducing a regression is too big.

[2018-01-02 17:08] gregory38 commented on #2138
Hum, was the GS wrapping memory hack option tested ?

[2018-01-02 17:10] gregory38 commented on #2124
Potentially it needs full mipmapping. But the LOD level is likely wrong in full mipmapping (it was mostly a hack)

[2018-01-02 17:20] atomic83GitHub commented on #2138
Yes but it does not change anything, still the regression.

[2018-01-02 17:26] atomic83GitHub commented on #2245
Ok so based on your opinion, I will close it, I never thought it can introduce some regression.
As a side note, Ratchet and Clank throw a black screen with VU rounding to negative, and if you have the first Ratchet and Clank, can you do a test for me?

Load the gemlick space station first and after, the Rilgar level, I suspect a Timing issue.

[2018-01-02 17:28] mirh commented on #2245
I wouldn't say it can ever be too late - though it really is a big change worth way more discussion (and especially data points).

[2018-01-02 21:05] JoshWobbles opened #2246 "[Question] API or Com object, library, that can be called to retrieve currently running game name?"
***PCSX2 version:***
1.4.0

Is there any available way to call for the name of the currently loaded game?

Would like to incorporate the ability for may application (InputMapper) to load profile automatically based on the current game loaded.

Mem search for string yielded only strings that in the game itself so the address is un-trustworthy.

[2018-01-02 21:29] atomic83GitHub commented on #2246
If I understand, the console don't show up the Game's name?

[2018-01-02 21:31] atomic83GitHub commented on #2246
The games are listed by there serials, a PCSX2 dev team can better help you than me on this :).

[2018-01-03 05:12] MrCK1 commented on #1128
Anyone able to try autoflush? I don't believe it was available when this was made.

[2018-01-03 06:50] MrCK1 commented on #2124
As of right now, the offset is even worse in full mode. (not sure if that's what you meant)

Like you said, the LOD level can be tweaked later.

![gsdx_20180103014832](https://user-images.githubusercontent.com/16314399/34511276-52610068-f028-11e7-8b46-6b87aa47b227.png)

[2018-01-03 07:03] ramapcsx2 commented on #2245
Just saying, these issues are worthwhile. They're deeply rooted in the x86 vs PS2's mips vs emulation speed debacle. We want to track all those details :)

[2018-01-03 07:54] nullripper commented on #2246
Not a dev on the project, just a fan of PCSX2 and InputMapper, but I can give you some leads. PCSX2 exposes the name of the currently-running game in the title of the console window. For a hacky solution you could pop the console and read its title whenever a new emulation window appears. As for how it determines the title, I know it involves reading the game's serial number from the CD/DVD/ISO an

[2018-01-03 09:10] gregory38 commented on #2124
Basic mipmap doesn't emulate mipmap. The code computes the LOD range to find the first valid layer of the texture. Could you post a SW image so it is easier to see what it must be.

[2018-01-03 12:06] atomic83GitHub commented on #2245
I will open a forum post about that, feel free to contribute :).

[2018-01-03 13:01] atomic83GitHub opened #2248 "Meta: games that use the Emotion engine cache"
***What is the Emotion engine cache?***

It's an integrated cache in the Emotion engine processor which is used in some games for many functions.

***Why create a Meta on this?***

This part of the Emotion engine is only emulate Under the interpreter mode in PCSX2 which cause some games to crash at the loading screen or in some other places Under the dynamic recompilation mode.

***Here is an exau

[2018-01-03 13:18] mirh commented on #2246
You could hook the window title.
I know for example spotifylyrics does something along that.

[2018-01-03 13:22] JoshWobbles commented on #2246
@mirh Unfortunately the only window that has the game title is the console, and that window is optional.

@nullripper YES! GameIndex may be the missing link, not I have to see if I can find the game serial in the applications memory!

[2018-01-03 14:08] JoshWobbles commented on #2246
So, just so it is documented for future use;

Memory address 0AF5D2EA-0AF5D2F5 contains the string of the game serial. This needs a tad of text conversion then GameIndex.dbf can be used to get the name.

Thanks guys!

[2018-01-03 14:17] mirh commented on #2246
Was gonna say solved then, but I wouldn't know about linux best practices then.

[2018-01-03 15:22] vsub commented on #2248
I don't have any of those games but just a question.
Are those games actually need the cache to work or they just work because you are using the interpreter which is as far as I know,more accurate

[2018-01-03 16:21] atomic83GitHub commented on #2248
No, these games will absolutlty need the cache or they will crash even with the interpreter (without cache).

[2018-01-03 17:12] MrCK1 commented on #2248
These games don't necessarily need the EE cache all the time.

Nascar 09 only needs it to boot but switching directly from Interpreter (with EE cache enabled) to Recompiler will cause a crash.

It would at least be nice to look into handling that better in the future but it's easier just to disable the cache first, and then switch to Recompiler.

Same goes for Evolution Snowboarding, it's only nee

[2018-01-03 20:12] MrCK1 commented on #2124
Here's software, it's pretty blurry without trilinear filtering; so it's hard to make anything out ;)

![gsdx_20180103151143](https://user-images.githubusercontent.com/16314399/34537988-894d703c-f098-11e7-9447-7065a9704346.png)

[2018-01-03 22:26] MrCK1 opened #2249 "[GSDX HW] Syphon Filter series: Sprite Flickering/Corruption"
***PCSX2 version:***
PCSX2 1.5.0-20171228104611 - compiled on Dec 27 2017

- **Notes**:
Sprites are also visible through walls, autoflush reduces this to a degree (HW hacks were not used in screenshots/testing)

- This issue could be related to #1602
- Issue is present in Dark Mirror and The Omega Strain (tested so far).
- The map border will flicker in the GS Dump (also occurs at random character

[2018-01-03 22:32] atomic83GitHub commented on #2249
Would you want I add the gif fifo gamefix for this one?

[2018-01-03 22:36] MrCK1 commented on #2249
Not yet, it could still be a GSdx issue as well.

[2018-01-03 22:58] lightningterror commented on #2221
The channel effect for Tekken 5 is what adds the color effect on the stage. The CRC hack removes the blur/glow which causes the upsscaling issues. Tho ideally it would be best for Merge Sprite or some other hack to correct the issue without removing the effect.

Adding CRC hacks is not good practice.

Here is a compile guide for Windows.
https://wiki.pcsx2.net/PCSX2_Documentation/Compiling_on_Wind

[2018-01-03 23:22] lightningterror commented on #1637
I added 2 more issues to the OP.
[code]

[2018-01-04 00:35] LuismaSP89 commented on #2221
@lightningterror Yes, maybe the CRC hack is not the perfect solution, i only say that because i see that fixes tekken 5 and the problem is the same. My programming skills are literally = 0

Sorry one more time, i checked that documentation but is too complicated for me, i know nothing about program compiling, codes, etc. I do not think i can do it without going crazy :S

[2018-01-04 02:07] MrCK1 commented on #2109
@LuismaSP89 Can you upload a GS Dump for this issue please?

[2018-01-04 03:17] LuismaSP89 commented on #2109
@MrCK1 Of course, here it is, two GS Dumps : )

[GS DUMP From Russia with love.zip](https://github.com/PCSX2/pcsx2/files/1602337/GS.DUMP.From.Russia.with.love.zip)

[2018-01-04 05:22] rkubes commented on #2076
This can be resolved one of two ways, but I'm not sure which is option would be preferred.

First, the root cause of this issue is that **visually**, the function "ends" at that branch/jump that you added; however, **internally** the function is expanded to also includes the delay slot (which is actually the first instruction of the next function in the case above). So when the debugger does the m

[2018-01-04 12:21] ramapcsx2 commented on #2245
**Tales of the Abyss**
A puzzle in a castle demands moving statues. The game code for the statue movement is susceptible to EE FPU issues.
**Gran Turismo 4, Tourist Trophy engine**
Need 'full' FPU mode to load Demonstration sequences.

[2018-01-04 14:20] Kingcom commented on #2076
I think option 1 would be the best way to fix it. It's pretty much an oversight, and normally you would expect the function size to correctly include the  final delay slot. If it's modified at runtime there's not much you can do besides sticking to what you know.

[2018-01-04 18:31] Stickend commented on #2219
Is this still broken?

[2018-01-04 23:44] atomic83GitHub commented on #2249
Also, Ace Combat 4 have a very similar issue with the lightning, did you try the preload frame data and the cpu framebuffer hacks?

And what about DirectX?

[2018-01-04 23:44] MrCK1 commented on #2249
DirectX is the same, I made that more clear in the original post :)

[2018-01-05 15:34] tony971 commented on #1964
I've just been checking for new XZ releases. This is the biggest gap between releases they've had in a long while, so hopefully it's soon.

[2018-01-06 10:05] #2076 closed

[2018-01-06 11:31] i30817 commented on #2246
I'm doing this for ps1 in order not to care about dump format (read with libmirage, part of cdemu and connect the first data track to a iso parser):
https://gist.github.com/i30817/f58c7f904fe44c4599a6c9d48a60bce0

the same approach should be viable for ps2 if it follows ps1 practice. One thing i'm not sure of is if pycdlib can parse dvd data from libmirage the same as iso9660 data.

[2018-01-06 13:43] FlatOutPS2 commented on #2136
Issue persits with all GSdx renderers including the software renderer(going back at least as far as PCSX2 v0.9.1), ZeroGS and Play.

[2018-01-06 13:45] FlatOutPS2 commented on #2108
Did you test the block dump? It does not show the FMV on my end.

[2018-01-06 13:54] atomic83GitHub commented on #2108
Try with this one:
https://drive.google.com/file/d/1227qow7bGJeX6U46-1Pq3AGKOn1fraZc/view?usp=sharing

[2018-01-06 14:08] FlatOutPS2 commented on #2108
Same result. It shows 2 logo images and then stops at a loading/memory card check screen

[2018-01-06 14:26] atomic83GitHub commented on #2108
I have a very Strange result, everytime a make a blockdump on it, it throw some tlb misses error:
![image](https://user-images.githubusercontent.com/26351275/34640599-f939ac08-f2f5-11e7-8023-19390149f622.png)

[2018-01-06 14:50] FlatOutPS2 commented on #2138
There are 2 kinds of flickering here. One was introduced by https://github.com/PCSX2/pcsx2/commit/758cf2588817044110323d96042d543c4f606f2f
This flickering can be resolved by enabling the GS memory wrapping hack.

A different flickering(the regression PR is linked by @atomic83GitHub ) is caused by the menu background appearing instead of the FMV image.
This issue is triggered by m_TEX0.TBP0 being a

[2018-01-06 17:11] ssakash commented on #2138
It's due to a bug in the load size saturation, the algorithm used for limiting the load value doesn't seem accurate. Also nice to see you after such a long time Flatout xD

[2018-01-06 17:13] JoshWobbles commented on #2246
I decided not to go the memory route, too susceptible to change. Instead I parse the log file using the following:

`
        private static string getPCSX2GameName()
        {
            if (PCSX2LogFilePath == null)
            {
                string settingsFolder = Registry.CurrentUser.OpenSubKey(@"Software\PCSX2")?.GetValue(@"SettingsFolder").ToString();
                string settingsFile

[2018-01-06 17:19] gregory38 commented on #2157
Hum, there are 2 possibilities for first devname crash. Either we replace the null pointer with an empty string or we don't initialize this joystick.
In first case, it seems we will have a crash later (my guess is that joy wasn't really opened correctly). In the 2nd case, you wan't be able to use your joystick.

[2018-01-06 17:36] gregory38 commented on #2157
@7oxicshadow could you test the PR #2252

[2018-01-06 17:44] FlatOutPS2 commented on #1796
That is no real workaround. The issue is related to the framebuffer size(and 8bits texture unscaling I believe). An early logo just so happens to briefly use a large framebuffer size which can avoid the issue. The framebuffer size never gets reduced as it only updates when the current value is higher, but it will be reset when you change GSdx settings/press F9.

[2018-01-06 18:28] i30817 commented on #2246
I'm not following the parsing code too well, but it's not unusual for a game to place its executable in a subdirectory and i don't see the code to strip those out at a glance.

[2018-01-06 18:44] JoshWobbles commented on #2246
@i30817 Do you have an example of a game that does not follow the normal convention?

[2018-01-06 23:00] 7oxicshadow commented on #2157
Thanks for taking a look at this. Sadly it does not stop the crash but something odd is happening....

I have deleted my source so that I am starting a clean build.
I pull the latest sources
I get the updated file in PR #2252
I build with the following command "./build.sh --clean --release -DSDL2_API=FALSE --gtk3"
Open PCSX2
Select Onepad Legacy
Apply
Press "Configure..."
The App Crashes

Now this

[2018-01-07 00:56] i30817 commented on #2246
I've only tested ps1 games.

Tekken 3 has a subdir
Mizzurna Falls doesn't have a '-'
King's Field (Japan) (there was a game released as 'King's Field (USA) that is actually game 2 in the series) has no system.cnf and its executable is named 'psx.exe' (it's in the volume descriptor). It's a very early game, maybe that's why.
I don't remember what games has two or no leading slash on the boot line o

[2018-01-07 04:42] MrCK1 commented on #2118
@atomic83GitHub Can you try this on your PS2 and see if the issue is visible there?

[2018-01-07 04:47] MrCK1 commented on #1862
@FlatOutPS2 Care to retest this?

[2018-01-07 06:14] turtleli commented on #2157
wxWidgets in Fedora 27 is compiled against SDL2.

Try compiling using just `./build.sh --clean --release --gtk3`. I think you'll need to comment/delete the `WX_vs_SDL()` line in cmake/SearchForStuff.cmake beforehand (line 195, near the end of file).

[2018-01-07 06:22] #1930 closed

[2018-01-07 06:22] #2225 closed

[2018-01-07 09:50] arifogel commented on #1971
I'd just like to leave the following final note for any who come upon this thread:

With the latest daily build:
[code]
When I select adaptive vsync, I confirm that I get no tearing and am still able to use turbo (TAB).
So my problem is definitely solved.
Hopefully someday soon `1.5.0` gets a proper release. Thanks to all the developers for your hard work!

[2018-01-07 11:31] FlatOutPS2 commented on #1862
@MrCK1 see https://github.com/PCSX2/pcsx2/pull/1868

[2018-01-07 12:07] FlatOutPS2 commented on #1082
You can do it through the pad plugin, but then the plugin would need to always be active even when the emulation is off or paused. In the current situation you can for example pause the emulation, but then no longer resume it as the plugin will be closed.

[2018-01-07 12:23] atomic83GitHub commented on #2118
Here is a picture taken from my phone and as you can see, it doesn't have the issue (looks like the software mode).

![20180107_132004](https://user-images.githubusercontent.com/26351275/34649347-b335eb96-f3ad-11e7-98b8-aa42a23ee5cb.jpg)

[2018-01-07 12:46] JoshWobbles commented on #2246
I think most people would use PCSX not PCSX2 for PS1 games, I couldn't get either of those games to load in the bios I have in PCSX2, Every PS2 game I have tried the above code works for however.

[2018-01-07 12:55] FlatOutPS2 commented on #2118
This issue used to affect the software renderer too, but it has been resolved between v1.0.0 and v1.2.1.

[2018-01-07 13:07] JoshWobbles commented on #2246
Also neither of those games are in the GameIndex.dbf DB anyway, so it is a moot point.

[2018-01-07 13:16] FlatOutPS2 commented on #1666
@avih What @MirandaStreeter said is true. If you use 2 backslashes instead of 1 forward slash like "D:\\games\\$(f).pindex.tmp" it ends up removing the second 2 backslashes in the ini and it ends up like this: "D:\\games$(f).pindex.tmp". It will work, but it stores the index file in the main folder of "D:\".

If works as intended when using "D:/games/$(f).pindex.tmp"

When using "D:\games\$(f).pin

[2018-01-07 13:20] 7oxicshadow commented on #2157
@turtleli That was a good call. I have tried your suggestion and both onepad-legacy and onepad both work as expected with no crashes.

Does this suggest that is an SDL mismatch between Fedora's libraries and the build options with PCSX2?

[2018-01-07 13:39] avih commented on #1666
Feel free to fix it.

[2018-01-07 13:54] turtleli commented on #2157
Well, the PCSX2 cmake scripts assumed that if wxWidgets is linked to SDL it is linked to 1.2, not 2. This assumption isn't true with Fedora 27. The cmake scripts will need to be updated to account for this.

[2018-01-07 13:58] gregory38 commented on #2157
@turtleli. Thanks for the help. You're right, cmake must be updated. Maybe we can rely on `lsb_release -r -s` to query the fedora version.

[2018-01-07 14:25] turtleli commented on #2157
lsb_release might not be present (it's not there on my Fedora VM).
This is what's in /etc/os-release though.
[code]

[2018-01-07 14:30] 7oxicshadow commented on #2157
would "uname -r" be of any use for querying?

[2018-01-07 19:11] pixelherodev opened #2253 "Random crashes"
***PCSX2 version:***
``2229-gc9abec7cb``

***PCSX2 options:***
AFAICT, any. On Linux, and happens w/ both SW and HW renderers, w/ and w/o MTVU enabled, on presets 1, 2, and 3, and so on and so forth

***Plugins used:***
``All built normally using build.sh in release mode``

***Description of the issue:***
Sometimes when I switch to/from full screen or hit ALT+TAB, PCSX2 crashes, showing an asserti

[2018-01-07 21:54] mirh commented on #2246
Mhh.. I must confess the wonder if there shouldn't be a ps1 gameindex is worrying..

[2018-01-07 22:10] GoadingGoat opened #2254 "linux - libfontconfig1 version issue"
***PCSX2 version:***
v1.4.0

***PC specifications:***
CPU: I7 4770k
GPU: GTX760
OS:Debian Stretch/Sid

***Description of Issue:***
Not sure if this is only applicable to debian, but it's not possible to have pcsx2 and the new firefox quantum installed at the same time (using apt) due to version requirements for libfontconfig1. pcsx2 requires version 2.11.0-6.7+b1, while firefox quantum requires 2.

[2018-01-07 23:00] pixelherodev commented on #2253
Also, if the window is swapped/alt+tab/win key is pressed during a FMV, it works fine but has the same crash immediately after the FMV ends

[2018-01-07 23:01] MrCK1 commented on #2253
Does this happen with any game or a specific one?

[2018-01-07 23:07] Krusher97 commented on #1496
I have a US copy of the game myself. To test this do I need to apply both the patches and complete the game from the beginning to end?

[2018-01-07 23:09] Blackbird88 commented on #1496
Yes. There are two known crashes.

[2018-01-07 23:10] MrCK1 commented on #1496
@Krusher97 The most recent patch should do: http://forums.pcsx2.net/attachment.php?aid=61010

Ideally from beginning to end would be best, since the game crashes randomly. Also, It would be a great help if you could update the compatibility report in the forums when you're finished ;)

[2018-01-07 23:47] lightningterror commented on #1552
Seems that they fixed the D3D recent issue with the 18.1.1 driver. It was the same issue that other people reported a bunch of games crashing on D3D.

[2018-01-07 23:49] MrCK1 commented on #1552
You're saying they actually _did_ something? No way 😱 who would've thought in a million years... 🎉

Would be nice if they cared as much about OGL...

[2018-01-08 00:15] mirh commented on #1552
It hasn't the same psychological impact if the broken thing [*never*](https://github.com/PCSX2/pcsx2/pull/2033#issuecomment-322407714) worked to begin with ^^

[2018-01-08 00:25] Krusher97 commented on #1496
Does it matter if I update the thread or the wiki?

[2018-01-08 00:51] MrCK1 commented on #1496
The thread would be nice better :)

[2018-01-08 01:49] atomic83GitHub commented on #84
Now, the software and the OpenGL render are perfect but there is a serious issue maybe unrelated, sometimes the character can get stuck in the game environnement and/or be teleported randomly in the game map. And there is a place in the game that is nearly unplayable due to this (inside the weapon factory), the camera become buggy as hell and can crash the game with some flashy color on the screen

[2018-01-08 02:29] GoadingGoat commented on #2254
Nevermind, probably my own fault for using packages in sid. Manually specifying 2.12.6-0.1 as the version of the libfontconfig1:i386 package to install fixes issue.

[2018-01-08 02:29] #2254 closed

[2018-01-08 03:55] Aced14 commented on #2076
FWIW, earlier today I compared an older build against #2250's Orphis build (v1.5.0-dev-2244-g854246846). Wasn't able to reproduce this issue at all in the newer build.

@rkubes Thanks :)!

[2018-01-08 05:01] MrCK1 commented on #258
@AmbientMalice Could you retest/upload a new GS Dump - the URL is dead?. I can't access my main PC for another week. Thanks.

[2018-01-08 10:53] turtleli commented on #2157
`uname -r` wouldn't be useful since that outputs the kernel release. /etc/fedora-release might be useful.
[code]

The best thing to do would probably be to check what SDL version the wxWidgets libraries are actually linked against (if they are linked to SDL) - if other distros decide to link wxWidgets to SDL2 as well then it'll need fixed again.

[2018-01-08 11:30] turtleli commented on #1666
The double backslash issue is actually an issue caused by environment variable expansion in wxConfigBase. If `D:\\games\\aaa$(f).pindex.tmp` is used, the backslashes aren't truncated. The issue is with the character sequence `\\$`.

[2018-01-08 14:25] gregory38 commented on #2253
Could you install the debug package to get a nicer trace. In particular PCSX2 debug but also the mesa driver debug package.

[2018-01-08 14:28] gregory38 commented on #2157
IMHO, the generic `/etc/os-release` is better. However if we have a way to find the SDL version it would be nice. Maybe an objdump or a ldd on wx can help.

[2018-01-08 17:31] MrCK1 commented on #1863
@FlatOutPS2 when you get a chance, can you post a new URL or make a quick PR so I can test this code again? I'd like to look at other games with IPU problems.

[2018-01-08 17:47] FlatOutPS2 commented on #1863
@MrCK1 It would be better if you could make a blockdump for a couple of those games so I can look into fixing those along with this issue.

[2018-01-08 21:35] lightningterror commented on #895
This has been fixed on OpenGL with Depth Emulation. Issue remains on Direct3D since it lacks Depth support.

[2018-01-08 21:45] FlatOutPS2 commented on #895
* Currently still needs CRC hacks to be disabled to fix it on OpenGL. ;)

[2018-01-08 21:47] lightningterror commented on #895
Soon™

[2018-01-09 00:10] pixelherodev commented on #2253
@gregory38 I can build the debug version, yes. You wouldn't happen to know the mesa debug package name for Debian, would you?
@MrCK1 I'll double check, but I'm fairly certain it's any game.

[2018-01-09 00:29] pixelherodev commented on #2253
Built as debug, the message didn't change.
Only further info I can provide is this (from the command line after hitting Yes/No/Ignore):

``PCSX2-linux.sh: line 75: 16843 Trace/breakpoint trap   GDK_BACKEND=x11 LD_LIBRARY_PATH="$MY_LD_LIBRARY_PATH" __GL_THREADED_OPTIMIZATIONS=1 mesa_glthread=true MESA_NO_ERROR=1 $DIR/PCSX2 "$@"``

[2018-01-09 03:01] lightningterror commented on #97
I gave this a go and the game is playable on the latest dev build.
1.4 also works.

[2018-01-09 03:01] #97 closed

[2018-01-09 03:02] MrCK1 commented on #97
@lightningterror please update the compatibility report.

[2018-01-09 03:06] lightningterror commented on #97
Oh it seems I forgot that I had gamefixes enabled. Looks like @prafullpcsx2 made a patch for the game so that's why it doesn't crash.

[code]

[2018-01-09 03:31] lightningterror commented on #1490
Well this is weird. Hardware mode the HUD keeps blinking.
Software mode the HUD doesn't appear at all. So HW mode is a bit better in that regard. HW misses the dragon logo in the game startup sequence tho.

[2018-01-09 08:32] gregory38 commented on #2253
Try to install those packages
[code]
Potentially you can try `apt-cache search mesa dbg`

Is the initial report on a self-build PCSX2 ? I don't necessary need a debug build but rather debug symbols. They are often stripped and installed separately on release build. Anyway, are you sure that you selected the debug compiled version ?

[2018-01-09 10:39] FlatOutPS2 commented on #97
So it still crashes without the patch?

[2018-01-09 11:24] mirh commented on #1956
Actually yes, you can. At least AMD (and reportedly Intel) drivers automatically switch to it under OpenGL when a couple of conditions are met.

[2018-01-09 12:18] lightningterror commented on #97
Yes it does.

[2018-01-09 12:26] tony971 commented on #1956
Not that I've noticed. The only thing that makes a difference is the size of the desktop. If I switch the desktop resolution to something lower, that helps. My workaround up to this point has been changing the Windows compatibility settings to run PCSX2 in 640x480 resolution mode.

[2018-01-09 13:32] Dreadmoth commented on #1490
@lightningterror If [this](https://i.imgur.com/qYdi7Xw.png) is the logo you're referring to, it appears if the Preload Frame Data hack is enabled.

Blockdump + GS dump + Save State from PAL version: https://drive.google.com/open?id=1AQ5vQ25qz7wmisKKYCBB7QY1xrqFtTZ2

[2018-01-09 13:34] lightningterror commented on #1490
Ah yea, guess I forgot to test that with hacks.

[2018-01-09 13:53] mirh commented on #1956
Ok I have really no ideas left then, aside of maybe trying to update drivers.
Perhaps [tinkering](https://software.intel.com/en-us/gpa) with GPA could reveal something, I dunno.

p.s. assuming we'd managed to solve this otherwise, nonetheless I guess your feature request could still  make sense in case one had a CRT - given they are not really that common maybe behind an .ini toggle (anyway discus

[2018-01-09 13:59] tony971 commented on #1956
Exclusive Fullscreen seems to fix the issue in other emulators. If that's ever re-implemented.

[2018-01-09 14:22] mirh commented on #1956
Uh.. Can you try any combination of rendering api (dx11/opengl), gpu (intel/nvidia), window/fullscreen and `EnableVsyncWindowFlag=` (enabled/disabled) property?
On latest git.

[2018-01-09 15:04] MrCK1 commented on #2132
@atomic83GitHub Can you upload blockdumps during an IPU segment of the games you own here?

[2018-01-09 15:33] MrCK1 commented on #1919
@13xforever any status update on latest git?

https://buildbot.orphis.net/pcsx2/

[2018-01-09 15:55] lightningterror commented on #1919
The dumps still show the issue so it's still broken.

[2018-01-09 17:17] FlatOutPS2 commented on #1991
@LoStraniero91 Did you try setting (Config -> Emulation Settings -> VUs) VU0 and VU1 to SuperVU?

[2018-01-09 17:19] MrCK1 commented on #1991
Not sure if he's still active anymore - he's dead on the forums. I tested.Sprint Cars 1 a few months ago, it actually goes gets in-gane, but the cars fall through the track IIRC. No settings affected it.

[2018-01-09 18:03] LoStraniero91 commented on #1991
@FlatOutPS2
Just tried now with **v1.5.0-dev-2246-g36a1c7a26** with both VU0 and VU1 set to SuperVU and nothing has changed, I also get broken texture with SuperVU.

[2018-01-09 18:56] winneon commented on #836
Isn't this, like, a standard feature in every game, period? Why wasn't this one of the first things implemented after the emulator had a decent compatibility percentage?

[2018-01-09 18:59] MrCK1 commented on #836
We're still working on it. It isn't a well defined standard, so changes require a bit of guessing.

[2018-01-09 19:57] James-F2 opened #2257 "Missing vertical resolution lines in GOW2."
It looks like PCSX2 missing some lines in games that use the "None" deinterlacing option and the field height is 448 instead the usual 224 with interlaced games.
This happens with all plugins and scaling options.

GOW2, PCSX2 with 1:1 integer scaling of 512x448 in 1024x896.
Level 5 and Athena's Blades bottom line is missing, PS Symbols missing many lines, "=" symbol one grey line.
![gow2 1-to-1 sc

[2018-01-09 20:03] MrCK1 commented on #2257
If you're using the build from #1918, you should comment there instead of making a new issue, it hasn't been merged yet.

[2018-01-09 20:08] James-F2 commented on #2257
This can be can be displayed with the normal PCSX2 build.
"Fit to Window/Screen" enter manual window size of 512x448.

[2018-01-09 20:09] MrCK1 commented on #2257
Oh ok, wasn't sure.

[2018-01-09 20:12] James-F2 commented on #2257
I believe something actually wrong with the "None" deinterlacer in 30fps 448 field height mode.
No line should be removed... there should be a reason for that.

[2018-01-09 20:46] Jnakos opened #2258 "OnePad: PS3 controller clone not recognized."
***PCSX2 version:***
``development build v1.5.0-dev-2247-g29ef856f9``

***Plugins used:***
``OnePAD 20180109203614 2.0.0 [libonepad] and OnePAD 20180109203614 1.3.0 [libonepad-legacy]``

***Description of the issue:***
``I get no gamepad detected when I try to configure my controller. System and other emulators recognize it normally.``

***Last known version to work:***
``PCSX2 stable 1.4.0``

***

[2018-01-10 02:19] ssakash commented on #836
Exclusive full screen was present during the legacy GUI times (without WxWidgets), it was removed for the reasons stated here: https://forums.pcsx2.net/Thread-blog-A-new-kind-of-fullscreen?highlight=exclusive

Who exactly? I don't recall about anyone planning on adding it.

[2018-01-10 02:27] RibShark commented on #2106
Here's a [workaround](https://github.com/PCSX2/pcsx2/files/1617313/d3d11_fix.zip) I came up with. Download it and run d3d11_fix_install.bat, and it should work. What this does is install a compatibility database telling Windows to force load "d3d11.dll" from the EXE's directory using the "InjectDLL" fix.

[2018-01-10 04:18] MrCK1 commented on #2257
@James-F2 you should check 1.4.0 to see if this issue exists there.

[2018-01-10 04:35] James-F2 commented on #2257
Same thing with 1.4.0.

![1 4 0](https://user-images.githubusercontent.com/31185814/34755817-6d6b7ee0-f5cf-11e7-80d1-7889e39f01b9.png)

[2018-01-10 04:37] MrCK1 commented on #2257
Trying other games would be useful as well, to make sure the issue isn't limited to improper height detection of a certain game.

[2018-01-10 12:30] mirh commented on #2106
`set __COMPAT_LAYER=InjectDLL && pcsx2.exe` might also work then

[2018-01-10 13:09] RibShark commented on #2106
That won't, but `set __COMPAT_LAYER=InjectDLL<.\d3d11.dll> && pcsx2.exe` might. As long as you can set the compatibility flag with the parameter in some way it should work.

This also indicates that it is indeed a PCSX2 issue as it is now clear the DLL is not loaded normally and is not simply malfunctioning.

[2018-01-10 13:22] mirh commented on #2106
Sure thing.
For as much 3dmigoto having to handle.. well, supposedly every game (which won't be as nice as pcsx2) I think the road to workaround this should \*also\* be pursued there.

I think @turtleli might know better about this then.

[2018-01-10 15:02] turtleli commented on #2106
Dunno why I might be expected to know better.

Random guesses:
Might be related to delay loading?
Something in 8.1+ is loading d3d11 only from system directories (maybe a LoadLibraryEx with the directory search path restricted), effectively bypassing attempts to use a wrapper.
Microsoft might know better.

[2018-01-10 16:14] James-F2 commented on #2257
How does the height detection work?
In 1.4.0 THPS3 reports 447, while in 1.5.0   448.

Is there no general direction of thought as to what may cause so many lines in GOW to be missing?

[2018-01-10 18:02] bo3b commented on #2106
Pretty sure that VorpX does not use wrapping, it uses hooking.  He does not install a custom d3d11.dll to override functionality.

Any wrapper based loader (d3d11.dll replacement) will likely be broken here on Win10.  As a general rule, 3Dmigoto has no trouble being *loaded* in any game, by simply being dropped next to the game.exe.   We often have problems with the games doing hard to workaround

[2018-01-10 18:27] masterotaku commented on #2106
I can confirm the workaround works. Thanks a lot, @RibShark . I have been trying Kingdom Hearts 2 in 3D on Windows 10, with the modification I made to convert "top and bottom" into the 3D Vision format. I needed to change some 3Dmigoto settings to make it compatible with the SpecialK dll, and to make PCSX2 use the 4xDSR resolution, and I'm still experimenting.

The issue should still be open until

[2018-01-10 19:52] pixelherodev commented on #2253
Huh. Weird. I think it might have something to do with GNOME. I had to remove GNOME in order to build due to conflicting dependencies and my being too lazy to set up a chroot.

After switching to Cinnamon and setting up the debug build, the problem seems to have gone away, though due its random nature I'm not certain yet. I'll try a release build again (Debug is slow as hell) and see if that chang

[2018-01-10 19:56] pixelherodev commented on #2253
Yeah, its a self-build. I only ever use self-builds for emulators, _especially_ in Debian.

[2018-01-10 20:04] pixelherodev commented on #2253
Almost certain the bug is GNOME-related, so while it doesn't affect me anymore, it might end up being a problem when 1.5 is released. I'll look into it again later, for now I'll enjoy having a working emulator again :P

[2018-01-10 20:05] MrCK1 commented on #2253
Unless you can reliably duplicate something to report to the GNOME team/on your end, I'll close this for now :)

[2018-01-10 20:06] #2253 closed

[2018-01-10 20:14] gregory38 commented on #2253
You can use a release build with debug symbol. It is as fast as a release build except it take more space in your disk.

Otherwise a trace with only mesa debug symbol could be enough.

[2018-01-10 20:29] pixelherodev commented on #2253
@gregory38 Thanks. Why is debug even an option then? In what scenario is debug better than Relwithdebug?

[2018-01-10 20:35] pixelherodev opened #2261 "Plugin/BIOS selector causes SIGILL"
***PCSX2 version:***

Latest commit

***Description of the issue:***
``Selecting "Plugin/BIOS selector" causes a SIGILL``

***How to reproduce the issue:***
``Open PCSX2, click config, click Plugin/BIOS selector.``

I can still edit config for plugins through e.g. config->GS->plugin settings (even for OnePAD which another issue mentions segfaults) though.

Probably too detailed backtrace:

[code]

[2018-01-10 21:16] gregory38 commented on #2253
Who know the guy that lives in a cave, compiles PCSX2 10 times by hour ;)

[2018-01-11 01:32] orbea commented on #2253
Compiler optimizations can interfere with debugging, but it doesn't always matter.

[2018-01-11 01:33] orbea commented on #2253
Compiler optimizations can interfere with debugging, but it doesn't always matter.

[2018-01-11 01:52] orbea commented on #1403
@gregory38 This issue is still very much present for me, could you discuss this with the nouveau developers and see if there is anything they could do to improve this? :)

[2018-01-11 04:48] James-F2 commented on #2257
Report;
Using large internal resolution in GSDx fixes the missing lines.
Can we assume that x1 resolution in GOW is reported incorrectly to GSDx by a prior stage?

![gow big internal resolution](https://user-images.githubusercontent.com/31185814/34809033-163510b0-f69b-11e7-983c-4b2835dfd201.png)

[2018-01-11 08:02] masterotaku commented on #1461
After using the workaruound posted in the other github issue (https://github.com/PCSX2/pcsx2/issues/2106), I'm doing 3D in a different way than before.

I'm stereoizing shaders myself, and NOT using the old GSdx build that has stereoscopic 3D. It's good timing that since recently 3Dmigoto can do shader modifications via regex, not depending on individual dumped shaders. This will make it work for

[2018-01-11 10:08] mirh commented on #1461
Well, d3d9 (and only, for some reason) [officially](http://nvidia.custhelp.com/app/answers/detail/a_id/2311/~/does-3d-vision-work-in-windowed-mode) supports 3D vision in windowed mode.
And as for opengl... Minus whatever bugs there might or might not be in the driver, *most* of times you open windowed fullscreen you get automatically switched to exclusive.
But on that front I guess nvidia is a bit

[2018-01-11 12:22] shinra358 commented on #1461
there are lots of games in which 3d works in windowed mode. you should find a solution where you can activate it regardless of fullscreen or not.

[2018-01-11 18:43] #2098 closed

[2018-01-11 18:58] FlatOutPS2 commented on #2072
@MrCK1 The blockdump you posted does not work.

[2018-01-11 19:01] FlatOutPS2 commented on #1991
Oh well, thanks for trying. It was worth checking as the behaviour is similar to something that can happen in Driving Emotion Type-S unless you use SuperVU.

[2018-01-11 19:01] MrCK1 commented on #2072
@FlatOutPS2 I'll get another one when I get back in a few days.

Btw, I went into a bit more detail about what functions/where the game will stall on here: https://forums.pcsx2.net/Thread-Fixing-unplayable-games?page=30

[2018-01-11 19:04] MrCK1 commented on #1991
@FlatOutPS2 according to the report, SuperVU is is required for both VU0 and VU1

https://forums.pcsx2.net/Thread-Driving-Emotion-Type-S-SLUS-20113-U--28392

[2018-01-11 22:32] masterotaku commented on #1461
@mirh and @shinra358 , DX11 games can't work in 3D in windowed mode (borderless or not), as you see. I think we would have some working examples by now if it were possible (please correct me if I'm wrong).

There is a DX9 wrapper for 3D too (Helixmod dll), and it works, but shaders would have to be stereoized manually instead of using regex. For OpenGL there is the wrapper Helifax made, but has on

[2018-01-12 02:39] lightningterror commented on #111
Merge sprite may also work or some other similar hacks. I don't believe for the status to be changed to on latest dev, only difference is it has newer hacks to play around.

[2018-01-12 02:41] MrCK1 commented on #111
The new HPO implementstion may be enough.

[2018-01-12 08:29] gregory38 commented on #2261
How did you compile PCSX2 ? If you have an AVX2 GSdx plugin you can try to delete it.

By the way, a working enter key would be nice ;)

[2018-01-12 08:32] gregory38 commented on #2258
PCSX2 will print a message on the console if it fails to detect it. You should use the onepad plugin (not legacy). Just try to configure the plugin and the message should be printed. If console is closed, you can check the emulog file (either `$HOME/.config/PCSX2` or in local bin depends on your install`)

[2018-01-12 11:05] FlatOutPS2 commented on #111
No, it's not. I believe auto flush helped some, but none of the other fixes work.

X,Y Texture offset can help, but it changes per resolution so it isn't ideal and can cause other effects to move off center too.

[2018-01-12 14:20] Davo6233 commented on #1496
SOLVED!! Thx guys, i totaly forgot that I need an USA version of the game. (Cuz I had EU version) So now it works!, thank you again.

[2018-01-12 14:50] Jnakos commented on #2258
***emulog and console output***
[code]

I don't see any changes nor when I try to activate the gamepad, nor when I assign new keys to it.

The logs are indeed saved under .config/PCSX2/logs. The logs I currently have there are:
[code]
Out of which only emuLog.txt and padLog.txt are not empty. The latter contains only the word: PADinit

[2018-01-12 15:23] gregory38 commented on #2258
Note: you can't assign any key on gamepad by the GUI. It is done automatically by SDL.

Gamepad detection is based on SDL2, it is strange than nothing is reported.

[2018-01-12 15:40] Jnakos commented on #2258
Since I've downloaded the package as is from the main distro repo, could it be that I'm missing some mosrt of libsdl2 or/and SDL2 pagkage?

[2018-01-12 17:31] Jnakos commented on #2258
I run another application that maps gamepads based on SDL2 and it doesn't find my gamepad either. But it gives:
[code]

So I think the issue lies directly with SDL2 not recognising my gamepad at all. Will need to search more on how can I change that as it seems.

[2018-01-12 22:30] Jnakos commented on #2258
I think I have found my gamepad's GUID. Found a ruby script that finds it based on /dev/input/eventx. On which part of the `OnePAD2.ini` do I add the line:
`SDL2 = <GUID>,<NAME>,Joystick,platform:Linux,x:b3,a:b2,b:b1,y:b0,back:b8,start:b9,leftshoulder:b6,lefttrigger:b4,rightshoulder:b7,righttrigger:b5,leftx:a0,lefty:a1`

And do I need to comment anything else out?
Current file is like this:

`firs

[2018-01-13 14:29] gregory38 commented on #2258
Add sdl2 at the end of file. You don't need to touch anything on the ini.

I'm not sure that it will work. Onepad should report 1 not-supported gamepad. Whereas it seems you have 0 gamepad detected.

[2018-01-13 15:36] Jnakos commented on #2258
Problem solved. You can close the issue.
Many thanks for the replies gregory38.

***Solution for those who might have same problem***
After all it was an issue with permissions. My user didn't have access to `/dev/input/event*`, which my gamepad was using. These events belonged to the group input. I added my user to that group. Assigned keys via `antimicro` and run PCSX2 which now recognized my ga

[2018-01-13 15:37] #2258 closed

[2018-01-13 19:39] willkuer commented on #1956
Have you tried disabling all visual effects of windows? You can find it somewhere in the system settings and will make your windows (e.g startmenu) look like win9x. I think your desktop just puts a slight bit too much stress on your system even when idling. Let's assume it always needs around 10% of your gpu resources to show titlebar transparency, shadows, and stuff. Pcsx2 however needs 95% to wo

[2018-01-13 20:33] FlatOutPS2 commented on #1956
It's not a theory, disabling aero will avoid this issue. It will look bad though.

[2018-01-13 20:34] MrCK1 commented on #1956
I don't recall of disabling Aero is even a possibility in Win10.

[2018-01-13 20:38] FlatOutPS2 commented on #1956
Aero no longer exists after Win7, but you can turn off (most of) the same features and achieve a similar improvement.

[2018-01-13 20:43] mirh commented on #1956
Actually.. [yes you can](https://github.com/Phorofor/DWM.ForceSwitch).
Make sure not to have anything important open though, for safety :x

[2018-01-13 22:17] willkuer commented on #1956
Maybe it's not needed to disable all of aero. The vsybc stuff you probably want to keep. But transparency and other gimmicks can be turned off.

[2018-01-13 22:28] lightningterror commented on #1490
Small update. The crc hack is what actually causes the menu to flicker if enabled. If crc hacks are disabled then software and hardware mode behave the same.

[2018-01-13 22:39] tony971 commented on #1956
I mean, my surface book is powerful enough to use aero in 99% of regulat usage. It's a bigger inconvenience to disable it whenever I use PCSX2 than it is to run in 640x480 compatibility mode.

[2018-01-13 22:50] willkuer commented on #1956
I think you can also disable visual effect as part of compatibility mode. You have to check which works better for you. I guess you can also control windows size via a batch/powershell file. It would be a script running like

[code]

[2018-01-13 22:52] willkuer commented on #1956
A shit I hate the huge diversity if markdown languages and I can not edit my answer using my mobile. Well whatever you will probably figure it out by once you google 'display resolution bat' or 'display resolution powershell'.

[2018-01-13 22:57] tony971 commented on #1956
Right. I've used similar things to run programs without a UAC prompt. The compatibility setting works well enough for me. The only reason I'm keeping the issue open is in hopes that exclusive fullscreen gets reimplemented someday.

[2018-01-13 23:01] lightningterror commented on #1490
Well the flickering is related to this code here. Clearing depth. Without it hardware behaves the same like software on the menu.

https://github.com/PCSX2/pcsx2/blob/4aa25c497137c0167b43473ffa7b97d50ddb52e0/plugins/GSdx/GSRendererHW.cpp#L1566

[2018-01-13 23:29] turtleli opened #2266 "CDVD: Blockdump writing issues"
Blockdump reading seems to work fine with PCSX2. However, there seems to be a few issues on the writing side:
 * It uses the old format dump, which creates much larger dumps than necessary (the files compress well, but still).
 * There is code to use the new format dumps, but there is a bug that causes it to crash (easily fixed)
 * CD (.bin) dumps do not work at all (not so easily fixed - I haven'

[2018-01-13 23:42] FlatOutPS2 commented on #2072
@MrCK1 Don't bother until @turtleli fixes #2266 Making blockdumps of bin files doesn't work.

[2018-01-13 23:42] FlatOutPS2 commented on #2266
See: #2072 (.bin) and #2108

The blockdumps of these games don't work.

[2018-01-13 23:44] MrCK1 commented on #2072
I can always rip the disk and get another blockdump. I've just been too lazy to. :P

[2018-01-13 23:46] FlatOutPS2 commented on #2266
It would be good idea to disable making blockdump when a CDROM is detected for now. I've come accross a handful of non-working blockdumps already, at least two of which are from CDROM games.

[2018-01-13 23:51] turtleli commented on #2266
Well, I've attached a copy of cdvdlinuz so people can create CD blockdumps - I briefly tested it on one of my PS2 CDROMs so it should work.
[CDVDiso.zip](https://github.com/PCSX2/pcsx2/files/1628863/CDVDiso.zip)

[2018-01-13 23:51] FlatOutPS2 commented on #2072
You have to use the old linuz ISO CDVD plugin that comes with PCSX2 versions from before 1.4.0 to make a working one.

[2018-01-14 08:10] atomic83GitHub commented on #2132
So I have Lethal Skies II, Paris Dakar and Guitar Hero (I have not Onimusha at the moment because it is a friend game), I did Blockdump on these but this issue happen in booth of them :(https://github.com/PCSX2/pcsx2/issues/2266 , I will try the linuz cdvd plugin

[2018-01-14 09:36] mirh commented on #1956
We are trying to understand what in the first place is the issue. DWM? Visual effects? Theme?

[2018-01-14 09:40] wareya commented on #1956
What is the size of the window you used to run PCSX2 in to make it run faster? As stated in the OP:

If it was small, this applies: The problem is the number of pixels being updated every frame when the output resolution is high. Yes, that actually has a performance impact. Yes, really. Yes, even though the game itself is rendering at a fixed resolution. No, reducing other stuff isn't going to aff

[2018-01-14 12:24] Krusher97 commented on #1496
Finished the game from beginning to end with no crashes or freezes with the two cheats enabled. One weird thing of note was how the Software renderer always ran better than the hardware one no matter what Internal resolution.

I will update the compatibility thread when these fixes get merged.

[2018-01-14 16:49] MrCK1 commented on #1496
@Krusher97 Perfect. Thank you! ;)

[2018-01-14 21:07] MrCK1 commented on #2132
@FlatOutPS2 Here's a blockdump for Harry Potter, I'll get the others and modify this post accordingly.

[HP_QWC_ipublockdump.zip](https://github.com/PCSX2/pcsx2/files/1629827/HP_QWC_ipublockdump.zip) (rename to .7z)

[2018-01-14 21:16] Papermanzero opened #2267 "Soul Calibur 3 - Slow Down with OpenGL Hardware"
***PCSX2 version:***
1.5.0-dev2255

***PCSX2 options:***
GSDX Settings ini:
[Settings]
UserHacks_TriFilter=0
UserHacks_round_sprite_offset=1
UserHacks_SpriteHack=0
UserHacks_HalfPixelOffset=1
override_geometry_shader=-1
override_GL_ARB_shader_image_load_store=-1
UserHacks_MSAA=0
UserHacks_AlphaHack=0
UserHacks_SkipDraw=0
UserHacks_WildHack=0
UserHacks_AlphaStencil=0
preload_frame_with_gs_data=0
Us

[2018-01-14 21:16] MrCK1 commented on #2267
Turn down your Blending Accuracy

[2018-01-14 21:17] Papermanzero commented on #2267
I did. Even if a have none bleding accuracy, the FPS stays at 80%

[2018-01-14 21:20] MrCK1 commented on #2267
@Papermanzero Alright, let's move this over to the forums where it's easier to support you :)

https://forums.pcsx2.net/Forum-General-Discussion-and-Support-Windows

[2018-01-14 21:21] #2267 closed

[2018-01-14 21:24] Papermanzero commented on #2267
Here we are:
https://forums.pcsx2.net/Thread-Soul-Calibur-3-Slow-Down-with-OpenGL-Hardware

[2018-01-15 07:37] MrCK1 commented on #1318
Added "Stolen" to the list. The game uses a channel shuffle effect (blue channel) for shadows and bloom/specular.

GS Dump: [Stolen_hw_outdoor_gsdump.zip](https://github.com/PCSX2/pcsx2/files/1630725/Stolen_hw_outdoor_gsdump.zip) (rename to .gs)
Raw Dump: [stolen_outdoor_hw.zip](https://github.com/PCSX2/pcsx2/files/1630721/stolen_outdoor_hw.zip) (rename to .7z)
Debug Log (IDs match Raw Dump): [GSd

[2018-01-15 22:14] MrCK1 commented on #1602
As of latest git (v1.5.0-dev-2241-g18ea36adc) all HW renderers work fine - GS dumps check out as well. SW renderers are still broken.

[2018-01-15 22:16] mirh commented on #1437
@WizLizard Try EnableVsyncWindowFlag=enabled, with adaptive v-sync in pcsx2... And just whatever might do it in nvidia control panel.

[2018-01-15 22:17] MrCK1 commented on #2249
The Omega Strain also contains this issue but to a lesser degree. Sprites will flicker as squares; but are not visible through walls.

[2018-01-15 23:11] masterotaku commented on #1461
My work is finished: http://helixmod.blogspot.com.es/2018/01/pcsx2-dx11.html

Testing will be appreciated, if anyone is interested.

[2018-01-15 23:16] lightningterror commented on #1461
Hope the gui doesn't change much after this, otherwise you'd need to edit some parts of the guide :stuck_out_tongue:

[2018-01-16 04:19] WizLizard commented on #1437
@mirh Sorry same results, still frame pacing issues very noticeable immediately upon spinning the camera around in any game with 360 camera control.

[2018-01-16 04:55] WizLizard commented on #1437
@mirh Ok it is fixed. I didn't realize in the GS Window tab i had zoom level set to 100.83, setting it back to 100 got rid of the stutter. Sorry, i was messing with that a while back and forgot to set it back to normal.

[2018-01-16 12:29] raetiacorvus opened #2268 "Replace `-ansi` with `-std=c++98` for clang compatibility"
Currently on arch linux the pcsx2-git aur package fails to build with llvm/clang due to the usage of the incompatible `-ansi` flag. According to [gcc documentation](https://gcc.gnu.org/onlinedocs/gcc/C-Dialect-Options.html#C-Dialect-Options) `-std=c++98` is equivalent to `-ansi` for c++ and compatible with llvm/clang.

https://github.com/PCSX2/pcsx2/blob/6e029fc1847addc2f878f89304bb76b017d8b77c/pc

[2018-01-16 18:16] turtleli commented on #2268
I don't use the pcsx2-git AUR package, but PCSX2 builds fine for me using clang 5.0.1 on Arch Linux.

What is the exact error message? Have you checked your build settings?

[2018-01-16 19:10] raetiacorvus commented on #2268
Hi,
the aur package build with the `PACKAGE_MODE` option enabled in cmake.
Specifically it sets the following build options:
[code]

It results in the following error message on compilation wit clang:
[code]

as does the following:
[code]

[2018-01-16 19:10] gregory38 commented on #2268
If I memory is right, it was about default defines such as `linux` in plugin dir macro which were wrongly replaced.
Potentially, we can test behavior of the option (ansi vs 98) with `gcc -E` to check the default define.

[2018-01-17 08:09] turtleli commented on #2268
Actually, couldn't we just use -std=c++11 instead?

[2018-01-17 12:59] raetiacorvus commented on #2268
@gregory38 is it possible to access the old issues somehow as the commit message only states:

[code]

and the code comment is:

[code]

and I am pretty sure it isn't referring to the github issue 1233 since the commit is 6 years old.

I found the following in [gcc's documentation](https://gcc.gnu.org/onlinedocs/cpp/System-specific-Predefined-Macros.html):
[code]

which sounds a lot like what the

[2018-01-17 13:10] gregory38 commented on #2268
Oh, it is that old.

The issue was for a plugin path like  `/usr/lib/linux/PCSX2_plugin`. The `linux` string was replaced with 1. In short, all default define that doesn't start with `__`

Very old GCC/G++ here
[code]
[code]
[code]

So yes, we could use c++11 directly (which is now the default)

[2018-01-17 13:55] LeCharlatan opened #2269 "Some games are extremly slow on OGL HW & SW"
***PCSX2 version :***
Stable 1.4.0
Dev 1.5.0 (latest)

***PCSX2 options :***
Using normal options. I tried default options, changing options, nothing solved the issue

***Plugins used :***

GSdx OGL HW/SW

***Note :***
I provide GS Dump (OGL HW) for each games since oddly, the issue only occurs on OGL. I tested game on another computer that uses Windows, tried DX11 and didn't get the slow-down.

N

[2018-01-17 14:07] lightningterror commented on #2269
That's because OGL is more accurate than DX11.

You can probably get the same kind of performance if you disable blending, depth emulation, set crc to full.

[2018-01-17 14:17] FlatOutPS2 commented on #2269
Make sure GSdx blending unit accuracy is not set to Ultra or Full. If it is put it back to Basic or High and make sure the Internal Resolution is not too high(try 3x max). With these settings your specs should be able to run at least EoN with OGL at decent speed for most of the game.

[2018-01-17 14:29] LeCharlatan commented on #2269
@lightningterror @FlatOutPS2 ,Hi both of you and thanks to answer so fast !

I tried to change options like you suggested but it's still slow and console is spaming messages like that :

Gif Path[1] - MTGS Wait! [r=0x7ffbe0]
Gif Path[1] - MTGS Wait! [r=0x0]
Gif Path[1] - MTGS Wait! [r=0x7ffbf0]
Gif Path[1] - MTGS Wait! [r=0x0]
Gif Path[1] - MTGS Wait! [r=0x7ff8e0]
Gif Path[1] - MTGS Wait! [r=0x0]

[2018-01-17 14:30] MrCK1 commented on #2269
Make sure you aren't using GSdx-dbg.

[2018-01-17 14:31] FlatOutPS2 commented on #2269
You should check your Emulation Settings. Are you using any non-default EE/IOP, VUs, speedhacks or GameFixes settings?

[2018-01-17 14:35] LeCharlatan commented on #2269
@MrCK1 Hi, I'm not using GSdx-dbg :D

@FlatOutPS2 I never change EE/IOP and VUs settings, they're by default (I checked in case they were not but they are), I never use SpeeHacks except for multicore CPU sometimes but it's not the case here. About GameFixes settings, I don't use any of them :x

[2018-01-17 14:39] FlatOutPS2 commented on #2269
Then please post your emulog.txt(in the PCSX2 logs folder) contents after playing one of these games.

[2018-01-17 14:47] LeCharlatan commented on #2269
@FlatOutPS2 Here it is :
[emuLog.txt](https://github.com/PCSX2/pcsx2/files/1639367/emuLog.txt)

[2018-01-17 15:00] FlatOutPS2 commented on #2269
Yeah, the issue really seems to come down to the "MTGS Wait" sync warnings.
Not sure if there's anything you can do. @gregory38 might be able to help.

[2018-01-17 15:01] MrCK1 commented on #2269
MTGS warnings only appear on debug builds, but I don't know how it works on Linux.

[2018-01-17 15:05] LeCharlatan commented on #2269
@gregory38 Help ! :D
@MrCK1 Yes, you're right since Windows doesn't display it. However it's slow like Linux.

**PS :** I swear I don't use GSdx-dbg or I'm unaware of it !

[2018-01-17 15:07] FlatOutPS2 commented on #2269
You aren't. The log doesn't mention any dev or debug details, so it must be in the release log on Linux.

[2018-01-17 15:12] LeCharlatan commented on #2269
@FlatOutPS2  Okay, I was sure at 99% now I'm sure at 100%, that's a relief :D
@MrCK1 The same issue appear on stable 1.4.0 but no warning on console. So seems to display on the (latest) dev versions

[2018-01-17 16:15] turtleli commented on #2269
If I'm reading the code correctly then those messages only appear in dev or debug builds.
pcsx2/Gif_Unit.h:
[code]

[2018-01-17 16:25] FlatOutPS2 commented on #2269
Oh yeah, it is a dev-build. The Onepad and SPU2 plugins mention it. The PCSX2 version at the top and other plugins don't say dev though, which is a bit confusing. Might be something to improve in the future.

[2018-01-17 21:11] LeCharlatan commented on #2269
@FlatOutPS2
I don't use GSdx-dbg but to make it clear, the version I use is the latest dev version, compiled on Antergos Linux. The issue also happens on stable 1.4.0 as I described on the post

[2018-01-17 21:32] FlatOutPS2 commented on #2269
No, you're not using a debug build, but it might be a release with debug info build. Which would explain why it isn't to be a debug build, but why it would still print the message.

[2018-01-17 21:47] gregory38 commented on #2269
There are 3 linux build.
Debug : very slow
Dev: mean speed (IIRC default build)
Release:full speed

You seem to have a dev build. How did you build/install PCSX2 ?

[2018-01-17 22:39] LeCharlatan commented on #2269
Hi @gregory38

Okay maybe I did something wrong so I'll explain how I Build it.

I download the latest sources here on github, then I build (compile) it throught the script "build.sh" that is inside sources with following command :

./build.sh --no-simd --clean

That's all

[2018-01-18 06:19] gregory38 commented on #2269
Yes you should use release flag. And why do you disable SIMD (sse/avx) optimization ? You should do it if you plan to run the build on a different machine.

[2018-01-18 06:23] gregory38 commented on #2269
Then you should check that
1/ nvidia driver is installed
2/ that you enable multithread optimization when you launch PCSX2 (i.e. you use the small script to launch PCSX2 and not the binary directly)

[2018-01-18 14:05] FoxHand commented on #2249
Hi everyone. I solve this issue my way (without GIF FIFO)
![sfdm yes](https://user-images.githubusercontent.com/35567320/35101432-7ef28f88-fc9a-11e7-823b-f4d7dbddd6bc.png)
![sfdm no](https://user-images.githubusercontent.com/35567320/35101447-8890de64-fc9a-11e7-8311-610e10766eb7.png)
And the settings I use:
![settings](https://user-images.githubusercontent.com/35567320/35101648-3ecf23f2-fc9b-11e7-

[2018-01-18 14:35] FlatOutPS2 commented on #2249
@FoxHand You've enabled too many options/hacks to see which (combination) actually resolves the issue. Can you check which ones are absolutely necessary?

[2018-01-18 14:35] MrCK1 commented on #2249
I never tried FBC hack, I forgot actually. Auto Flush is the only one that's needed.

[2018-01-18 14:44] loathingKernel commented on #2268
On a similar note, building with Clang and LTO enabled fails because it can't find liblzma and Clang doesn't accept an argument to -flto.

This is the patch I used to get the build going:

[code]

But it fails at linking the executable in the last stage nevertheless.

[2018-01-18 14:52] FoxHand commented on #2249
**Auto Flush** and **Preload Frame Data** just needed. Also random combination of **Half-Pixels Offset** and **Round Sprite** options affects visibility of lights. **Widescreen cheats** and **Internal Res** also affects resulst in some way.

[2018-01-18 14:56] gregory38 commented on #2268
Well LTO is mostly a left-over of my previous tentative. I feel that it doesn't worth the hassle.

For the AppConfig.cpp issue, nowadays all files are compiled with `-std=c++11`, so it should be fine to remove all crufts

[2018-01-18 14:56] MrCK1 commented on #2249
@gregory38 @FlatOutPS2 This is an interesting case actually. Only Auto Flush is needed. The problem is, the fix only works at native resolution.

Once you start upscaling, you're going to have visible sprites through walls and corruption/flickering. Must be another memory trick :P

The issue stays open for now, because most people aren't going to be playing at native resolution, and it's still tec

[2018-01-18 15:00] FlatOutPS2 commented on #2249
I shortly tried Omega Strain and noticed the same thing. Only Auto Flush has a real positive effect on the issue, and only on native resolution. Above that it seems to work only partially and where it does it creates the flickering/corruption.

[2018-01-18 15:01] FoxHand commented on #2249
@MrCK1 **2x Native** is not that bad you know. :) @FlatOutPS2 In Omega Strain I just use SkipDraw 1.

[2018-01-18 15:28] FlatOutPS2 commented on #2249
@FoxHand What effect has skipdraw 1. AFAIK it doesn't fix anything.

[2018-01-18 15:34] FoxHand commented on #2249
@FlatOutPS2 It's just removes light sprites at all. You can play in Custom Resolution mode with it instead of Native and AutoFlush.

[2018-01-18 15:40] FlatOutPS2 commented on #2249
@FoxHand Removing the lights is not a solution though. ;) It will be less bothersome than flickering lights, but what we ultimately want to work towards is a solution where the lights are visible and don't flicker/corrupt at any resolution. That's why there an issue on github, rather than just a forum topic on the PCSX2 website.

[2018-01-18 15:52] FoxHand commented on #2249
@FlatOutPS2 Well, hope you can fix it completely after all. For me, Skipdraw 1 for Omega Strain is the best way. Much better than flickering here and there. I hope someone can handle light problem in Syphon Filter series on PPSSPP.

[2018-01-18 16:51] LeCharlatan commented on #2269
Hi @gregory38
Nvidia driver is installed. Using proprietary 384.111
I always launch PCSX2 by using the small script named "PCSX2-linux.sh"

I used the flag --no-simd because if I don't, it builds GSdx AVX2/AVX2 only not SSE2, SSE4.1...

I will build PCSX2 again with --release flag and will not use the --no-simd flag and report.
All that doesn't change the fact that those 2 EA Games (maybe more) ar

[2018-01-18 17:08] LeCharlatan commented on #2269
Okay I report the test built using ./build.sh --release --clean

There are no warnings about "MTGS Wait" but it's still the same, very slow. I guess it only supress warnings

So finally it didn't change anything about the issue

[2018-01-18 17:27] gregory38 commented on #2269
How do you launch PCSX2 ? Vsync ? Gsdx debug option ?

[2018-01-18 17:32] LeCharlatan commented on #2269
for the Vsync, do you mean the line "Wait for Vsync on Refresh" ? If so this is Disabled
I don't use GSdx debug options tab

[2018-01-18 17:54] LeCharlatan commented on #2269
@gregory38
Well it was the mess with all my builds so maybe I did something wrong finally cause with the release build I can get better FPS using low settings in GSdx options !
NFS isn't playable tho, but 007 looks fine

[2018-01-18 18:40] FlatOutPS2 commented on #2269
You should be able to use skipdraw to (1 to 3) to increase the FPS in NFS. That game always had someframerate issues, just not as bad as you had before.

[2018-01-18 20:55] #2268 closed

[2018-01-18 21:14] turtleli commented on #2268
Hmm. LTO used to work with clang, though the last time I experimented with it (about a year ago) the binaries actually increased slightly in size. As a side note, I think the -fuse-linker-plugin and CMAKE_{AR,RANLIB,NM} stuff is only necessary for older gcc versions (I could be wrong, I'm recalling this from info from about a year ago).

[2018-01-18 22:57] gregory38 commented on #2249
Hum, this resolution effect is strange. @CK1 if you can reproduce it on a gsdump, I suggest that you dunp all textures in hw mode (native and 2x) to understand what happen.

Hum, I saw 2 diff in upscaling. Texture cache that downscale an old fb. Or the target upload. It could also be linked to the framebuffer resolution. I don't remember if the base resolution depends on the upscaling factor.

[2018-01-18 23:06] MrCK1 commented on #2249
I'll do that in a little bit.

[2018-01-19 01:10] MrCK1 commented on #2249
So it seems the framebuffer scaling is different at native vs 2x native which may be the source of the issue? - I'm just taking a whild guess here. At native res, it's sized at 1280x1024, but 2x native is 2048x2048.

Native
![_00719_f5001_rt0_00000_c_32](https://user-images.githubusercontent.com/16314399/35129776-2abc2708-fc8b-11e7-981b-73177ffcaa8c.png)

2x Native
![_00718_f5001_rt0_00000_c_32](h

[2018-01-19 01:35] gregory38 commented on #2249
Wait I remember some code in gsstate that depends on the upscaling. Could you find it and try to toggle it

[2018-01-19 01:36] MrCK1 commented on #2249
I'll take a look.

[2018-01-19 03:04] gregory38 commented on #2249
Check m_nativeres variable. IIRC it impacts some optimizations in vertex processing.

[2018-01-19 09:29] atomic83GitHub commented on #1496
Hum, Just for the curiosity, this PR don't solve the issue?
https://github.com/PCSX2/pcsx2/pull/1783

[2018-01-19 09:39] Blackbird88 commented on #1496
It doesn't. Still crashes when loading Molotov Party.

[2018-01-19 11:13] FlatOutPS2 commented on #2249
@gregory38 It doesn't seem to alter the issue.

[2018-01-19 13:24] atomic83GitHub commented on #1562
You can add Beyond Good and Evil, the game don't render the water's color as it should in some places (basicaly open world environnement), it is red instead of black (I will post a screenshot later) and in some places, corners have a red layer covering them (again I will post a screenshot because it's pretty hard to explain that).

[2018-01-19 14:14] FlatOutPS2 commented on #1562
@atomic83GitHub You already added a screenshot here: https://github.com/PCSX2/pcsx2/issues/1986

[2018-01-19 14:43] atomic83GitHub commented on #1562
Yes but the issue is a bit different under the software mode :).

[2018-01-19 14:48] FlatOutPS2 commented on #1562
That doesn't matter much, you already added a gsdump to that issue.

Fixed 😛

[2018-01-19 15:37] FlatOutPS2 commented on #2132
@atomic83GitHub @MrCK1 Can either of you upload a (linuz cdvd) blockdump of one of the "hangs without SkipMpeg" games. I might look into this on the weekend.

[2018-01-19 17:01] MrCK1 commented on #1339
I'll take another look at Call of Duty 3 later, but I don't really think it has the half-screen issue. The half-screen corruption only occurs in the HW renders in the first memory card screen; but is easily resolved by switching to the SW renderer and back. The rest of the game is fine (ignoring the remaining graphical mess of course) :P

[2018-01-19 17:03] FlatOutPS2 commented on #1562
@gregory38 I found another Software only issue. The bottom left of the arm is missing during a close up in a cutscene of Silent Hill 3. None of the hardware renderers are affected. It's not a (recent) regression, it goes back to at least before PCSX2 v1.2.1.

[Silent Hills 3 SW issue.zip](https://github.com/PCSX2/pcsx2/files/1647318/Silent.Hills.3.SW.issue.zip)

[2018-01-19 20:39] FlatOutPS2 commented on #1561
I added SOCOM II to the issue list. The game is not broken without mipmapping, but enabling it will cause graphical issues when using a hardware renderer.

[2018-01-20 13:55] atomic83GitHub commented on #2132
Here is the Guitar Hero dump, Paris arrive next.
https://drive.google.com/file/d/104wWmm_pOauFI1HzIeYKfdRY2leVPqSg/view?usp=sharing

[2018-01-20 14:25] FlatOutPS2 commented on #2132
The guitar hero dump is still not working. It now prints `Block ... not found in dump` instead of showing the FMV. I guess a succesful dump of this game won't be possible.

[2018-01-21 13:32] ivan89el commented on #1327
It was possible to configure Ghost in the Shell: Stand Alone Complex with all the effects (almost) in the hardwar:
In GSdx.ini UserHacks_SkipDraw=1287 crc_hack_level=0 UserHacks=1 for high internal resolution Userhacks_align_sprite_X=1
You must use Opengl (hardware) renderer
The absence of shadows (even in software) can be cured by opening GameIndex.dbf with a text editor and deleting the line: pa

[2018-01-21 13:39] lightningterror commented on #1561
Added GT4. On some stages mipmapping is needed to make the ground texture brighter.
Without mapping the texture is missing, enabling mipmapping causes the texture(s) to flicker on the ground causing more issues.

[2018-01-21 14:06] FlatOutPS2 commented on #1561
Which stages(any near the start?)

[2018-01-21 14:19] MrCK1 commented on #1561
@Lightningterror The other two things you said don't really make any sense to me.

How does a texture disappear with mipmapping enabled and how does that make textures flicker? Do you still get the same effect with 16X AF and possibly Trilinear Filtering?

If anything, mipmapping will reduce shimmering significantly because the size of the texture will be reduced based on the camera distance.

[2018-01-21 14:26] lightningterror commented on #1561
Humm a bit hard to explain.
Software mode mipmapping works fine. It makes the ground texture brighter.
Hardware mode mipmapping causes the texture to flicker if enabled. Perhaps it's 2 textures overlapping with each other which gives the flicker effect.

https://drive.google.com/open?id=0B8cQAq-Ko9-uMFV5T1hxVW9QRUU

On the video you can see a bright texture that flickers. The bright texture is how

[2018-01-21 14:32] FlatOutPS2 commented on #1561
I've managed to reproduce the issue. It improves with Full mipmapping to Ultra Trilinear, but it's still not correct.

[2018-01-21 14:59] gregory38 commented on #1561
Layers of mipmap aren't necessary a smaller resolution of the base texture. Some games apply a brightness correction (so layers are darker). With trilinear filtering you see a gradient of light.

My hackish mipmap implementation only uses the biggest layer that I'm sure is defined (which depends on vertices position). So a bad layer is sampled which can create issues.

[2018-01-22 01:59] #537 closed

[2018-01-22 02:05] MrCK1 commented on #1436
Can someone verify whether or not the Rounding/Clamping modes above fix this issue? If so, they will have to be added to the GameDB.

[2018-01-22 06:13] MrCK1 commented on #1929
I decided to take another look at this issue.

I made a new GS dump again. It seems that the corruption is correlated with a specific context/screen (not sure if that is technically "correct) - I believe the status has changed slightly in SW, but since no changes have been made recently; I probably just didn't notice it before.

This is what is seen in the first 4 VSyncs of the GS Dump, this patte

[2018-01-22 08:52] atomic83GitHub commented on #2132
Hum, I have a demo disk wich sometimes fail to read the FMV's (like Spyro), would you want a Blockdump on it?

[2018-01-22 10:40] FlatOutPS2 commented on #537
Note that behaviour is still the same. Pause in fullscreen, then doing a save sate will reopen the focussed fullscreen, but still remain paused.

[2018-01-22 12:29] atomic83GitHub commented on #2132
I will do the Blockdump when I back home, also it's the SCEE hits demo [SCED-52970].

[2018-01-22 13:17] FlatOutPS2 commented on #2132
I have this demo. But it doesn't have a Spyro FMV? See: https://wiki.pcsx2.net/SCEE_Hits_Demo

[2018-01-22 13:33] atomic83GitHub commented on #2132
No, you probably misunderstood me :). I was just saying that this demo seems to do the same issue as the Spyro game :).

Also, I found some games that have a custom IPU patch in the DB:

![capture](https://user-images.githubusercontent.com/26351275/35223315-2e7b0366-ff81-11e7-84e6-ea1ad0d76055.PNG)

![capture2](https://user-images.githubusercontent.com/26351275/35223323-339e4cfe-ff81-11e7-8977-b25

[2018-01-22 14:05] FlatOutPS2 commented on #2132
Oh, right. So does it fail the same as the Spyro issue too, 40% chance of failing. and returns to main menu straightaway?

I know about some of those other games. F1 2001 should be fine without the patch now, and Tekken 4 could be related(seemed like it when I tested the FMV). Dakar 2(it's not called Paris-Dakar 2) is probaly the same issue as the original game.

[2018-01-22 14:11] atomic83GitHub commented on #2132
@FlatOutPS2, yes, this is the issue I was talking about.

[2018-01-22 15:54] lightningterror commented on #1920
OpenGL HW seems to be fine or my mind is playing tricks on me. I think I saw it happen once but wasn't able to reproduce it or I had d3d set I dunno.

[Crash Of The Titans.zip](https://github.com/PCSX2/pcsx2/files/1652574/Crash.Of.The.Titans.zip)

[2018-01-22 16:01] FlatOutPS2 commented on #1920
I couldn't reproduce it in Crash Tag Team Racing back then either. I guess something was wrong on the side of the user (disable depth emulation hack enabled?).

[2018-01-22 16:04] lightningterror commented on #1920
Nah, same goes for blend. Maybe I had d3d selected which I can't remember xD

[2018-01-22 16:05] MrCK1 commented on #2132
@FlatOutPS2 Does the blockdump from Harry Potter work? Just making sure ;)

[2018-01-22 16:06] FlatOutPS2 commented on #2211
If this is the same issue I encountered in a few other games/demo's(I couldn't tell with the dump), then this is an old regression that occured sometime between PCSX2 v1.2.1 and a git build of v1.3.1 from january 2015. That regression is not related to the Texture Cache rescaling @gregory38 mentioned.

[2018-01-22 16:09] FlatOutPS2 commented on #2132
Yes, it seemed to work as it should. The corruption is very, very bad though, I couldn't even tell if the FMVs ended early or not. I assume it's the same on the real game?

[2018-01-22 16:18] MrCK1 commented on #2132
Not sure if you had noticed while playing the blockdump, but the game's logging is very verbose. I'll look again, but I'm not 100% positive if the FMVs are actually ending early or not.

[2018-01-22 17:02] FlatOutPS2 commented on #2132
@atomic83GitHub I tried the SCEE Hits Demo FMVs, and they all worked without fail over several runs.

[2018-01-22 21:32] atomic83GitHub opened #2271 "F1 2004 : starting lights are black instead of red"
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
All default, no speedhacks, no hacks can solve this.

***Plugins used:***
All default

***Description of the issue:***
The game don't display starting lights as it should, they are black instead of red, look:

-OpenGL hardware BA full:
![capture](https://user-images.githubusercontent.com/26351275/35245263-db2bdc50-ffba-11e7-9904-7a0b41f0e790.P

[2018-01-22 21:46] FlatOutPS2 commented on #2271
Enabling both the **Delay VIF1 Stalls (VIF1 FIFO)** and **Enable the GIF FIFO** gamefixes will corrupt specifically this small window. Could randomly be a hint to the source of the issue...

[2018-01-22 22:01] atomic83GitHub commented on #2271
Yes, same for me:

![capture](https://user-images.githubusercontent.com/26351275/35246594-25ea86ac-ffbf-11e7-824e-7f8a4f911ec1.PNG)

I also notice that if you enable Delay VIF1 Stalls (VIF1 FIFO) in menus, the car selector will be corrupted and the game will crash at loading.

![capture](https://user-images.githubusercontent.com/26351275/35246750-b3b87c0a-ffbf-11e7-9d68-8269a08afcb7.PNG)

[2018-01-23 05:33] lightningterror commented on #2246
There are 0 ps1 games on the GameIndex.dbf list IIRC.
Anyway seems that the question/request in the OP have been answered so I'll be closing this one.

You can continue the discussion btw.

[2018-01-23 05:33] #2246 closed

[2018-01-23 13:25] atomic83GitHub commented on #858
Did you test the game with the last 1.5dev build?

[2018-01-23 17:56] mirh commented on #2246
Guess like we might get more experts minds [here](https://forums.pcsx2.net/Thread-PSX-Mode-Unofficial-Compatibility-List?page=3).

p.s. after homura and makishima, I'm just left wondering who will be next. Motoko? Re-l?

[2018-01-23 18:59] MrCK1 commented on #2271
Did you try Auto Flush or Preload Frame Data?

[2018-01-23 19:00] FlatOutPS2 commented on #2271
It affects software mode too(likely a core issue). ;)

[2018-01-23 19:33] MrCK1 commented on #1800
I could maybe do a "psuedo test" of these options later. I don't have a 5.1 setup, but my SoundBlaster X-Fi is capable outputting separate channels, ect.

[2018-01-23 19:37] lightningterror commented on #1920
I narrowed down the fix. It was introduced in https://github.com/PCSX2/pcsx2/pull/688 so I guess this information will help when porting the code someday :stuck_out_tongue:

[2018-01-23 22:59] mirh commented on #1800
I thought Pro Logic was still, technically speaking, a stereo signal?

p.s. with audacity, I remember I could record without problems from all the 8 channels of my realtek together

[2018-01-24 00:32] MrCK1 commented on #1339
Added Dropship United Peace Force to the list: https://forums.pcsx2.net/Thread-Core-Bug-Report-Dropship-United-Peace-Force-NTSC?pid=578436#pid578436

(for those of you who saw the report earlier, skipdraw was accidentally enabled. The game looks much better in HW now ;) )

[2018-01-24 01:12] Volkanite opened #2274 "host directory support"
working on host directory support to go along with "Enable Host Filesystem" as a few important functions (mkdir, dopen, dread) aren't implemented as yet. I've made some progress so far, you can check https://github.com/Volkanite/pcsx2/tree/hostdir but am having some problems in regards to portability. More specifically, i am looking for a more portable way to work with directories as the current i

[2018-01-24 03:54] MrCK1 commented on #1739
I meant to post this a while ago, but it seems that the alpha channel (Drawcall 979 in the dump) of the input texture used for the GUI (with Preload Data Frame) is total junk. The problem is that the texture is located at FBP 0x0, which might be a problem?

For better or worse, the newer debug log makes no mention of channel shuffle or anything so it must've been a misdetected effect.

Raw dump w/

[2018-01-24 04:52] lightningterror commented on #2246
We shall see :smile:
Tho they weren't on my mind.

[2018-01-24 08:21] i30817 commented on #2246
You can distinguish ps1 games from  ps2 games from the 'boot' liine in system.cnf. PS2 games use a 'BOOT2' line.

[2018-01-24 09:57] atomic83GitHub commented on #2132
I will try the @turtleli PR for Guitar Hero, I will post the results here.

[2018-01-24 11:59] mirh commented on #2068
Does any of the tips [here](https://github.com/PCSX2/pcsx2/issues/1561#issuecomment-359249161) improve situation?

[2018-01-24 12:09] FlatOutPS2 commented on #2068
See @lightningterror 's first comment in this issue

[2018-01-24 14:01] FlatOutPS2 commented on #2132
@MrCK1 Are there any other games in the top list which are untested? If so, you should move those to the unconfirmed list.

[2018-01-24 17:23] atomic83GitHub commented on #2132
Nope, still doesn't work.

[2018-01-24 18:21] i30817 commented on #537
I actually don't really understand how this *can't* be considered a interface bug. So the user presses 'esc' to 'pause' the game, ok i buy it. But what the user wants is to is interact with the menu, savestate, loadstate etc.

If one of those options then helpfully maximizes the game window (ie: savestate) then the user wants it *running* not paused. Otherwise it might as well not have been 'helpf

[2018-01-24 18:32] i30817 commented on #2274
Is this some kind of iso alternative? Isn't that actually rather dangerous because devs could access sectors directly with offsets?

[2018-01-24 20:06] MrCK1 commented on #2132
I updated the list and moved a few to unconfirmed. I'll have to check Guitar Hero later, as I said before I never got it to freeze consistently - it could be an issue with a specific region of the game.

[2018-01-24 20:07] MrCK1 commented on #2257
@FlatOutPS2 @ssakash Any ideas on this?

[2018-01-24 21:24] FlatOutPS2 commented on #1324
Tested with latest git. He always shows up in HW mode too.

[2018-01-24 21:31] FlatOutPS2 commented on #1339
Added Silent Hill : Shattered Memories

[2018-01-24 22:17] FlatOutPS2 commented on #1945
Duplicate of #1325

[2018-01-24 22:17] #1945 closed

[2018-01-24 22:18] FlatOutPS2 commented on #1325
Timing issues cause missing audio, broken physics, especially during cutscenes.

Start the game with framelimiter set to Max or Turbo. The first cutscene after the FMVs the NPC will be silent, and will float towards his seat. Setting framelimiter to normal reduces risk of issue. Second cutscene issue described above seems to always happen even with normal framelimiter.

According to [this](https:/

[2018-01-25 01:29] MrCK1 commented on #2132
@prafullpcsx2 Can you see if videos in Dino Stalker still hang at the end? Thanks.

[2018-01-25 06:59] prafullpcsx2 commented on #1324
AFAIK he doesn't appear in HW mode unless we use skip draw = 1.

[2018-01-25 07:20] prafullpcsx2 commented on #2132
@MrCK1 Dino stalker video hangs were fixed long time ago. I retested the game today and can confirm the videos don't hang.

[2018-01-25 07:45] atomic83GitHub commented on #1928
Did you test this PR? https://github.com/PCSX2/pcsx2/pull/2275

[2018-01-25 10:25] atomic83GitHub commented on #2056
Blockdump can be usefull on this?

[2018-01-25 11:12] FlatOutPS2 commented on #1324
The only non-default setting I used was scaling to 2x. He appeared with both OGL and D3D.

[2018-01-25 11:35] FlatOutPS2 commented on #2056
The game seems to constantly switch between left and right speakers when playing audio.

@atomic83GitHub Is there a mono option in the game?

[2018-01-25 13:20] prafullpcsx2 commented on #1324
Tried every setting and he still doesn't appear in HW mode :D

Even tried a totally fresh install. Mine is NTSC version if that makes any difference. :P

May be a it's a rare windows driver related issue.

[2018-01-25 14:03] atomic83GitHub commented on #450
Can you test this with the folowing PR? https://github.com/PCSX2/pcsx2/pull/2275

[2018-01-25 14:26] atomic83GitHub commented on #2057
I will close this, the issues are know and there is no need to keep this open.

[2018-01-25 14:27] FlatOutPS2 commented on #1324
I'm guessing that it does. I'll reopen and add that this is likely a NTSC-U only issue.

[2018-01-25 16:08] atomic83GitHub commented on #2056
@FlatOutPS2, sorry for the late reply, the game don't have any sound option and is stuck at stereo.

[2018-01-25 16:52] FlatOutPS2 commented on #2057
@atomic83GitHub Can you add a gsdump?

[2018-01-25 17:27] atomic83GitHub commented on #2057
Here is the Gsdump:
https://drive.google.com/file/d/1ua2HAzmE8CrOXoHosRzjbsT1j9SR-1wU/view?usp=sharing

[2018-01-26 00:56] Squall-Leonhart commented on #2227
Isn't this libcrypt protected titles only, i thought pretty much all psx emulators did that with those.

[2018-01-26 02:19] MrCK1 opened #2277 "[Path 3 Masking Regression] - Eragon"
***PCSX2 version:***
v1.5.0-dev-2266

***PCSX2 options:***
Defaults. Speedhacks do not affect the issue.

***Plugins used:***
Defaults, GSdx OGL

***Description of the issue:***
After booting, Eragon will hang on a black screen.

***How to reproduce the issue:***
Boot the game, observe

***Last known version to work:***
```r5244```, broken in [r5245](https://github.com/PCSX2/pcsx2/commit/098640b06

[2018-01-26 07:54] atomic83GitHub commented on #1436
EE clamp mode to Full seems to be the correct fix, however the "falling through floor" issue need some investigation, we definitely need someone to test.

[2018-01-26 07:58] atomic83GitHub commented on #257
Can someone remove the "Software" and "Maybe?" label but instead add the "timing/voodoo" one?

[2018-01-26 08:01] atomic83GitHub commented on #267
First, did you try the last 1.5dev build?

[2018-01-26 08:05] atomic83GitHub commented on #310
The title of the issue is not realy true, the crash is located to the USBqemu plugin, the Nuvee ps2 USB for exemple is fine with Ratchet gladiator.

[2018-01-26 08:12] TheLastRar commented on #310
It's triggered by opening the net profile wizard in Ratchet Gladiator (and it crashes with Nuvee ps2 USB when I tested).

It's not exclusive to the net profile wizard, as .hack//Fragment will trigger the crash if you return to the start screen.

[2018-01-26 09:27] turtleli commented on #2277
Why are you trying to extract it? v1 blockdump = ISO with missing data, v2 blockdump = tagged sectors.

[2018-01-26 11:50] MrCK1 commented on #2277
Ah ok. Thanks for explaining the differences.

[2018-01-26 12:27] atomic83GitHub commented on #777
Seems that a Clamping/Rounding solve the issue, can you test some Clamp/round mode under EE/IOP and VUs tab?

[2018-01-26 18:17] FlatOutPS2 commented on #310
I managed to reproduce the issue with all the USB plugins I tried. So it's definitely a global issue, and still active on latest git.

[2018-01-26 18:27] atomic83GitHub commented on #310
Ah ok I thought you were talking about the game itself sorry. But yes, the network wizard crash with this plugin, you can avoid this by keeping the 1st port empty.

[2018-01-26 19:57] FlatOutPS2 commented on #1965
@atomic83GitHub Can you upload a blockdump of this issue?

[2018-01-26 23:00] refractionpcsx2 commented on #2277
I think I've fixed it, will upload shortly

[2018-01-26 23:02] #2277 closed

[2018-01-26 23:17] MrCK1 commented on #2277
I'll try it out.

[2018-01-26 23:24] refractionpcsx2 commented on #2277
Cool :) I couldn't tell if the game gets much further as the dump runs out pretty quick lol

[2018-01-26 23:26] MrCK1 commented on #2277
I'm testing out the rest of my games just to be sure, but I doubt there will be any major regressions. Hopefully nobody else comes back in 5 years ;)

[2018-01-26 23:26] refractionpcsx2 commented on #2277
Let's hope not :P

[2018-01-27 03:39] MrCK1 commented on #1339
Added Jak X (unconfirmed)

[2018-01-27 06:55] lorendias commented on #1047
After many years Metal Gear Solid 2 intro scene still lags, a modern implementation would be welcome especially if it resolved the issue.

[2018-01-27 11:02] lightningterror commented on #544
Budokai Tenkaichi 2 also experiences the same issue. Safe to assume the first one is also affected.

[2018-01-27 11:24] MarcoEstevez opened #2279 "Knights of the Temple: Infernal Crusade - HW Rederers - broken shaders/colors/textures"
***PCSX2 version:***
``PCSX2 1.5.0-20180114024700 - compiled on Jan 14 2018``

***Plugins used:***
``GS: GSdx32-AVX2.dll [GSdx 20180114024700 (MSVC 19.00 AVX2/AVX2) 1.1.0]``

Used default settings, no hacks

***Description of the issue:***
_Note the issue is pressent on all HW rederers, SW shows accurate graphics._

Any HW backend has severe graphical gliches, as far as I know and a did test, its

[2018-01-27 15:48] MrCK1 commented on #2279
Hmm, I was about to say that it looks like the same ossue COD2 has, but it's only in DX11. It possibly requires the full mipmapping implementation and the rest of the layers are bad.

A blockdump would help, so I could get a better idea of what's going on.

[2018-01-27 15:53] Lithium64 commented on #1047
What is needed to create Vulkan renderer? why not crowdfunding this project?

[2018-01-27 15:54] MrCK1 commented on #1047
We would need more developers/manower. Crowdfunding is still possibility in the late future.

[2018-01-27 15:58] Squall-Leonhart commented on #1047
Would need competent  vulkan implementations across the card vendors,  as Gregory has pointed out.

[2018-01-27 16:29] FlatOutPS2 commented on #1047
Vulkan !=magic solution to performance issues. We would be better off with more people working on core GSdx issues than we would be with a working Vulkan backend.

[2018-01-27 16:41] FlatOutPS2 commented on #2279
Enabling Frame Buffer Conversion hack shows this game has a top-left corner bug (and missing shader handling either corner case of 8-bit or it uses 4-bit textures).

[2018-01-27 18:55] MrCK1 commented on #2279
@MarcoEstevez Try Preload Frame Data - it works on the dump, but I doubt it will work in-game.

[2018-01-27 19:26] FlatOutPS2 commented on #2279
Preload Frame Data solves almost any bug shown in a GSdump. Ignore it, it's fake news.

[2018-01-27 22:15] FlatOutPS2 commented on #2132
@MrCK1 Did you test Black& Bruised yourself? @prafullpcsx2 once mentioned it was fixed years ago: https://github.com/PCSX2/pcsx2/pull/1507#issuecomment-241102750

[2018-01-27 22:16] MrCK1 commented on #2132
I took that one from the wiki, didn't test it myself. The last test case there is older.

[2018-01-27 22:28] #2266 closed

[2018-01-27 23:26] #1584 closed

[2018-01-28 01:47] QuantumDecay opened #2280 "PCSX 1.61"
***PCSX2 version:***
``(For example, stable build v1.4.0 (or) development builds v1.5.xxx)``

- **Notes**:
  - It's preferred to only report bugs which are present on the [latest development builds](http://pcsx2.net/download/development.html).
  - The PSX backward compatibility mode is still in its early stage of development. Issue reports are too early at this point.

***PCSX2 options:***
``(For

[2018-01-28 04:04] lightningterror commented on #2280
If you have an issue please format the Issue properly, otherwise I'm closing this for now.

[2018-01-28 04:04] #2280 closed

[2018-01-28 06:42] lightningterror commented on #84
That doesn't seem like a GSdx issue. Try playing with the clamping modes or similar options. That usually solves those kinds of bugs.

[2018-01-28 07:31] lightningterror commented on #878
The snap alignment has been fixed on 1.5 dev builds. 1.4 and 1.2.1 both experience the issue.

As for the spacing refraction mentioned I agree, plus there are more people that like it so let's leave it at that.

I'll be closing this one since the original issue has been solved.

[2018-01-28 07:31] #878 closed

[2018-01-28 07:53] lightningterror opened #2281 "Discussion: Changing default language from System Default to English"
Currently the default language when setting up PCSX2 for the first time or updating to a newer version is System Default which is ok if you're using English already however this can cause some minor issues where the language is another.

1. Missing translations for a specific language.
2. Out of date translations.
3. Console errors show up when a language translation is not available.

PCSX2 chang

[2018-01-28 10:52] mirh commented on #2281
If you deem a translation not to be "high quality" enough, imo, you should just cancel it out regardless.
Otherwise if it's just a couple of strings, that we don't consider accessibility-breaking enough for "voluntary users", I guess like that's enough _system default_ too.

[2018-01-28 11:12] FlatOutPS2 commented on #2281
Seeing as many users on the forum have to use translators to even post in English, I'd say that changing the default to English isn't a good idea. We could change it so it selects English when a language isn't available to stop the console warnings.

Out of date translations should be fixed before 1.6.0. That might need an entry on the website/forum requesting translators to fix those issues. If n

[2018-01-28 11:30] FlatOutPS2 commented on #2132
@prafullpcsx2 Does Crashed still freeze without the patch? If so can you upload a block dump of the issue?

[2018-01-28 11:40] mirh commented on #2281
I'd already expect english to be a fallback if no language is found.
Anyway, good points (if we use a software translator though, maybe we should put a comment/warning in the .po files)

[2018-01-28 11:53] FlatOutPS2 commented on #2281
It is, but it still tries to load the system language each timem which fails and creates the console warnings.

Definitely.

We could also add a list of all software translated and untranslated strings on the forum and in an issue here and ask people to proof read/help translate. Some users might not be interested in making a translation PR, but would likely be willing to help correct a few single

[2018-01-28 12:23] MrCK1 commented on #2281
See the chart I made here for reference: https://github.com/PCSX2/pcsx2/wiki/PCSX2-Version-Guide-for-Translations

[2018-01-28 12:27] mirh commented on #2281
Forums and reddit might be good places to advertise this. And it wouldn't hurt if we could do this kinda on the soon® side.

p.s. at least the "guide" column in that page is quite outdated. I checked italian and chinese, and they both are up-to-date to "latest" 1.2.1

[2018-01-28 12:30] MrCK1 commented on #2281
I'll make an announcement on Reddit sometime this week maybe.

Everything in that chart was imported from the old one - which I nuked. The GUI column is the only one I currently keep up to date.

[2018-01-28 14:07] MrCK1 commented on #1318
Added Hitman: Contracts. Side note, the camera is higher than it's supposed to be in HW mode. That's another good issue to investigate at some point.

![gsdx_20180128090644](https://user-images.githubusercontent.com/16314399/35482993-938b2492-040a-11e8-83a6-14e7b13b92c8.png)

[2018-01-28 23:20] turtleli commented on #2281
Maybe just me, but I don't think machine translations are much good right now. Here's an example:
[Google Translate Chinese to English translated recipe](https://translate.google.co.uk/translate?sl=zh-CN&tl=en&js=y&prev=_t&hl=en&ie=UTF-8&u=http%3A%2F%2Fwww.pco.gov.hk%2Ftc_chi%2Fresource%2Frecipes%2Frecipes_snacks_05.html&edit-text=&act=url)
[Microsoft Translator Chinese to English translated recip

[2018-01-28 23:28] mirh commented on #2281
I found [DeepL](https://www.deepl.com/translator) to really destroy competition tbh
... OTOH it only supports 7 languages though

[2018-01-28 23:35] FlatOutPS2 commented on #2281
Better it is than it are when there happen no translation be in the Population Center Science eXpo 2 is.

[2018-01-29 00:07] turtleli commented on #2281
I'd rather have untranslated strings than machine translated strings. That's my opinion.

[2018-01-29 00:49] FlatOutPS2 commented on #2281
There are many users that can't read English at all, so they will be better off with a machine translation than no translation at all. If there are too many missing strings, I would not want to add machine translation either. If the translation is too outdated or lacking, it might even be better to remove a language for the stable release.

But if there are just some essential strings missing and

[2018-01-29 00:49] MrCK1 commented on #2281
Our policy for GUI translations is already "no machine translations" - I don't see it being any different for now.

[2018-01-29 01:20] FlatOutPS2 commented on #2281
How do you know there aren't any already? 😛

[2018-01-29 01:39] turtleli commented on #2281
If you don't know the target language and there are no translators to be found, you won't be able to judge whether it's a good machine translation or not. Like how the machine translation examples I provided translated 粘米粉  as "Sticky rice noodles" instead of "rice flour" because 米粉 can be translated as rice noodles.

[2018-01-29 08:52] MarcoEstevez commented on #2279
I'll give a try anyway when I reach home.

[2018-01-29 10:18] lightningterror commented on #1327
@ivan89el can you provide me a gs dump ? I'll take a look at it.

[2018-01-29 12:54] ivan89el commented on #1327
GITS dump:
[GS.zip](https://github.com/PCSX2/pcsx2/files/1673572/GS.zip)
Rename GS.zip in GS.7z

[2018-01-29 17:59] MarcoEstevez commented on #2279
No changes at all activating "Preload Frame Data"

![image](https://user-images.githubusercontent.com/3447089/35525998-7b04332e-0526-11e8-9c9f-bfbc9f6bdbd5.png)

[2018-01-29 18:26] FlatOutPS2 commented on #2279
Thanks for confirming. It's not surprising it did nothing as the game has the other issues I mentioned and preload frame data will not produce a real result in a gsdump.

[2018-01-29 20:44] MarcoEstevez commented on #2279
Nop I should thanks to all you guys, for making such an amazing pieze of software, As I said, software mode works like a charm and I'm that kind of guy who prefers original graphics. I just reported it cause I did not see it on the wiki, and it might help to reveal some bugs or defects on harware implementation that could affect others games too.

[2018-01-31 01:45] BlackJoe23 commented on #1894
It might be easier to implement a per game config setting like in rpcs3. Although I'm not sure how it'd fit in the pcsx2 GUI. The most frustrating thing about the current model is having to switch settings every time you play a different game (unless you spend a bunch of time linking game ini's to shortcuts).

[2018-01-31 08:26] mirh commented on #1894
Yes, *per game config* is the point of this? I'm not sure where the news would be.
And it would have nothing to do with GUI. We already have a database for games, and there you'll have this.

Anyway, after the discussions in #2265... I'm wondering how many hacks would require a particular "logic", if we can hardcode in gsdx "don't use this or that on native resolutions"?

[2018-01-31 14:01] VoidXH commented on #1800
The problem is not the absence of any surround output, but the surrounds get the same signal as the fronts, even with DplDecodingLevel set to 1 or 2. DPL 1 would decode a mono surround track (by simply substracting one channel from another), and DPL 2 can actually create a pretty decent 5.1 sound.

[2018-01-31 14:50] FlatOutPS2 commented on #1800
Is there any soundtest homebrew for testing this?

[2018-01-31 19:30] ramapcsx2 commented on #1800
Not really, but the Tri Ace games use DPL2 nicely. In Star Ocean 3, there is a sound test where you can position the source "behind the listener" and it actually works, or used to work. The source was on the rear speakers.

[2018-01-31 19:56] turtleli commented on #1800
@VoidXH Can you post your full SPU2-X.ini?

[2018-02-01 00:36] FlatOutPS2 commented on #1800
@VoidXH Did you have AVC set to true? `AdvancedVolumeControl=True`

Once I set that and DplDecodingLevel to `2`, the `VolumeAdjust` channels work as they should.

[2018-02-01 00:44] MrCK1 commented on #1800
So what's the difference of `DplDecodingLevel` `1` and `2` in the .ini?

Regardless, it sounds like something that could be added to the GUI in the future - I was actually considering adding a tickbox and/or sliders for Advanced Volume Control.

[2018-02-01 00:50] FlatOutPS2 commented on #1800
https://en.wikipedia.org/wiki/Dolby_Pro_Logic#Dolby_Pro_Logic_II

Yeah, both DLP and AVC should be added to the GUI (an adaptive submenu depending on what expansion mode is selected seems like the best way to do it).

[2018-02-01 01:30] mirh commented on #1800
Should this be renamed to "improve DPL" then?
Btw I found [this nice writeup](https://stackoverflow.com/questions/23713626/correctly-implementing-dolby-pro-logic-ii)

[2018-02-02 05:02] morphx666 opened #2287 "Unable to run under Windows 10 (1709) x64 due to faulting module ucrtbase.dll"
***PCSX2 version:***
``stable build v1.4.0``

***PCSX2 options:***
``Default options (as set by the installer)``

***Plugins used:***
``Default plugins provided by the installer``

***Description of the issue:***
```The emulator starts and I can configure everything but as soon as I try to boot an ISO it crashes with the following message appearing in the Event Viewer:```

[code]

***How to reprod

[2018-02-02 06:04] lightningterror commented on #2287
v1.4.0 is outdated and supports VC 2013 and 2015.
v1.5.0 supports both 2015 and 2017 (depending on which VS version compiled it).

When you forked and compiled the repo it worked because master branch is v1.5.0
Buildbot currently compiles with 2015, Appveyor both 2015 and 2017.
https://buildbot.orphis.net/pcsx2/

As for compiling spu2-x, you will need the DirectX SDK to compile it properly.

Not a

[2018-02-02 06:04] #2287 closed

[2018-02-02 11:45] isshininu opened #2288 "Xinput-compatible gamepad not recognised by PCSX2 when it is not an Xinput Pad #0"
***PCSX2 version:***
latest git as of today (ab44ebd)

***Plugins used:***
Lilypad plugin with the default settings.

***Description of the issue:***
Sometimes Windows (especially Windows 10 https://github.com/PCSX2/pcsx2/issues/2130) changes ID of gamepad (when connect/reconnect, etc) from Xinput Pad #0 to something like Xinput Pad #1 or #2. Basically this is a follow-up of my previous bug-reques

[2018-02-02 11:52] FlatOutPS2 commented on #2288
When it switches to say, XInput pad 2, can't you reassign the controls in LilyPad with that?

[2018-02-02 12:39] isshininu commented on #2288
Well, i think this is possible, but what happens when pad returns to #0? It all looks like i will have to reassign all controls again? I'll try to catch this moment.

[2018-02-02 12:44] FlatOutPS2 commented on #2288
Yes, it would be annoying. But it does mean that LilyPad recognises the controller as it should and that it is purely a Windows issue. I could add a workaround option that if no Pad 0 is detected, Pad 1 or 2 will act as Pad 0, but that could have negative effect when using multiple XInput controllers if left enabled.

[2018-02-02 12:54] isshininu commented on #2288
Maybe something like that would help?
![168](https://user-images.githubusercontent.com/6324523/35734177-aa24392c-0839-11e8-8c18-08398315595a.png)
A simple selector.

[2018-02-02 13:02] FlatOutPS2 commented on #2288
A selector wouldn't work well here, as XInput Pad 1-3 might be used by Player 2-4. You can already swap bindings between diferent LilyPad pads by rightclicking the in Pad/Type/Bindins box on the general tab. So if your controller switches to XInput Pad 1, you can just swap the bindings between pad 1 and 2 to use XInput Pad 1 controls for Player 1(assuming you still have XInput Pad 1 controls setup

[2018-02-02 13:15] isshininu commented on #2288
![169](https://user-images.githubusercontent.com/6324523/35735021-99eaf462-083c-11e8-9269-6b1cdf68d3cb.png)

You mean this option?

[2018-02-02 13:31] FlatOutPS2 commented on #2288
Yes, that's the option I meant. You will need to add XInput Pad 2-3 controls to the other pads(temporarily enable Port 1 Multitap) in order resolve it when it changed to XInput Pad 2 or 3, as those are bindings are not there by default.

[2018-02-02 13:33] isshininu commented on #2288
Ok, i will close this issue, reopen if needed.

[2018-02-02 13:33] #2288 closed

[2018-02-02 21:26] mirh commented on #1956
So.. While re-inviting to test that, @masterotaku can you post quick tl;dr noob how-to for exclusive fullscreen with specialK ?

[2018-02-03 09:26] masterotaku commented on #1956
Sure. I have all instructions here, with focus on 3D Vision, mind you: http://helixmod.blogspot.com.es/2018/01/pcsx2-dx11.html

Follow the "Installation" and "Booting games" steps. If you don't play in 3D, you can just extract the "d3d9.dll" and "d3d9.ini" from my fix to the PCSX2 folder and ignore the rest of files. "d3d9.ini" is already configured to make exclusive fullscreen work.

To check if

[2018-02-03 12:15] jonata2717 commented on #2216
motorola Z force https://www.youtube.com/watch?v=4qeL2tBhzGM&t=40s

[2018-02-04 10:32] Swiftpaw commented on #1047
If the OGL renderer is much slower than the D3D one, unless someone can fix the performance disparity, VLK is an option.  Depends on what contributors are good at doing I guess.  Once you have VLK going you don't have to worry about specific driver bugs like with OGL, so it seems easier to maintain in the long run, just more work up front.  The RPCS3 devs sure seem to love it: https://rpcs3.net/bl

[2018-02-04 10:37] Squall-Leonhart commented on #1047
X-Y=/=Z

[2018-02-04 13:08] ghost opened #2289 "Hasbro Family game Night : Broken hardware render"
***PCSX2 version:***
Last 1.5dev

***PCSX2 options:***
All default, speedhack disabled don't change the issue.

***Plugins used:***
All default

***Description of the issue:***
The GSDX plugin is unable to display the screen correctly under hardware mode (image cut in half), look:

![capture](https://user-images.githubusercontent.com/26351275/35777753-8c110426-09b3-11e8-98a9-4dab375c1ceb.PNG)

-No

[2018-02-04 13:59] FlatOutPS2 commented on #2289
Probably related to this: https://github.com/PCSX2/pcsx2/issues/1341

[2018-02-04 18:08] lightningterror commented on #2219
This issue is also present in Budokai Tenkaichi 2.

[2018-02-04 19:07] BlackJoe23 commented on #1894
I personally think that not including any more per game config settings would alleviate the large git concerns. So if there was some way to easily edit in the gui that might require way less space and therefore minimize increase in git size since that seems to concern the devs.

[2018-02-04 19:37] Stickend commented on #2219
But I actually have a question with this: If you update the Disable Depth Emulation Code, it would correct automatically both games, but it will also affects other games, isn't it?

[2018-02-04 19:49] FlatOutPS2 commented on #2219
You might be able to use the new Skipdraw Offset(currently in pull request, will hopefully be merged soon) to remove the issue with fewer downsides.

[2018-02-04 19:56] Stickend commented on #2219
Good news then. I've testing a looot with this, and I almost know how every config affects the game. I'll be waiting till then to test it more, so I can communicate all of you how it goes ;)

[2018-02-04 20:15] FlatOutPS2 opened #2293 "Removing XPad"
***PCSX2 version:***
Up to the latest PCSX2 build.

Another user who used the XPad plugin and had controller issues popped up on the forum:
https://forums.pcsx2.net/Thread-RE-Need-for-Speed-Underground-2-SLES-52725-E

The XPad plugin is still included with the latest v1.5.0 builds, even though the LilyPad plugin offers the same functionality(out of the box XInput controls) as XPad without these is

[2018-02-04 20:19] MrCK1 commented on #2293
Unrelated to this specifically, but it would be nice to remove/move some of the other older stuff to legacy to prevent it from being included in the Github search.

[2018-02-04 21:04] mirh commented on #1894
Git size concerns were a dupe, leave those alone.

[2018-02-04 22:14] lightningterror commented on #2293
If there are no downsides and Lilypad is superior then go for it.
Btw it's been ages since XPad was updated.

[2018-02-05 00:20] refractionpcsx2 opened #2294 "Meta: Games with VU m-bit issues"
Currently this doesn't work properly, the issue being is on the PS2 the EE should be stalling waiting for VU0 to reach an "M" bit, but because we run the VU's instantly, this never happens, so my only vague solution was to stall the VU's once it hits an m-Bit then pick it up again later when the EE is ready.

Please check out the branch called pcsx2-mbit which improves the graphics on the followin

[2018-02-05 01:08] turtleli commented on #2293
Probably can be removed from the solution IMO. Any volunteers?

[2018-02-05 01:13] MrCK1 commented on #2293
I could possibly do it at some point. 🤞 - Hopefully I get no more merge conflicts